doctype html
html(class="no-js" lang="")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title Form
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap")
		link(rel="stylesheet" href="css/main.css?ver=978449")

	body
		section.secBox.secForm
			.secFormCont
				.formCont
					.formBox
						h3 ¿Necesita Asesoría?
						p Llene el siguiente formulario, o comuníquese con nuestra Central Telefónica.
						form.material-form
							.input-block.floating-field
								label(for="email_field") Ingrese su correo
								input.form-control(id="email_field", name="email_field",type="email")
							.input-block.floating-field
								label(for="phone_field") Teléfono de contacto
								input.form-control(id="phone_field", name="phone_field",type="number")
							.input-block.floating-field
								label(for="affair_field") Asunto
								input.form-control(id="affair_field", name="affair_field",type="text")
							.input-block.floating-field
								label(for="message_field") Escriba su mensaje
								.emptyField
								input.form-control(id="message_field", name="message_field",type="text",maxlength="150")
								
								
								.caracteresBox Caracteres restantes <span>150</span>
							button.btnSend(type="submit")
								span ENVIAR
							.btnLink
								span volver a invierta
				.noteBox
					h3 Central telefónica
					p Panamá
					h4 (507) 366 9600
					p <strong>Horario de atención</strong><br>Lunes a viernes, de 8:00 am a 8:00 pm




		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js")
		


		script(src="scripts/main.min.js?ver=26102020")