<div class="cardbox-back">
	<a data-section="home" href="javascript:void(0)" class="cardbox-back-link">
		<i class="icon icon-arrow-left-blue"></i> Volver a mi zona segura
	</a>
</div>
<div class="creditcard-title">
	<div class="creditcard-title-left">
		<div class="creditcard-title-icon">
			<i class="icon icon-purchase-white"></i>
			<div class="creditcard-title-main">
				<div class="cardbox-head-title">Tarjetas de crédito</div>
			</div>
		</div>
	</div>
	<div id="buttonsActions" class="creditcard-title-right buttons-actions-content">
		<button class="button button-actions">
			<i class="icon icon-download"></i>
		</button>
		<button class="button button-actions" data-modal="email">
			<i class="icon icon-mail"></i>
		</button>
		<button class="button button-actions">
			<i class="icon icon-printer"></i>
		</button>
	</div>
	<div class="buttons-actions-tablet">
		<button class="button button-actions" data-modal="email"><i class="icon icon-mail"></i> Enviar PDF</button>
		<button class="button button-actions" data-modal="email"><i class="icon icon-mail"></i> Enviar Excel</button>
	</div>
</div>
<div class="creditcard-container">
	<script type="x-tmpl-mustache" id="tmpCreditCard">
		{{#datos}}
		{{#cuenta}}
		{{#tarjetas}}
		<div id="{{idCard}}" class="creditcard-container-card">
			<div class="creditcard-container-card-number">{{cardNumber}}</div>
		</div>
		{{/tarjetas}}
		{{/cuenta}}
		{{/datos}}
	</script>
	<div id="mustacheCreditCard" class="creditcard-container-main"></div>
</div>

<div class="creditcard__main">
	<div class="creditcard__main--left">
		<div class="ccmain-head-top">
			<div id="infoCreditCard" class="creditcard-info"></div>
			<!-- Aquí está botones en Mobile -->
			<div class="mobile-buttons-actions">
				<div class="creditcard-payment">
					<button class="button button-primary">Pagar tarjeta</button>
				</div>
				<div class="buttons-actions-mobile">
					<button class="button button-actions" data-modal="email"><i class="icon icon-mail"></i> Enviar PDF</button>
					<button class="button button-actions" data-modal="email"><i class="icon icon-mail"></i> Enviar Excel</button>
				</div>
			</div>
		</div>

		<script type="x-tmpl-mustache" id="tmpTarjetaInfo">
			{{#datos}}
				{{#cuenta}}
				<div class="ccmain-head-bottom">
					<div class="linea-consumo"><span>Linea total consumida</span><span>{{lineaConsumida}}</span></div>
					<div class="progress-bar__container">
						<div class="progress-bar__container--gray">
							<div class="progress-bar__container--blue" style="width: {{lineaPorcentaje}}%;">
							</div>
						</div>
						<div class="progress-bar__container-legend"> <span>Linea total</span><span>{{lineaTotal}}</span></div>
					</div>
				</div>
				<div id="btnPagarTarjeta" class="creditcard-payment">
					<button class="button button-primary">Pagar tarjeta</button>
				</div>
				<hr class="creditcard-separator">
				<div class="creditcard__loan-detail">
					<div class="creditcard__loan-detail--left">
						<div class="cc__ld__left--row">
							<div class="cc__ld__left--colum">
								<div class="cc__ld--title">Pago del mes</div>
								<div class="cc__ld--value">{{pagoMes}}</div>
							</div>
							<div class="cc__ld__left--colum">
								<div class="cc__ld--title">Pago mínimo</div>
								<div class="cc__ld--value">{{pagoMin}}</div>
							</div>
						</div>
						<div class="cc__ld__left--row">
							<div class="cc__ld__left--colum">
								<div class="cc__ld--title">Último día de pago</div>
								<div class="cc__ld--value">{{ultimoPago}}</div>
							</div>
							<div class="cc__ld__left--colum">
								<div class="cc__ld--title">Cierre de facturación</div>
								<div class="cc__ld--value">{{cierreFact}}</div>
							</div>
						</div>
					</div>
					<div class="creditcard__loan-detail--right">
						<div class="cc__ld--status">
							<div class="cc__ld--title">Status*</div>
							<div class="cc__ld--value">{{statusCard}}</div>
						</div>
						<div class="cc__ld--inteligo-points">
							<div class="cc__ld--title">Puntos Intéligo*</div>
							<div class="cc__ld--value">{{puntosInteligo}}</div>
						</div>
					</div>
				</div>
				<div class="creditcard-disclaimer">{{{description}}}</div>
				<div class="creditcard-content-links">
					<div class="creditcard-terminos">
						<a href="javascript:void(0)" class="creditcard-terminos-link">Ver términos y condiciones</a>
					</div>
					<div class="creditcard-consulta">
						<div class="tooltip-main tooltip-main-left" data-tooltip-positionx="left" data-tooltip-positiony="top"  >
			        		<div class="tooltip-main-text link-table-blue">¿Tiene alguna consulta? </div>
			            	<div class="tooltip-main-content" >
								<i class="icon icon-help-blue"></i>
								<div class="tooltip-main-info tooltip-consulta">
									<div class="tooltip-main-title">Centro de procesamiento de tarjeta de <br>crédito: <span>{{numLocal}}</span></div>
									<div class="tooltip-main-title">Desde USA y Canadá: <br> <span>{{numUsa}}</span></div>
									<div class="tooltip-main-title">Resto del mundo: <br> <span>{{numOtros}}</span></div>
								</div>
							</div>
			        	</div>
					</div>
				</div>
				{{/cuenta}}
			{{/datos}}
		</script>
		<div id="mustacheTarjetaInfo"></div>
	</div>

	<div class="creditcard__main--right">
		<div class="creditcard__main__button">
			<button class="button button-secondary">Estado de cuenta</button>
			<button id="btnModalViaje" class="button button-terciary">Aviso de viaje</button>
		</div>
		<script type="x-tmpl-mustache" id="tmpCreditcardMovimientos">
			{{#datos}}
			<tr class="creditcard-table-tr" data-date="{{idMovcc}}">
				<td class="t-a-l">
					<div class="creditcard-motion-detail">
						<div class="creditcard-motion-detail__date">{{titlemovcc}} {{idMovcc}}</div>
						<div class="creditcard-motion-detail__description">{{fechamovcc}}</div>
					</div>
				</td>
				{{#statumovcc}}
				<td>
					<div class="td-cc-table creditcard-status-success">
						<i class="icon icon-triangle-up"></i>
						<div class="creditcard-monto">{{montomovcc}}</div>
					</div>
				</td>
				{{/statumovcc}}

				{{^statumovcc}}
				<td>
					<div class="td-cc-table creditcard-status-error">
						<i class="icon icon-triangle-down"></i>
						<div class="creditcard-monto">{{montomovcc}}</div>
					</div>
				</td>
				{{/statumovcc}}

			</tr>
			{{/datos}}
		</script>
		<div class="creditcard-movimientos">
			<table class="creditcard-table">
				<thead>
					<tr class="t-a-l">
						<th>Movimientos</th>
						<th>Monto</th>
					</tr>
				</thead>
				<tbody id="mustacheCreditcardMovimientos">
					<tr>
						<td>No hay data</td>
					</tr>
				</tbody>
				<tfoot class="creditcard-table-tfooter">
					<tr>
						<td colspan="2">
							<div id="btnShowMore" class="creditcard-showmore"></div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
