/*
 * Card Cuenta creditcard Desktop
 * @author JCarlosR, mfyance
 */

.main-card-creditcard {
	margin-top: 0px;
	padding: 0;
	padding-bottom: 37px;
}

.creditcard-content {
	padding: 30px 32px;
}
.mobile-buttons-actions .creditcard-payment {
	display: none;
}

.content-creditcard-header {
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	border: 1px solid #92969a;
	height: 76px;
}
.pos-viewer {
	position: relative !important;
	margin: auto 40px !important;
}
.pos-viewer-2 {
	/* position: relative !important; */
	margin-top: -9px !important;
	margin-right: 32px !important;
}

.subtotal-header {
	display: flex;
	flex-direction: row;
	gap: 32px;
	margin: auto 15%;
}

.saldo-creditcard-text {
	font: 18px var(--font-primary);
	color: #92969a;
}

.saldo-creditcard-amount {
	font: 20px var(--font-primary-bold);
	color: var(--color-secondary);
}

.creditcard-back-link:hover {
	color: var(--color-primary);
}
.creditcard-back-link i {
	margin-right: 4px;
}
.creditcard-back-link i:hover {
	fill: #041f68;
}
.creditcard-back-link {
	color: var(--color-primary);
	font: 16px var(--font-primary-semibold);
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
}
.creditcard-back {
	padding: 10px 20px;
	background: #fff;
}
.creditcard-title {
	background: linear-gradient(93.59deg, #02133e -225.28%, #2765f5 87.41%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	padding-bottom: 88px;
}
.creditcard-title-left {
	display: flex;
}
.creditcard-title-icon {
	/* padding: 20px; */
	display: flex;
	align-items: center;
}

.creditcard-container:scrollbar {
	width: 8px;
	display: block;
}
.creditcard-container::-webkit-scrollbar-track {
	background: #ffffff;
}

.creditcard-container::-webkit-scrollbar-thumb {
	background-color: #8a8a8a;
	border-radius: 0px;
	border: 0px none #ffffff;
}
.creditcard-container {
	margin-top: -80px;
	display: flex;
	justify-content: flex-start;
	width: 100%;
}
.creditcard-container-big .creditcard-container-main {
	width: 100%;
	justify-content: center;
	padding-right: 0;
}
.creditcard-container-big {
	overflow: auto;
	justify-content: center;
	align-items: center;
}
.creditcard-container-main {
	width: 100%;
	display: flex;
	overflow: auto;
	align-items: center;
	gap: 10px;
	height: 190px;
	transition: all 0.4s ease;
}

[data-total-cards='1'] .creditcard-container-main,
[data-total-cards='2'] .creditcard-container-main,
[data-total-cards='3'] .creditcard-container-main {
	justify-content: center;
	margin-left: 0;
}
[data-total-cards='1'],
[data-total-cards='2'],
[data-total-cards='3'] {
	margin-left: 0;
	justify-content: center;
}
[data-total-cards='4'] .creditcard-last {
	margin-left: 0 !important;
}
[data-total-cards='4'] .creditcard-container-main {
	width: 100%;
	padding-right: 30px;
	padding-left: 30px;
}
.creditcard-container-card.active {
	background-image: url(img/creditcard.png);
	margin-top: 5px;
	transform: scale(1.2);
	z-index: 2;
	margin: 0 20px;
}
.creditcard-container-card:not(.active):hover {
	transform: scale(0.95);
}
.creditcard-container-card {
	width: 250px;
	min-width: 250px;
	background-image: url(img/creditcard-gray.svg);
	background-size: contain;
	position: relative;
	height: 160px;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 1;
	transform: scale(1);
}
.creditcard-container-card-number {
	position: absolute;
	bottom: 35%;
	right: 10%;
	color: #d6d6d6;
	font: 16px var(--font-secondary);
}

.creditcard__main {
	display: flex;
	padding: 20px 40px 0;
	gap: 40px;
	margin-top: 5px;
}

.creditcard__main--left,
.creditcard__main--right {
	width: calc(100% / 2);
}
.creditcard__main--right {
	display: flex;
	flex-direction: column;
}
.creditcard__main__button {
	display: flex;
	width: 100%;
	gap: 25px;
	margin-top: 60px;
}
.creditcard__main__button button {
	width: 50%;
}
.ccmain-head-top {
	display: flex;
	flex-direction: column;
	color: #233e99;
	margin-bottom: 24px;
}
.ccmain-head-top span:first-child {
	font: 20px var(--font-primary-semibold);
}
.ccmain-head-top span:last-child {
	font: 18px var(--font-primary-semibold);
}
.visa-card {
	transition: all 0.3s 0s ease-in-out;
	-webkit-transition: all 0.3s 0s ease-in-out;
	-moz-transition: all 0.3s 0s ease-in-out;
	-ms-transition: all 0.3s 0s ease-in-out;
	-o-transition: all 0.3s 0s ease-in-out;
}
.visa-card:hover {
	transform: scale(1.05);
	margin: 0 32px;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}
.visa-card.active {
	margin: 0 20px;
	/*background-image: url(img/credit-card-grey.svg);
  /*transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15); */
	/* margin-top: -10px; */
}

/* PROGRESS-BAR/ */
.linea-consumo {
	margin-bottom: 8px;
}
.linea-consumo span:first-child {
	font: 16px var(--font-primary-medium);
	color: #494b4e;
	margin-right: 14px;
}
.linea-consumo span:last-child {
	color: var(--color-secondary);
	font: 20px var(--font-primary-bold);
}
.progress-bar__container {
	margin: auto;
	text-align: center;
	width: 100%;
}
.progress-bar__container--gray {
	text-align: left;
	/* margin: 2px auto; */
	font-size: 0px;
	line-height: 0px;
	background: #d9d9d9;
	overflow: hidden;
	border-radius: 6px;
}
.progress-bar__container--blue {
	font-size: 0px;
	line-height: 0px;
	height: 13px;
	background: #233e99;
}
.progress-bar__container-legend span:first-child {
	margin-right: 5px;
}
.progress-bar__container-legend {
	font: 16px var(--font-primary);
	color: #494b4e;
	text-align: left;
	margin-top: 10px;
}
.progress-bar__container-legend span:first-child {
	font: 16px var(--font-primary-medium);
	color: #494b4e;
}
.progress-bar__container-legend span:last-child {
	color: var(--color-secondary);
	font: 16px var(--font-primary-bold);
}

.creditcard-payment button {
	width: 100%;
	margin-top: 32px;
}

/* FIN DE PROGRESS-BARD */

.creditcard-separator {
	margin: 24px 0;
	border: 1px solid #dde1e6;
}
.creditcard__loan-detail {
	display: flex;
	justify-content: space-between;
}
.cc__ld__left--top {
	display: flex;
	margin-bottom: 10px;
	width: 100%;
}
.cc__ld__left--bottom {
	display: flex;
	/* gap: 70px; */
	width: 100%;
	margin: 0;
}
.cc__ld--title {
	font: 14px var(--font-primary);
	color: #7a7d80;
	white-space: nowrap;
	margin-bottom: 8px;
}
.cc__ld--value {
	font: 16px var(--font-primary-semibold);
	color: #494b4e;
}
.cc__ld__left--row {
	width: 100%;
	display: flex;
	gap: 20px;
}
.cc__ld__left--colum {
	display: flex;
	margin-bottom: 16px;
	width: 100%;
	flex-direction: column;
}
.creditcard__loan-detail--left {
	width: 70%;
	flex-direction: column;
	display: flex;
}
.creditcard__loan-detail--right {
	width: 25%;
}
.cc__ld--status {
	margin-bottom: 16px;
}
.creditcard-disclaimer span {
	white-space: nowrap;
}
.creditcard-disclaimer {
	font: 12px var(--font-primary);
	color: #494b4e;
	margin: 16px 0;
	line-height: 20px;
	margin-top: 6px;
}

.creditcard-consulta {
	font: 16px var(--font-primary-semibold);
	color: var(--color-primary);
}
.creditcard-terminos-link {
	font: 16px var(--font-primary-semibold);
	color: var(--color-secondary);
}
.creditcard-terminos {
	margin-bottom: 16px;
}

.creditcard-showmore {
	cursor: pointer;
	color: var(--color-primary);
	font: 14px var(--font-primary-semibold);
	text-align: left;
	padding: 16px 20px;
	text-decoration: underline;
	text-underline-position: under;
	text-align: right;
}

/*POR REVISAR*/
.creditcard-title-main {
	margin-left: 12px;
}
.creditcard-title-primary {
	color: #ffffff;
	font: 24px var(--font-primary-bold);
	/* max-width: 216px; */
	/*  margin-bottom: 15px;*/
}
.creditcard-title-secondary {
	color: #fff;
	font: 16px var(--font-primary);
	/* max-width: 457px; */
}
.creditcard-title-secondary em {
	font: var(--font-primary-bold);
}
.creditcard-title-rigth .icon-arrow-w {
	margin-left: 16px;
}

.main-creditcard-detail {
	border: 1px solid #92969a;
	margin: 24px 0;
	border-radius: 5px;
	display: flex;
	padding: 18px 0;
	justify-content: space-around;
}
.creditcard-detail-left {
	text-align: center;
}
.creditcard-type {
	font: 14px var(--font-primary);
	color: #7a7d80;
	line-height: 18px;
}
.creditcard-type-number {
	font: 18px var(--font-primary-bold);
	color: #464748;
	line-height: 20px;
	margin-bottom: 5px;
}
.creditcard-hr {
	width: 2px;
	background: #e5e5e5;
}
.creditcard-detail-middle {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.detail-middle-top {
	display: flex;
	margin-bottom: 5px;
}
.detail-middle-top > div:first-child {
	font: 14px var(--font-primary-bold);
	color: #7a7d80;
}
.detail-middle-top > div {
	font: 14px var(--font-primary-bold);
	color: #233e99;
}
.creditcard-detail-middle .divider-short {
	width: 2px;
	background: #92969a;
	margin: 0 8px;
}

.detail-middle-bottom {
	font: 18px var(--font-primary-bold);
	color: #464748;
	line-height: 20px;
}
.detail-right-top {
	font: 14px var(--font-primary);
	color: #7a7d80;
	line-height: 18px;
	margin-bottom: 5px;
}
.detail-right-bottom {
	font: 18px var(--font-primary-bold);
	color: #233e99;
	line-height: 20px;
}
.select-button {
	width: 16px;
	height: 16px;
	margin-right: 6px !important;
}
.creditcard-arrow > i {
	margin-top: 10px;
}
.creditcard-detail-right {
	cursor: pointer;
}
.creditcard-arrow {
	cursor: pointer;
}

.detail-creditcard-block {
	display: flex;
	flex-direction: row;
	gap: 2px;
}
.detail-creditcard-cards {
	background: #f2f4f8;
	padding: 15px 0;
	margin: auto;
	width: calc(100% / 3);
}
.creditcard-cards-title {
	color: var(--color-secondary);
	font: 20px var(--font-primary-bold);
	line-height: 20px;
	text-align: center;
	margin-bottom: 6px;
}
.creditcard-cards-subtitle {
	color: #494b4e;
	font: 16px var(--font-primary-medium);
	line-height: 20px;
	text-align: center;
}
.buttons-creditcard-block {
	display: flex;
	justify-content: space-between;
	margin: 0 32px;
	margin-bottom: 32px;
}

.creditcard-title-right {
	display: flex;
	gap: 4px;
}
.button-50 {
	width: 50%;
	font: 16px var(--font-primary-semibold) !important;
}
.creditcard-movements {
	margin: 0 32px 24px;
	display: flex;
	flex-direction: row;
	column-gap: 64px;
}
.creditcard-movements-title {
	font: 18px var(--font-primary-bold);
	color: #494b4e;
	margin: 0 32px;
	margin-bottom: 16px;
}
.creditcard-movements-title > span {
	color: #233e99;
}
.creditcard-movements--legend {
	margin-bottom: 4px;
	font: 12px var(--font-primary-bold);
	color: #191a1b;
}
.creditcard-select {
	width: 251px;
	font: 14px var(--font-primary);
	/* padding: 12px; */
	border: solid 1px #aaaeb3;
	color: #191a1b;
	height: 40px !important;
}
.creditcard-select option {
	border-radius: 0;
	padding: 8px;
}

.detail-creditcard-main-header {
	display: flex;
	margin-bottom: 24px;
}
.detail-creditcard__header--title {
	font: 24px var(--font-primary-semibold);
	color: var(--color-secondary);
	line-height: 30px;
}

.detail-creditcard__header--subtitle {
	font: 18px var(--font-primary-medium);
	color: #494b4e;
	line-height: 30px;
}

.creditcard-table th:first-child,
.creditcard-table tbody tr td:first-child {
	width: 60%;
	display: inline-flex;
	justify-content: flex-start;
}
.creditcard-table th:last-child,
.creditcard-table tbody tr td:last-child {
	width: 40%;
	display: inline-flex;
	justify-content: flex-end;
	padding-right: 30px;
}
.creditcard-table tbody::-webkit-scrollbar {
	width: 8px;
	display: block;
}

.creditcard-table tbody::-webkit-scrollbar-track {
	background: #ffffff;
}

.creditcard-table tbody::-webkit-scrollbar-thumb {
	background-color: #8a8a8a;
	border-radius: 0px;
	border: 0px none #ffffff;
}

.creditcard-table tbody {
	height: 285px;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	width: 100%;
	flex-direction: column;
	position: relative;
}
.creditcard-table {
	border-collapse: collapse;
	margin-top: 30px;
}
.creditcard-table-td-msj p {
	padding: 10px;
	font: 14px var(--font-primary);
	color: #6a6a6c;
	text-align: center;
}
.creditcard-table-td-msj {
	width: 100% !important;
	display: block !important;
}
.creditcard-table th {
	padding: 12px 16px;
	background: #dde1e6;
	font: 14px var(--font-primary-semibold);
	color: var(--color-gray-bold);
}
.creditcard-table tr {
	border-bottom: 1px solid #dde1e6;
	width: 100%;
	display: flex;
}
.creditcard-table tr:last-child {
	border-bottom: 0;
}
.creditcard-table td {
	background: #f2f4f8;
	width: calc(100% / 2);
}
.creditcard-table td:nth-child(2) {
	vertical-align: middle;
	font: 14px var(--font-primary-medium);
	/* color: #6A6A6C; */
	align-items: center;
}
.creditcard-table td:last-child {
	font: 14px var(--font-primary);
	color: #494b4e;
	/* padding-right:26px; */
	vertical-align: middle;
}
.creditcard-table-tfooter {
	height: 40px;
	border-top: 1px solid #dde1e6;
	display: none;
}
.creditcard-table-tfooter td:last-child {
	padding-right: 0;
	width: 100%;
}

.td-cc-table {
	display: flex;
	justify-content: space-between;
	width: 62px;
}
.creditcard-motion-detail {
	padding: 10px 16px;
}
.creditcard-motion-detail__date {
	font: 14px var(--font-primary-bold);
	color: #6a6a6c;
	white-space: nowrap;
}
.creditcard-motion-detail__description {
	font: 14px var(--font-primary);
	color: #7b7c7e;
	line-height: 20px;
}

.creditcard-status-success {
	color: #48a17e;
	font: 14px var(--font-primary-semibold);
}
.creditcard-status-error {
	color: #c73723;
	font: 14px var(--font-primary-semibold);
}
.td-cc-table i {
	margin-top: 2px;
	/* margin-right: 16px; */
	transform: scale(1.5);
}

.creditcard-movements-right {
	display: flex;
	flex-direction: row;
	column-gap: 4px;
}
.creditcard-movements-right__from {
	display: flex;
	flex-direction: column;
	width: 140px;
}
.creditcard-movements-right__from input {
	padding: 8px 12px;
	border: 1px solid #aaaeb3;
	height: 40px !important;
}
.creditcard-movements-right__from input:focus {
	border: 1px solid var(--color-primary);
}
.creditcard-movements-right__to {
	display: flex;
	flex-direction: column;
	width: 140px;
}
.creditcard-movements-right__to input {
	padding: 8px 12px;
	border: 1px solid #aaaeb3;
	height: 40px !important;
}
.creditcard-movements-right__to input:focus {
	border: 1px solid var(--color-primary);
}
.customize-button-calendar button {
	width: 260px;
	height: 40px;
	margin-top: 18px;
	margin-left: 20px;
}

.creditcard-info div:first-child {
	font: 20px var(--font-primary-bold);
	color: var(--color-secondary);
	margin-bottom: 8px;
}
.creditcard-info div:last-child {
	font: 18px var(--font-secondary-semibold);
	color: var(--color-secondary);
	padding-left: 28px;
}
