/*
 * Card Cuenta creditcard
 * @author JCarlosR
 */

@import url("creditcard-desktop.css");

@media screen and (min-width: 601px) and (max-width: 999px) {
    .creditcard-movements{
        column-gap: 33px;
    }
    .creditcard-movements-right__from {
        width: 90px;
    }
    .creditcard-movements-right__to {
        width: 90px;
    }
    .customize-button-calendar button {
        width: 150px;
        margin-left: 33px;
    }
    .button-50 {
        max-width: 220px;
    }
    .subtotal-header {
        margin: auto;
    }
}


@media screen and (min-width: 1920px) {
    .main-card-creditcard {
        padding: 0;
        margin: 4px 20px !important;
        padding-bottom: 40px;
    }
    .creditcard__main {
        display: flex;
        padding: 50px 151px 0 !important;
        gap: 161px !important;
    }
    .creditcard__main--left {
        width: 40% !important;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
    .creditcard__main--left {
        width: 46% !important;
    }
    .creditcard__main {
        padding: 20px 40px 0 !important;
        gap: 72px !important;
    }
}

@media screen and (min-width: 1280px) {
    .creditcard__main {
        padding: 20px 24px 0;
        gap: 52px;
    }
}

@media screen and (max-width: 1279px) {
    .creditcard-consulta{
        margin-bottom: 20px
    }
    [data-total-cards="4"] .creditcard-container-main{
        margin: 0;
        width: 100%;
        padding-left: 50px;
    }
    .main-card-creditcard {
        /* margin-top: 12px; */
        padding: 0;
    }
}

@media screen and (max-width: 1023px) {
    .creditcard-payment{
        display: none;
    }
    #cloneOptions .creditcard-payment{
        display: block;
    }
    .creditcard-content-links{
        display: flex;
        justify-content: space-between;
    }

    .creditcard-table-tfooter td{
        width: 100% !important;
    }
    .creditcard-table{
        margin-top: 20px;
    }
    .creditcard__main__button{
        margin-top: 0
    }
    .creditcard-payment button{
        margin: 15px auto;
        width: 280px;
        margin-top: 0;
    }
    .creditcard-table-tfooter {
        display: flex;
        align-items: center;
        height: auto;
    }
    .creditcard-table tbody{
        height: auto;
        overflow-y: inherit;
        overflow-x: inherit;
    }
    .main-card-creditcard {
        /* margin-top: 12px; */
        padding: 0;
    }
    .creditcard__main{
        flex-direction: column;
        gap: 0;
        padding: 30px;
    }
    .creditcard__main--left, .creditcard__main--right {
        width: 100%;
    }
 
 

    .main-creditcard-detail {
        background: white;
        flex-direction: column;
        border: 1px solid #DDE1E6;
        padding: 24px;
        padding-bottom: 16px;
    }

    .detail-middle-top {
        justify-content: center;
    }

    .creditcard-detail-left {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 2px solid #E5E5E5;
    }
    .ccmain-head-bottom {
        margin-top: 16px;
    }

    .creditcard-detail-middle {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 2px solid #E5E5E5;
    }

    .creditcard-detail-right {
        text-align: center;
        padding-bottom: 16px;
        border-bottom: 1px solid #e5e5e5;
        width: calc(100% + 48px);
        margin-left: -24px;
    }

    .creditcard-arrow {
        display: flex;
        justify-content: flex-end;
    }

    .creditcard-arrow>i {
        margin-top: 16px;
    }

    .creditcard-arrow>i::before {
        font: 16px var(--font-primary-medium);
        color: var(--color-primary);
        content: "Ver detalle";
        display: flex;
        position: absolute;
        left: 58px;
    }

    .detail-creditcard__header {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .detail-creditcard-main-header {
        flex-direction: column;
    }

    .detail-creditcard-block {
        flex-direction: column;
    }

    .detail-creditcard-cards {
        width: 100%;
    }

    .pos-viewer-2 {
        margin-top: 16px !important;
        margin-bottom: 0 !important;
    }

    .buttons-creditcard-block {
        flex-direction: column;
        gap: 12px;
        margin: 0 24px 24px;
    }
    .creditcard-content {
        padding: 24px;
    }

    .creditcard-movements {
        display: flex;
        flex-direction: column;
        margin: 0 24px 0px;
    }

    .creditcard-movements-title {
        margin-bottom: 24px;
    }

    .creditcard-movements--legend {
        margin-bottom: 8px;
    }

    .creditcard-select{
        width: 100%;
    }
  

    .button-50 {
        width: 100%;
    }

    .content-creditcard-header {
        flex-direction: column-reverse;
        height: inherit;
        padding: 16px;
        background: #fff;
        border: 1px solid #DDE1E6;
    }

    .subtotal-header {
        flex-direction: column;
        text-align: center;
        gap: 4px;
    }

    .pos-viewer {
        margin: 0px !important;
        margin-top: 16px !important;
    }

    .creditcard-card-container {
        /* width: 900px; */
        overflow-x: scroll;
        justify-content: left;
        width: 100%;
    }

    .creditcard-card-container .visa-card { 
        min-width: 100%;
        min-height: 100%;
    }


    .creditcard__main__button {
        display: flex;
        width: 100%;
        gap: 20px;
    }

    .creditcard__main__button button {
        width: 100%;
    }
    /* ESTILOS DE LA TABLA VERSIÓN MOBILE */
    #mustachecreditcardMobile {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 24px;
    }

    #chck1 {
        position: absolute;
        opacity: 0;
        z-index: -1;
        visibility: hidden;
    }

    .chekbox-mtable {
        visibility: hidden;
        height: 0;
        width: 0;
        display: none;
    }

    /* Accordion styles */
    .folding-mtable {
        border-radius: 0px;
        overflow: hidden;
        margin: 0 24px;
    }

    .tab-mtable {
        width: 100%;
        color: #191A1B;
        overflow: hidden;
    }

    .tab-label {
        display: flex;
        justify-content: space-between;
        padding: 12px 16px;
        background: #DDE1E6;
        font-weight: bold;
        cursor: pointer;
        font: 14px var(--font-primary-semibold);
        /* Icon */
    }

    .tab-label:hover {
        background: #DDE1E6;
    }

    .tab-label::after {
        content: "\276F";
        width: 20px;
        height: 20px;
        text-align: center;
        transition: all 0.35s;
        color: #1148c6;
        transform: rotate(270deg);
    }

    .tab-content {
        max-height: 0;
        padding: 0 16px;
        font: 14px var(--font-primary);
        color: #7B7C7E;
        background: #F2F4F8;
        transition: all 100ms;
        border-bottom: 1px solid #dde1e6;
    }

    .tab-content:last-child {
        border-bottom: 0
    }

    .tab-content-middle {
        display: flex;
        justify-content: space-between;
    }

    .tab-content-middle-left {
        font: 14px var(--font-primary-medium);
        color: #313334;
    }

    .tab-content-bottom {
        display: flex;
        justify-content: space-between;
    }

    .tab-content-bottom-left {
        font: 14px var(--font-primary-medium);
        color: #313334;
    }

    .tab-content-bottom-right {
        font: 14px var(--font-primary-medium);
        color: #494B4E;
    }

    .chekbox-mtable:checked+.tab-label {
        background: #DDE1E6;
    }

    .chekbox-mtable:checked+.tab-label::after {
        transform: rotate(90deg);
    }

    .chekbox-mtable:checked~.tab-content {
        max-height: 100vh;
        padding: 12px 16px;
    }

    .creditcard-status-success {
        color: #48A17E;
        font: 14px var(--font-primary-semibold);
    }

    .creditcard-status-error {
        color: #C73723;
        font: 14px var(--font-primary-semibold);
    }

    .tab-content-middle-right i {
        margin-right: 10px;
    }

    .creditcard-movements-right {
        flex-direction: column;
    }

    .creditcard-movements-right__from{
        width: inherit;
        margin-top: 16px;
    }

    .creditcard-movements-right__to{
        width: inherit;
        margin-top: 16px;
    }
    .customize-button-calendar button {
        width: 100%;
        margin: 16px 0 0 0;
    }
    .creditcard-table-mobile{
        margin-top: 24px;
    }
    .ccmain-head-top{
        display: flex;
        flex-direction: inherit;
        justify-content: space-between;
    }
    .mobile-buttons-actions .mobile-buttons-send{
        display: none;
    }
    .mobile-buttons-actions .creditcard-payment{
        display: block;
    }

}
@media screen and (max-width: 900px){  
 
    [data-total-cards="3"] .creditcard-container-card:last-child{
        margin-right: 40px
    }
    
    [data-total-cards="3"] .creditcard-container-main {
        justify-content: flex-start;
        width: 100%;
        padding-left: 30px;
    }
}


@media screen and (max-width: 700px){
    
    .creditcard-payment button{       
        width: 100%;
        margin-top: 15px;
    }
    .ccmain-head-top,
    .creditcard__main__button{
        flex-direction: column;
    }
    .creditcard__loan-detail {
        display: flex;
        flex-direction: column;
    }

    .creditcard__loan-detail--left,
    .creditcard__loan-detail--right {
        width: inherit;
    }

    .creditcard__loan-detail--right {
        display: flex;
        width: 100%;
        gap: 20px;
    }
    .cc__ld--inteligo-points,
    .cc__ld--status{
        width: 100%;
    }
    .creditcard-content-links{
        flex-direction: column;
    }
    .creditcard-consulta{
        margin-right: auto;
    }
    .creditcard-consulta .tooltip-main {
        align-items: flex-start;
        gap: 4px;
    }
    .creditcard-consulta .link-table-blue {
        font: 16px var(--font-primary-semibold);
    }
    .linea-consumo {
         display: flex;
         flex-direction: column;
    }
    .linea-consumo span:first-child {
        font: 14px var(--font-primary-medium);
    }
    .linea-consumo span:last-child {
        font: 16px var(--font-primary-bold);
    }
    .creditcard-showmore {
        text-align: left;
        padding: 16px;
    }
    .creditcard-table {
        margin-top: 24px;
    }
    .creditcard__main__button {
        gap: 16px;
    }
}
@media screen and (max-width: 600px){
    .creditcard-motion-detail{
        padding: 12px 6px 12px 12px
    }
    .creditcard-table th:first-child, 
    .creditcard-table tbody tr td:first-child{
        width: 70%;
    }
    .creditcard-table th:last-child, 
    .creditcard-table tbody tr td:last-child{
        width: 30%;
        padding-right: 12px;
    }
    .creditcard-info{
        margin-bottom: 5px;
    }
    [data-total-cards="2"] .creditcard-last{
        margin-left: 0 !important
    }
    [data-total-cards="2"] .creditcard-container-card:last-child{
        margin-right: 40px
    }
    [data-total-cards="2"] .creditcard-container-main  {
        justify-content: flex-start;
        width: 100%;
        padding-left: 30px;
    }
    [data-total-cards="4"] .creditcard-container-main{
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    
    [data-total-cards="1"] .creditcard-container-card:last-child{
        margin: 0px auto
    }
    [data-total-cards="1"] .creditcard-container-main  {
        width: 100%;
    }
}
