/*
 * PopUp Inicio - Mobile
 * @author JCarlosR
 */
.inteligo-popup-mobile.open {
    z-index: 9999;
    display: flex;
    position: fixed;
    top: 0;
    margin-top: calc(50vh - 667px / 2);     /* calcula la distancia de separación respecto al alto del dispositivo*/
}
.tour-intro-popup {
    background: #fff;
    width: 100%;
    transition: all .5s ease;
    opacity: 0;
}
.tour-intro-gallery.first-page-intro {
    background: #233E99;
    /* height: 100%;
    min-height: 279px;
    max-height: 279px; */
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 12px 22px;
    gap: 24px;
    padding-bottom: 32px;
}
.first-page-intro-bottom {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.first-page-intro-top {
    align-self: flex-end;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 12px;
}
.first-page-intro-head {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    padding: 0 12px;
}
.first-page-intro-head span {
    font: 24px var(--font-primary-bold);
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
}
.first-page-intro-descp {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    padding: 0;
}
.tour-intro-description.first-page-intro {
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    padding-bottom: 0;
    gap: 30px;
    background: white;
}
.item-desc-icon {
    width: 32px;
    min-width: 32px;
    height: 32px;
    background: #2765f5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 49px;
    letter-spacing: 0px;
    text-align: center;
}
.first-page-intro .item-desc {
    display: flex;
    color: #233E99;
    font: 20px var(--font-primary-bold);
    gap: 16px;
    white-space: nowrap;
}
.button-discover {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.button-discover .button-primary {
    padding: 13px 24px;
}
.tour-intro-nav {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: center;
    height: 64px;
    /* border-top: 1px solid #DDE1E6; */
    box-shadow: 0 -1px 0px #DDE1E6;
    background: #fff;
}
.tour-intro-nav.first-page-intro {
    box-shadow: none;
}
.tour-intro-nav .button-tertiary {
    padding: 10px 39px;
    color: #2765F5;
    font-weight: 600;
    border: 0px;
    background: #fff;
    cursor: pointer;
    width: calc(100% / 3);
}
.dots-steps-popup {
    display: flex;
    gap: 12px;
}
[class^="dot-step-"] {
    background: #C2C7CC;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
[class^="dot-step-"].active {
    background: #2765F5;
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #2765f5;
}
/* estilos generales*/
.tour-intro-description:not(.first-page-intro) {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin: 40px 24px 46px;
}
.tour-intro-description--tittle {
    display: flex;
    gap: 12px;
}
.tour-intro-description--tittle__text {
    font: 24px var(--font-primary-semibold);
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #1148C6;
}
.tour-intro-description--description {
    font: 16px var(--font-primary-medium);
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    color: #313334;
}
.tour-intro-gallery video {
    width: 100%;
    margin-bottom: 0px;
}
.tour-intro-gallery img {
    width: 100%;
    min-width: 100%;
    height: 409px;
}
.button-popup {
    display: flex;
    align-items: center;
    border-radius: 0px;
    font: 14px var(--font-primary-semibold) !important;
    transition: all 0.3s ease;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
}
.no-scroll {
    overflow: hidden;
}

.popup-backdrop {
    content: '';
    background: #00000085;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    overflow: hidden;
}
.popup-backdrop.open {
    z-index: 10;
    display: block;
}

@media screen and (min-width: 601px) {
    #inteligoPopupMobile {
        display: none;
    }
}

.no-scroll {
    overflow: hidden;
}
@media screen and (max-width: 375px) and (max-height: 667px) {
    .inteligo-popup-mobile.open {
        top: 5px;
    }
    .tour-intro-popup {
        min-height: inherit;
    }

    .tour-intro-gallery.first-page-intro {
        padding-bottom: 21px;
    }

    .tour-intro-description.first-page-intro {
        padding: 18px 60px;
        gap: 22px;
    }

    .tour-intro-gallery:not(.first-page-intro) {
        height: 409px;
    }

    .tour-intro-description:not(.first-page-intro) {
        gap: 8px;
        margin: 9px 24px 9px;
    }

    .button-discover {
        padding-top: 18px;
    }

    .tour-intro-nav {
        height: 50px;
    }
    #NoShowMoreM {
        max-height: 1px;
    }

}
