<div class="inteligo-insights-principal">
  <div class="container-top-insights">
    <span>¿Qué le interesa ver hoy?</span>
    <div class="container-fixed">
      <div class="tabs-insights">
        <a class="tabs-insights-link active" href="javascript:void(0)" data-tab="#secInsights"><div class="button-xs button-transparent">Sugerencias</div></a>
        <a class="tabs-insights-link" href="javascript:void(0)" data-tab="#cardPortafolios"><div class="button-xs button-transparent">Mi patrimonio</div></a>
        <a class="tabs-insights-link" href="javascript:void(0)" data-tab="#cardAnalisis" ><div class="button-xs button-transparent">Análisis de portafolio</div></a>
      </div>
    </div>
  </div>

  <div id="insightMobileTitle" class="inteligo-insights-suggestions"></div>  
  <!-- Agregar un contenedor principal -->
    <div class="container-left-insights"> 
      <div class="inteligo-insights-left-container ">
        <div class="inteligo-insights-content-saludo">
          <div id="insightsSaludo" class="inteligo-insights-saludo"></div>
          <div class="inteligo-insights-saludo"">Hoy tenemos</div>
        </div>
        <div id="insightDescription" class="inteligo-insights-desc"></div>
      </div>
    </div>

    <script  type="x-tmpl-mustache" id="tmpCardsInsights">
      {{#datos}}
        {{#insights}}
          <div id="{{id}}" class="card-inteligo-insight slideshow-insights--item" 
          data-insight="{{id}}" 
          data-portfolio="{{portfolio}}" 
          data-tipo="{{tipoInsight}}" 
          data-code="{{insightCode}}" 
          data-template="{{#cardContent}}{{{template}}}{{/cardContent}}"
          data-first-time="{{#cardContent}}{{{firstTime}}}{{/cardContent}}"          
          data-description="{{#cardContent}}{{{description}}}{{/cardContent}}"
          data-link="{{#modalContent}}{{{link}}}{{/modalContent}}">
            <div class="inteligo-insight-main">
              <div class="inteligo-insight-body">
                {{#cardContent}}
                  {{#title}}
                  <div class="inteligo-insight-header">
                    <div class="inteligo-insight-header-dot"></div>
                    <div class="inteligo-insight-header-tittle">{{title}}</div>
                  </div>
                  {{/title}}
                {{/cardContent}}
                <div class="inteligo-insight-content">{{#cardContent}}{{{desc}}}{{/cardContent}}</div>
              </div>
              <div class="inteligo-insight-icon">
                <i class="icon {{#cardContent}}{{{icon}}}{{/cardContent}}"></i>
              </div>
            </div>
            <div class="inteligo-insight-cta">
              <button class="button button-insights"><span>{{#cardContent}}{{{button}}}{{/cardContent}}</span></button>
            </div>
          </div>
        {{/insights}}
      {{/datos}}
    </script>

    
    <!-- Contenedor del slider -->
    <div id="sliderInsights" class="container-cards-insight ">

      <!-- Se agrega cada insigth y renderiza con Mustache -->
      <div id="mustacheCardsInsights" class="owl-carousel owl-theme">        
      </div>

      <!-- Botones del slider -->
      <div class="buttons-owl">
        <div class="owl-arrow-prev"  style="display: none;"><i class="icon icon-arrow-modal"></i></div>
        <div class="owl-arrow-next"><i class="icon icon-arrow-modal"></i></div>
      </div>
    </div>
</div>