/*
 * Inicio Client Bank - Desktop & Media
 * @author mfyance
 */
@import url("HU001-inicio_cliente_bank-desktop.css");


@media screen and (max-width: 1279px) {

	.main-card-abonos,
	.main-card-portafolios{
		width: 100%;
	    max-width: 100%;
	    min-width: 100%;
	    margin-bottom: 15px
	}
	.portafolio-rentabilidad{
		padding: 0;
	}
	.component-portafolio {
    	width: 100%;
	    max-width: 100%;
	    min-width: 100%;
	}
	.component-abonos {
	    width: 100%;
	    max-width: 100%;
	    min-width: 100%;
	}

	.main-components{
		flex-direction: column;
	}
	.main-components-columns .main-card-column:last-child,
	.main-components-columns .main-card-column:first-child{
		padding-right: 0;
		padding-left: 0
	}
	.component-news,
	.component-news,
	.component-portafolio{
		width: 100%;
	}
    .main-card-row{
        flex-direction: column;
        margin-bottom: 0;
    }
    .main-card-column .main-card-box:last-child,
    .main-card-column .main-card-box:first-child{
        margin-bottom: 20px;
    }
    .main-card-col{
        width: 100% !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        margin-top: 5px !important;
        margin-bottom: 5px !important
    }

	
	.inteligo-personalizar.open .inteligo-main:after,
	.inteligo-mobile-vermas .inteligo-main:after{
		display: block;
	    height: 120vh;
	    z-index: 20;
	}
	
	.inteligo-mobile-vermas .inteligo-main,
	.inteligo-mobile-open .inteligo-main{
		height: 100vh;
		overflow: hidden;
	}
	.inteligo-main.no-insighths .inteligo-main-content{
		padding-top: 0 !important
 	}
	.inteligo-main-content{
		padding: 10px;
	    padding-bottom: 100px !important;
	   	padding-top: 62px
	}
	
	.inteligo-main-top{
		display: none;
	}
	.inteligo-main{
		overflow: inherit;
		height: auto;
		width:  100%;
		max-width: 100%;
		padding-top: 0;
	}
}
@media screen and (max-width: 700px){
	
	.inteligo-main-content{
		padding: 62px 0 0 0;
	}
	.main-components-columns .main-card-column:first-child {
		padding-right: 0px;
	}
}
@media screen and (max-width: 440px) {
    .component-portafolio {
        width: 100%;
    }
}
