/*
 * Inicio Client Bank - Desktop
 * @author mfyance
 * @author JCarlosR
 */


/* Cards principales */
.main-card-analisis{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.main-card-portafolios {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.main-card-abonos {
    width: calc(31% - 7px);
    max-width: calc(31% - 7px);
    min-width: calc(31% - 7px);
}



.main-components-columns {
    display: flex;
    flex-direction: column;
}


.main-components {
    margin-top: 0px;
    width: 100%;
    height: auto;
}
.inteligo-main.no-insighths .main-components-insights{
    margin-top: 0;
}
.main-components-insights{
    margin-top: -100px;
}
.inteligo-main.no-insighths .main-components-insights{
    margin-top: 0;
}

.main-card-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}





.main-title {
    font: 16px var(--font-primary);
    color: #191A1B;
}
.main-card-title {
    font: 16px var(--font-primary-semibold);
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    display: inline-flex;
}
.main-double-title .main-card-title {
    margin-bottom: 0;
}
.main-double-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.main-card-showmore {
    display: inline-block;
    border: none;
    color: var(--color-primary);
    font: 14px var(--font-primary-medium);
    padding: 0;
    line-height: 1.5;
    height: inherit;
    margin: 0;
    align-items: flex-start;
    border-bottom: 1px solid var(--color-primary);
}
.main-card-showmore:hover {
    color: var(--color-primary-hover);
    border-bottom: 1px solid var(--color-primary-hover);
}
.main-card-layout {
    display: flex;
    justify-content: center;
}
.main-card-middle {
    display: flex;
    flex-direction: column;
    height: calc(100% - 25px);
    justify-content: center;
}
.inteligo-main:after {
    content: '';
    background: #00000085;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.inteligo-collapsed .inteligo-main {
    width: calc(100vw - 90px);
    min-width: calc(100vw - 90px);
}
.inteligo-main {
    background: #F2F4F8;
    width: calc(100vw - 250px);
    max-width: calc(100vw - 250px);
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    overflow: auto;
    height: 100vh;
    padding-top: 60px;
}
.inteligo-main-top {
    display: flex;
    justify-content: space-between;
}
.inteligo-main-content {
    padding: 20px 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.inteligo-title-welcome {
    color: #233E99;
    font: 14px Inter;
    font-weight: 500;
}
.inteligo-title-access {
    color: #313334;
    font: 12px var(--font-primary);
}
.inteligo-main-bottom {
    /*margin-top: 10px;*/
    /* width: 100%; */
}
.inteligo-layout {
    display: flex;
    width: 100%;
}
/*Main cards col*/


.main-card-column .main-card-box:first-child {
    margin-bottom: 10px;
}

