<!-- Template 8 -->
<div id="modal-{{id}}" class="inteligo-modal" data-id="{{id}}" data-modal="template-8">
  {{#modalContent}}
  <div class="inteligo-modal-content">
    <div class="inteligo-modal-close" data-modal="close">
      <i class="icon icon-close"></i>
    </div>

    <!-- Contenedor primera página -->
    <div  class="inteligo-modal-main">
      <div class="inteligo-modal-header">        
        <div class="inteligo-modal-title">
          <i class="icon {{icon}}"></i>{{title}}
        </div>
        
        <div class="inteligo-input-container">
          <div class="inteligo-input-text inteligo-input-email">
            <input type="text" placeholder="Ingresar correo electrónico" name="sendmailCorreo" id="inpSendmailCorreo" data-type="email">
            <i class="icon icon-mail-blue"></i>
          </div>
        </div>
        <div class="inteligo-input-container">
          <span class="inteligo-modal-message-title">Asunto</span>
          <div class="inteligo-input-text">
            <input type="text" placeholder="Ingresar asunto" name="sendmailAsunto" id="inpSendmailAsunto">
          </div>
        </div>
        <div class="inteligo-modal-message">
          <div class="inteligo-modal-message-header">
            <span class="inteligo-modal-message-title">Mensaje</span>
            <div class="inteligo-modal-count">
              <span class="inteligo-modal-count-number">0</span>
              <span class="inteligo-modal-count-number">300</span>
            </div>
          </div>
          <div class="inteligo-modal-textarea-content">
            <textarea class="inteligo-modal-textarea" name="sendmailMessage" id="sendmailMessage" 
            placeholder="Escriba su mensaje..." autofocus maxlength="500" data-value="{{value}}">{{value}}</textarea>
            <div class="inteligo-modal-error">Máximo 300 caracteres.</div>
          </div>
        </div>
      </div>
      <div class="inteligo-modal-footer">
        {{#button1}}
          <button class="button button-primary " data-modal="{{button1link}}" disabled>{{button1}}</button>
        {{/button1}}
      </div>
    </div>

    <!-- Section: Mensaje Exitoso  -->
    {{#modalSuccess}}
    <div class="inteligo-modal-sending"  style="display: none;">
      <div class="inteligo-modal-header">
        <div class="inteligo-modal-title"> <i class="icon icon-modal-congratulations"></i> {{title}}</div>
        <div class="inteligo-modal-desc">{{{desc}}}</div>
      </div>
      <div class="inteligo-modal-footer">
        <button class="button button-primary" data-modal="close">Aceptar</button>
      </div>
    </div>
    {{/modalSuccess}}

  </div> 
  {{/modalContent}}
  
</div>

