<!-- Template 9 -->
<div id="modal-{{id}}" class="inteligo-modal" data-id="{{id}}" data-modal="template-9">
  <div class="inteligo-modal-content">
    <div class="inteligo-modal-close" data-modal="close">
      <i class="icon icon-close"></i>
    </div>

    <!-- Contenedor primera página -->
    <div class="inteligo-modal-main" data-modal="step-1" >
      {{#modalContent}}
        <div class="inteligo-modal-header">
          {{#title}}
            <div class="inteligo-modal-title"><i class="icon {{{icon}}}"></i>{{title}}</div>
          {{/title}}             
        </div>

        <!-- Correo que llega del servicio -->
        <input id="inpEmailConfig" name="inpEmailConfig" type="hidden" value="{{email}}" >

        <div class="inteligo-input-container">
          <div class="inteligo-modal-email">
            <div class="inteligo-modal-email-left">
              <span class="inteligo-modal-email-title">Correo electrónico:</span>
              <span class="inteligo-modal-email-txt" data-email="emailMask"></span>              
            </div>
            <div class="inteligo-modal-email-right" data-modal="next">
              Editar <i class="icon icon-edit"></i>
            </div>
          </div>
          <div class="inteligo-modal-notif">
            <div class="inteligo-modal-block">
              <div class="inteligo-modal-notif-txt">Notificarme cuando se haya cargado en mi cuenta la próxima cuota.</div>
              <div class="inteligo-modal-notif-switch">
                <div class="inteligo-switch">
                  <input type="checkbox" name="config-1" class="inteligo-config-switch">
                </div>
              </div>
            </div>
            <div class="inteligo-modal-block">
              <div class="inteligo-modal-notif-txt">
                <input type="text" class="modal-input-config" value="1" name="config-cuota" disabled> día(s) antes del vencimiento de la próxima cuota.
              </div>
              <div class="inteligo-modal-notif-switch">
                <div class="inteligo-switch">
                  <input type="checkbox" name="config-2" class="inteligo-config-switch">
                </div>
              </div>
            </div>
            <div class="inteligo-modal-block">
              <div class="inteligo-modal-notif-txt">Deseo recibir notificaciones solo en días útiles.</div>
              <div class="inteligo-modal-notif-switch">
                <div class="inteligo-switch">
                  <input type="checkbox" name="config-3" class="inteligo-config-switch">
                </div>
              </div>
            </div>
            <div class="inteligo-modal-block">
              <div class="inteligo-modal-notif-txt">
                <input type="text" class="modal-input-config" value="1"  name="config-prestamo" disabled> día(s) antes del vencimiento de mi préstamo.
              </div>
              <div class="inteligo-modal-notif-switch">
                <div class="inteligo-switch">
                  <input type="checkbox" name="config-4" class="inteligo-config-switch">
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="inteligo-modal-footer2">
          {{#button1}}
            <button class="button button-lineal" data-modal="{{button1link}}">{{button1}}</button>
          {{/button1}}
          {{#button2}}
            <button class="button button-primary" data-modal="{{button2link}}" disabled>{{button2}}</button>
          {{/button2}}
        </div>
      {{/modalContent}}
    </div>        

    <!-- Contenedor segunda página -->
    <div class="inteligo-modal-main" data-modal="step-2" style="display: none;">
      {{#modalContent2}}
      <div class="inteligo-modal-header">
        <div class="inteligo-modal-title"> <i class="icon {{icon}}"></i> {{title}}</div>
      </div>
      <div class="inteligo-modal-email">
        <div class="inteligo-modal-email-left">
          <span class="inteligo-modal-email-title">Correo electrónico:</span>
          <span class="inteligo-modal-email-txt" data-email="emailMask"></span>
        </div>
      </div>
      <div class="inteligo-editing-email">
        <div class="inteligo-input-container">
          <div class="inteligo-email-label">Nuevo correo electrónico</div>
          <div class="inteligo-input-text inteligo-input-email">
            <input type="email" placeholder="Ingresar correo electrónico" name="newEmail" id="newEmail" data-type="email">
            <i class="icon icon-mail-blue"></i>
          </div>
        </div>
        <div class="inteligo-input-container">
          <div class="inteligo-email-label">Repetir correo electrónico</div>
          <div class="inteligo-input-text inteligo-input-email">
            <input type="email" placeholder="Repetir correo electrónico" name="newEmailRepeat" id="newEmailRepeat" data-type="email" data-equal="newEmail">
            <i class="icon icon-mail-blue"></i>
          </div>
        </div>
      </div>
      <div class="inteligo-modal-footer2">
        {{#button1}}
          <button class="button button-lineal" data-modal="{{button1link}}" data-modal-skip="step-2">{{button1}}</button>
        {{/button1}}
        {{#button2}}
          <button id="btnUpdateMail" class="button button-primary" disabled>{{button2}}</button>
        {{/button2}}
      </div>
      {{/modalContent2}}
    </div>

    <!-- Section: Mensaje Exitoso  -->
    {{#modalSuccess}}
    <div class="inteligo-modal-sending"  style="display: none;">
      <div class="inteligo-modal-header">
        <div class="inteligo-modal-title"> <i class="icon icon-modal-congratulations"></i> {{title}}</div>
        <div class="inteligo-modal-desc">{{{desc}}}</div>
      </div>
      <div class="inteligo-modal-footer">
        <button class="button button-primary" data-modal="close">Aceptar</button>
      </div>
    </div>
    {{/modalSuccess}}

  </div>  
</div>