<!-- Template 7 -->
<div id="modal-{{id}}" data-id="{{id}}" class="inteligo-modal " data-modal="template-7">
  <div class="inteligo-modal-content">
    <div class="inteligo-modal-close" data-modal="close">
      <i class="icon icon-close"></i>
    </div>

      <!-- Contenedor primera página -->
      <div class="inteligo-modal-main" data-modal="step-1" >
        <div class="inteligo-modal-header">
          {{#modalContent}}
            {{#title}}
              <div class="inteligo-modal-title inteligo-modal-title-alert"><i class="icon {{{icon}}}"></i>{{title}}</div>
            {{/title}}
            <div class="inteligo-modal-desc">{{{desc}}}</div>
          {{/modalContent}}
        </div>

        {{#modalContent}}
          <div class="inteligo-modal-footer">
            {{#button1}}
              <button class="button button-primary" data-modal="{{button1link}}">{{button1}}</button>
            {{/button1}}

            {{#button2}}
              <button class="button inteligo-modal-btn-tertiary" data-modal="{{button2link}}" data-modal-skip="step-3">{{button2}}</button>
            {{/button2}}
            
          </div>
        {{/modalContent}}
      </div>

      <!-- Contenedor segunda página -->
      <div class="inteligo-modal-main" data-modal="step-2" style="display: none;">

        <div class="inteligo-modal-header">
          {{#modalContent2}}
            {{#title}}
              <div class="inteligo-modal-title">
                <i class="icon {{#modalContent2}}{{{icon}}}{{/modalContent2}}"></i> {{title}}
              </div>
            {{/title}}
          {{/modalContent2}}
        </div>
        <div class="inteligo-modal-maxh3">
          {{#modalContent2}}
             <div class="inteligo-modal-desc">{{{desc}}}</div>
          {{/modalContent2}}

          {{#modalContent2}}
          <div class="inteligo-modal-row">
            <div class="inteligo-row-text">Seleccione su tarjeta</div>
            <div class="inteligo-mob-select">
              <div class="inteligo-mob-select-bg" data-mobile="openCreditcards"></div>
              <select id="selTarjetas" name="{{id}}-selTarjetas">
                <option value="1" checked>Todas mis tarjetas</option>
                <!-- Aqui se genera dinamicamente lasopciones -->
              </select>
            </div>
          </div>
          <div class="inteligo-modal-row">
              <div class="inteligo-row-text">Paises donde usará su tarjeta</div>
          </div>
          <div class="inteligo-modal-main-countries">
            <!-- Listar los tags de cada pais -->
            <div id="blockCountries" class="inteligo-list-countries"></div>
            <!-- Guardamos los paises en este input oculto -->
            <input type="hidden" id="inpTotalPaises" name="{{id}}-inpTotalPaises">
            <!-- end Listar -->

            

            <div class="inteligo-modal-row-countries">
              <div class="inteligo-modal-row ">
                <div class="inteligo-countries">

                    <input id="listCountries" class="inteligo-input2" placeholder="Buscar país">


                    <i class="icon icon-search"></i>  
                </div>
              </div>
              <div class="inteligo-modal-row inteligo-country-button">
                <button id="btnAddCountry" class="button button-primary" disabled>Añadir</button>
              </div>
            </div>
          </div>
          <div class="inteligo-modal-row-twice">
              <div class="inteligo-modal-row">
                <div class="inteligo-row-text">Fecha de ida</div>
                <div class="inteligo-datepicker">
                  <input id="inpFechaIda" name="{{id}}-inpFechaIda" type="text" class="inteligo-datepicker-input" autocomplete="off" placeholder="dd-mm-yyyy">
                  <i class="icon icon-calendar "></i>
                  <div class="inteligo-mob-datepicker-bg" data-mobile="showCalendarIda"></div>
                </div>
              </div>
              <div class="inteligo-modal-row">
                <div class="inteligo-row-text">Fecha de regreso</div>
                <div class="inteligo-datepicker">
                  <input id="inpFechaRegreso" name="{{id}}-inpFechaRegreso" type="text" class="inteligo-datepicker-input" autocomplete="off" placeholder="dd-mm-yyyy">
                  <i class="icon icon-calendar "></i>
                  <div class="inteligo-mob-datepicker-bg" data-mobile="showCalendarVuelta"></div>
                </div>
              </div>
          </div>
          <div class="inteligo-modal-row inteligo-modal-row-check">
            <div class="container-checkbox">
              <input id="inpSolicitarConstacia" type="checkbox">
              <label for="inpSolicitarConstacia" class="checkmark">Solicitar constancia de aviso de viaje</label>
            </div>

            <div id="contentEmail" class="inteligo-modal-row m-t-0" style="display:none">
              <div class="inteligo-row-text">Ingrese su correo electrónico</div>
              <div class="inteligo-input-mail">
                <input id="viajeCorreo" name="{{id}}-viajeCorreo" class="inteligo-input2" placeholder='Ingresar correo electrónico' autocomplete="off" data-type="email">
                <i class="icon icon-mail-blue"></i>
              </div>
            </div>
          </div>
          
          {{/modalContent2}}
        </div>

        {{#modalContent2}}
        <div class="inteligo-modal-footer2">        
          {{#button1}}
            <button class="button button-lineal" data-modal="close">{{button1}}</button>
          {{/button1}}
          {{#button2}}
            <button id="btnValidFormViaje" class="button button-primary" data-modal="{{button2link}}" disabled>{{button2}}</button>
          {{/button2}}
        </div>
        {{/modalContent2}}
      </div>

      <!-- Section: Mensaje Exitoso  -->
      <div class="inteligo-modal-sending"  style="display: none;">
        {{#modalSuccess}}
        <div class="inteligo-modal-header">
          <div class="inteligo-modal-title"> <i class="icon icon-modal-congratulations"></i> {{title}}</div>
          <div class="inteligo-modal-desc">{{{desc}}}</div>
        </div>
        <div class="inteligo-modal-footer">
          <button class="button button-primary" data-modal="close">Aceptar</button>
        </div>
        {{/modalSuccess}}
      </div>

      <!-- Contenedor tpágina de contacto -->
      <div class="inteligo-modal-main" data-modal="step-3" style="display: none;">
        {{#modalContent3}}
        <div class="inteligo-modal-header">        
          <div class="inteligo-modal-title">
            <i class="icon icon-modal-contact"></i>{{title}}
          </div>
          
          {{{#desc}}}<div class="inteligo-modal-desc">{{{desc}}}</div>{{{/desc}}}
          
          <div class="inteligo-modal-message">
            <div class="inteligo-modal-message-header">
              <span class="inteligo-modal-message-title">Mensaje</span>
              <div class="inteligo-modal-count">
                <span class="inteligo-modal-count-number">0</span>
                <span class="inteligo-modal-count-number">300</span>
              </div>
            </div>
            <div class="inteligo-modal-textarea-content">
              <textarea class="inteligo-modal-textarea" name="{{id}}-mensaje" id="{{id}}-mensaje" 
              placeholder="Escriba su mensaje..." autofocus maxlength="500" data-value="{{value}}">{{value}}</textarea>
              <div class="inteligo-modal-error">Máximo 300 caracteres.</div>
            </div>
          </div>
        </div>
        <div class="inteligo-modal-footer2">
          {{#button2}}
          <button class="button button-lineal" data-modal="{{button2link}}" data-modal-skip="step-1">{{button2}}</button>
          {{/button2}}
          {{#button1}}
          <button class="button button-primary" data-modal="{{button1link}}">{{button1}}</button>
          {{/button1}}
        </div>
        {{/modalContent3}}
      </div>

      <!-- Contenedor para elegir fechas inline -->
      <div class="inteligo-modal-calendars" style="display: none;" >
        <div class="inteligo-calendar-return" data-mobile="closeCalendars">
          <i class="icon icon-arrow-left-blue"></i>Volver
        </div>
        {{#modalContent2}}
        <div class="inteligo-modal-calendar-header">
          <div class="inteligo-modal-row-twice">
            <div class="inteligo-modal-row">
              <div class="inteligo-row-text">Fecha de ida</div>
              <div class="inteligo-datepicker">
                <input id="inpFechaIda2" type="text" class="inteligo-datepicker-input active" autocomplete="off" placeholder="dd-mm-yyyy">
                <i class="icon icon-calendar "></i>
                <div class="inteligo-mob-datepicker-bg" data-mobile="openCalendarIda"></div>
              </div>
            </div>
            <div class="inteligo-modal-row">
              <div class="inteligo-row-text">Fecha de regreso</div>
              <div class="inteligo-datepicker">
                <input id="inpFechaRegreso2" type="text" class="inteligo-datepicker-input" autocomplete="off" placeholder="dd-mm-yyyy">
                <i class="icon icon-calendar "></i>
                <div class="inteligo-mob-datepicker-bg" data-mobile="openCalendarRegreso"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="inteligo-modal-calendar-content">
          <div id="inpFechaIda2-inline" class="inteligo-mob-datepicker-inline"></div>
          <div id="inpFechaRegreso2-inline" class="inteligo-mob-datepicker-inline" style="display:none"></div>
        </div>
        
        {{/modalContent2}}
      </div>

      <!-- Contenedor para campos de contactar -->
      <div class="inteligo-modal-contacting"  style="display: none;">
        {{#modalContact}}
        <div class="inteligo-modal-header">
          <div class="inteligo-modal-title"> <i class="icon icon-modal-congratulations"></i> {{title}}</div>
          <div class="inteligo-modal-desc">{{{desc}}}</div>
        </div>
        <div class="inteligo-modal-footer">
          <button class="button button-primary" data-modal="close">Aceptar</button>
        </div>
        {{/modalContact}}
      </div>
    
  </div>
</div>

<!-- <p></p> -->