/*
 * Card SaberMas Desktop
 * @author mfyance
 */

/*Casuisticas dependiente la cantidad de boxes*/
[data-box="6"] .detailpage-activos-box {
  width: calc(100% / 6);
  flex-shrink: 0;
}

[data-box="5"] .detailpage-activos-box {
  width: calc(100% / 5);
  flex-shrink: 0;
}

[data-box="4"] .detailpage-activos-box {
  width: calc(100% / 4);
  flex-shrink: 0;
}

[data-box="3"] .detailpage-activos-box {
  width: calc(100% / 3);
}

[data-box="2"] .detailpage-activos-box {
  width: calc(100% / 2);
}



/*end Boxes*/

.detailpage-rentafija-left{
  display: flex;
  justify-content: space-between;
}



.main-card-detailpage {
  margin-top: 0px;
  padding: 0;
}
.detailpage-back-link:hover {
  color: var(--color-secondary);
}
.detailpage-back-link i {
  margin-right: 10px;
  transform: rotate(180deg);
}
.detailpage-back-link i:hover {
  fill: #041f68;
}
.detailpage-back-link {
  color: var(--color-primary);
  font: 16px var(--font-primary-semibold);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}
.detailpage-back {
  padding: 20px;
}
.detailpage-title {
  background: linear-gradient(93.59deg, #02133e -225.28%, #2765f5 87.41%);
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 30px;
  padding-right: 30px;
}
.detailpage-title-left {
  display: flex;
  flex-direction: column;
}
.detailpage-title-icon i{
  transform: scale(1.2);
  top: 5px;
  position: relative;
}
.detailpage-title-icon {
  display: flex;
  width: 40px;
}
.detailpage-title-main {
  margin-left: 10px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detailpage-title-primary {
  color: #ffffff;
  font: 24px var(--font-primary-bold);
  max-width: 216px;
  margin-bottom: 15px;
}
.detailpage-title-secondary b{
  font-family: var(--font-primary-semibold) ;
}
.detailpage-title-secondary {
  color: #fff;
  font: 16px var(--font-primary);
  max-width: 457px;
}
.detailpage-title-secondary em {
  font: var(--font-primary-bold);
}
.detailpage-title-rigth .icon-arrow-w {
  margin-left: 16px;
}

.detailpage-content .analisis-table-content {
  padding: 0 !important;
  margin: 0;
}
.detailpage-content-distribucion {
  /* padding: 20px; */
}
.detailpage-content {
  padding: 24px 24px;
}
.detailpage-content-activos {
}
.detailpage-activos-title {
  font: 14px var(--font-primary);
  margin-bottom: 20px;
  color: #616467;
}
.detailpage-activos-title-2 {
  display: none;
}

.detailpage-activos-block {
  display: flex;
  justify-content: space-between;
}
.detailpage-content-rentafija {
  margin-bottom: 30px;
  margin-top: 40px;
}
.detailpage-rentafija-title {
  font: 24px var(--font-primary-bold);
  margin-bottom: 24px;
  color: var(--color-secondary);
}
.detailpage-rentafija-col:first-child {
  padding-left: 0;
}
.detailpage-rentafija-col:last-child {
  padding-right: 0;
}
.detailpage-rentafija-col {
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.detailpage-rentafija-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detailpage-rentafija-asignacion {
  display: flex;
}
.detailpage-rentafija-col-title i {
  margin-right: 7px;
}
.detailpage-rentafija-valorporta{
  width: 250px;
}
.detailpage-rentafija-valorporta .detailpage-rentafija-col-subtitle{
  text-align: left;
}
.detailpage-rentafija-valorporta .detailpage-rentafija-col-title {
  justify-content: flex-start;
}
.detailpage-rentafija-col-title {
  font: 24px var(--font-primary-bold);
  color: #313334;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detailpage-rentafija-col-subtitle {
  font: 14px var(--font-primary);
  text-align: center;
  color: #313334;
}

  
.detailpage-distribucion-title strong {
  color: var(--color-secondary);
  margin-right: 16px;
}
.detailpage-distribucion-link {
  font: 12px var(--font-primary);
  color: var(--color-primary);
  text-decoration: underline;
  text-underline-position: under;
}
.detailpage-distribucion-title {
  margin-bottom: 20px;
  font: 18px var(--font-primary);
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.detailpage-activos-right,
.detailpage-rentafija-box {
  max-width: 343px;
  padding: 16px;

  display: flex;
}

/*Casuiticas de Cash y activos*/
.detailpage-rentafija-box[data-status="ACTIVO-UP"] .detailpage-rentafija-box-icon i:nth-child(1){
  display: inline-flex;
}
.detailpage-rentafija-box[data-status="ACTIVO-UP"] .detailpage-rentafija-box-icon i:nth-child(2),
.detailpage-rentafija-box[data-status="ACTIVO-UP"] .detailpage-rentafija-box-icon i:nth-child(3){
  display: none;
}
.detailpage-rentafija-box[data-status="ACTIVO-DOWN"] .detailpage-rentafija-box-icon i:nth-child(3){
  display: inline-flex;
}
.detailpage-rentafija-box[data-status="ACTIVO-DOWN"] .detailpage-rentafija-box-icon i:nth-child(1),
.detailpage-rentafija-box[data-status="ACTIVO-DOWN"] .detailpage-rentafija-box-icon i:nth-child(2){
  display: none;
}


.detailpage-rentafija-box[data-status="CE-DOWN"] .detailpage-rentafija-box-icon i:nth-child(1),
.detailpage-rentafija-box[data-status="CE-DOWN"] .detailpage-rentafija-box-icon i:nth-child(2){
  display: none;
}
.detailpage-rentafija-box[data-status="CE-DOWN"] .detailpage-rentafija-box-icon i:nth-child(3){
  display: inline-flex;
}

.detailpage-rentafija-box[data-status="CE-UP"] .detailpage-rentafija-box-icon i:nth-child(1),
.detailpage-rentafija-box[data-status="CE-UP"] .detailpage-rentafija-box-icon i:nth-child(3){
  display: none;
}
.detailpage-rentafija-box[data-status="CE-UP"] .detailpage-rentafija-box-icon i:nth-child(2){
  display: inline-flex;
}

.detailpage-rentafija-box[data-status="CE-DOWN"] .detailpage-rentafija-box-text,
.detailpage-rentafija-box[data-status="ACTIVO-UP"] .detailpage-rentafija-box-text,
.detailpage-rentafija-box[data-status="ACTIVO-DOWN"] .detailpage-rentafija-box-text{
  color: #041f68;
}
.detailpage-rentafija-box[data-status="CE-UP"] .detailpage-rentafija-box-text{
  color: #2D7D75 ;
}
.detailpage-rentafija-box[data-status="CE-UP"]{
  background: #EBFEF7;
}
.detailpage-rentafija-box[data-status="CE-DOWN"],
.detailpage-rentafija-box[data-status="ACTIVO-UP"],
.detailpage-rentafija-box[data-status="ACTIVO-DOWN"] {
  background: #fff0b3;
}

/*end Casuisticas*/

.detailpage-activos-right {
  background: #eef6ff;
}
.detailpage-rentafija-box-icon {
  margin-right: 10px;
}
.detailpage-rentafija-box-text b{
  display: inline;
  white-space: break-spaces;
}
.detailpage-rentafija-box-text span{
  white-space: pre;
}
.detailpage-rentafija-box-text {
  font: 14px var(--font-primary);  
  line-height: 20px;
}
.detailpage-rentafija-asignacion .detailpage-rentafija-col:first-child {
  border-right: 2px solid #dde1e6;
}

.detailpage-rentafija-col-bold .detailpage-rentafija-col-subtitle {
  color: var(--color-secondary);
  font: 14px var(--font-primary-bold);
}
.detailpage-rentafija-col-bold .detailpage-rentafija-col-title {
  color: var(--color-secondary);
}
.detailpage-content-footer {
  margin: 24px 0 0 0;
}
.detailpage-content-link:hover {
  color: var(--color-secondary);
}
.detailpage-content-link {
  font: 16px var(--font-primary);
  color: var(--color-primary);
  transition: all 0.3s ease;
  padding: 13px 24px;
  cursor: pointer;
}
.detailpage-rentafija-identificar {
  max-width: 320px;
}

.detailpage-activos-left {
  display: flex;
  width: calc(100% - 350px);
  padding-right: 50px;
}
.detailpage-activos-box:last-child {
  margin-right: 0;
}
.detailpage-activos-box.active{
  border-color: #1148C6;
  box-shadow: 4px 4px 15px rgba(158, 175, 201, 0.2), 0px 0px 2px rgba(9, 30, 66, 0.31);
}
.detailpage-activos-box:hover{
   box-shadow: 4px 4px 15px rgba(158, 175, 201, 0.2), 0px 0px 2px rgba(9, 30, 66, 0.31);
}
.detailpage-activos-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dde1e6;
  padding: 20px;
  margin-right: 10px;
  position: relative;
  transition: all .3s ease;
  cursor: pointer;
  justify-content: center;
}
.active.detailpage-activos-box .detailpage-activos-box-icon {
  display: block;
}
.active.detailpage-activos-box:after{
  content: "";
  background-image: url(../../../../private/organisms/icon/img/icon-check-blue.svg);
  width: 20px;
  height: 20px;
  display: flex;
  background-size: contain;
  position: absolute;
  top: 5px;
  right: 5px;
}
.active.detailpage-activos-box {
  border-color: var(--color-primary);
}
.active.detailpage-activos-box .detailpage-box-title{
  font-family: var(--font-primary-semibold);
}
[data-status="error"].detailpage-box-icon {
  background: #fff1f1;
}
[data-status="success"].detailpage-box-icon {
  background: #e8fced;
}
.detailpage-box-icon {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;

}
.detailpage-box-title {
  font: 14px var(--font-primary);
  color: #494b4e;
  max-width: 120px;
  text-align: center;
  line-height: 20px;
}

.detailpage-activos-right {
}
.detailpage-activos-icon {
  margin-right: 10px;
}
.detailpage-activos-text b{
  color: #1148C6;
}
.detailpage-activos-text strong {
  color: var(--color-primary);
}
.detailpage-activos-text {
  font: 14px var(--font-primary);
  color: #313334;
  line-height: 17px;
}
.detailpage-activos-link {
  display: inline-block;
  color: var(--color-primary);
  font: 14px var(--font-primary-medium);
}
.detailpage-activos-href {
  display: block;
  margin-top: 10px;
}

.detailpage-activos-box-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}
.detailpage-content-footer.analisis-ventajas {
  margin: 24px 0px 0px 0px;
  padding: 16px 24px;
  box-shadow: 0px 0px 0px 1px #dde1e6 inset;
  border: 0;
}
.detailpage-activos-href>a{
  text-decoration: underline;
  text-underline-position: under;
}
.container-cta-detailpage{
  display: flex;
  gap: 24px;
}
.container-cta-detailpage button{
  min-width: 212px;
  font: 16px var(--font-primary) !important;
}
.detailpage-clase {
  /* padding-left: 20px; */
  position: relative;
}

.detailpage-box-title>em{
  font-style: italic;
}
.row-detailpage-table:has(.td-status-2 .analisis-status-error) {
  box-shadow: 3px 0px 0px 0px #C62828 inset;
  -webkit-box-shadow: 3px 0px 0px 0px #C62828 inset;
  -moz-box-shadow: 3px 0px 0px 0px #C62828 inset;
}
.row-detailpage-table:has(.td-status-1 .analisis-status-success) {
  box-shadow: 3px 0px 0px 0px #488981 inset;
  -webkit-box-shadow: 3px 0px 0px 0px #488981 inset;
  -moz-box-shadow: 3px 0px 0px 0px #488981 inset;
}

.detailpage-mtable-box-top {
    margin-bottom: 0px;
}


.detailpage-mtable-title {
  font: 16px var(--font-primary-semibold);
  padding-left: 13px;
  padding: 15px;
  background: #F2F4F8;
  margin-bottom: 0;
}

.detailpage-mtable-box-bottom {
  padding: 15px;
}

.detailpage-mtable-statistic {
    margin-top: 0px;
    display: flex;
    position: relative;
}

.detailpage-statistic-optimo, .detailpage-statistic-actual {
    width: 50%;
}

.detailpage-statistic-number {
    font: 28px var(--font-primary-bold);
    margin-bottom: 8px;
        color: #313334;
}
.detailpage-mtable-status{
  width: 100%;
}
