<div class="cardbox-back">
	<a data-backhome="detailpage" href="javascript:void(0)" class="cardbox-back-link">
		<i class="icon icon-arrow-left-blue"></i> Volver a mi zona segura
	</a>
</div>

<div class="cardbox-head">
	<div class="cardbox-head-left">			
		<div class="cardbox-head-title">
			<i class="icon icon-portafolio"></i>
			Importancia del portafolio modelo
		</div>
		<div class="cardbox-head-subtitle">
			Conozca las <b>sugerencias y ventajas</b> de tener un portafolio modelo.
		</div>
	</div>
	<div class="cardbox-head-right">
		<button id="btnDetailPageSaberMas" class="button button-pentary">Quiero saber más <i class="icon icon-arrow-w"></i></button>
	</div>
</div>


<div class="cardbox-body">
	<div class="detailpage-content-activos">
		<div class="detailpage-activos-title">Seleccione el activo que desea evaluar</div>		
		<div id="mustacheDetailPageHead" class="detailpage-activos-block"></div>
	</div>

	<!-- DetailPage : Renderización principal -->
	<div id="mustacheDetailPageInfo"></div>

</div>




<!-- DetailPage: Head -->
<script type="x-tmpl-mustache" id="tmpDetailPageHead">
	<div class="detailpage-activos-left" data-box="{{datos.analisis.length}}">
		{{#datos}}
			{{#analisis}}
				<div class="detailpage-activos-box" data-id="{{idanalisis}}">
					{{#status}}
						<div class="detailpage-box-icon" data-status="success">
							<i class="icon icon-status-success"></i>
						</div>
					{{/status}}
					{{^status}}
						<div class="detailpage-box-icon" data-status="error">
							<i class="icon icon icon-alert-red"></i>
						</div>
					{{/status}}
					<div class="detailpage-box-title">{{{name}}}</div>
				</div>							
			{{/analisis}}
		{{/datos}}
	</div>

	<div class="detailpage-activos-right">

		<div class="detailpage-activos-icon">
			<i class="icon icon-graphic-pie"></i>
		</div>	
		<div class="detailpage-activos-detail">
			<div class="detailpage-activos-text"><p>En base a su <b>portafolio recomendado</b>, Inteligo Bank le sugiere una asignación de porcentajes por activo.</p></div>
			<div class="detailpage-activos-href">
				<a id="modalAsignacion" href="javascript:void(0)" class="detailpage-activos-link" >Ver asignación</a>
			</div>
			<div class="detailpage-activos-title-2">Seleccione el activo que desea evaluar</div>
		</div>
	</div>
</script>

<!-- DetailPage: Info -->
<script type="x-tmpl-mustache" id="tmpDetailPageInfo">	
		
	<div class="detailpage-content-rentafija">
		<div class="detailpage-rentafija-title">{{{name}}}</div>
		<div class="detailpage-rentafija-content">
			<div class="detailpage-rentafija-left">
				<div class="detailpage-rentafija-col detailpage-rentafija-valorporta">
					<div class="detailpage-rentafija-col-title">{{amount}}</div>
					<div class="detailpage-rentafija-col-subtitle">Valor de portafolio</div>
				</div>
				<div class="detailpage-rentafija-asignacion">
					{{#asignacion-actual}}
						<div class="detailpage-rentafija-col">
							<div class="detailpage-rentafija-col-title">
								{{#status}}<i class="icon icon-alert-red"></i> {{percent}}% {{/status}}
								{{^status}}<i class="icon icon icon-status-success"></i> {{percent}}% {{/status}}
							</div>
						  <div class="detailpage-rentafija-col-subtitle">{{name}}</div>
						</div>
					{{/asignacion-actual}}

					{{#asignacion-optima}}
						<div class="detailpage-rentafija-col detailpage-rentafija-col-bold">
							<div class="detailpage-rentafija-col-title">{{percent}}%</div>
						    <div class="detailpage-rentafija-col-subtitle">{{name}}</div>
						</div>
					{{/asignacion-optima}}
				</div>
			</div>
			{{#recomendation}}
			<div class="detailpage-rentafija-box" data-status="{{shortname}}">
				<div class="detailpage-rentafija-box-icon">
					<i class="icon icon-excedent-blue"></i>
					<i class="icon icon-excedent-green"></i>
					<i class="icon icon-insufficiency-blue"></i>
				</div>	
				<div class="detailpage-rentafija-box-text">{{{recomendation}}}</div>
			</div>
			{{/recomendation}}
		</div>
	</div>

	{{#subtipos.length}}
	<div class="detailpage-content-distribucion">
		
		<div class="detailpage-distribucion-title">
			<span>Distribución por <strong>subtipo de activo</strong></span>
			<div class="detailpage-distribucion-content">
				<a id="btnModalDistribucion" href="javascript:void(0)" class="detailpage-distribucion-link" data-detailpage="modal-distribucion-{{idanalisis}}">¿Qué significa esto?</a>
			</div>
		</div>
		
		<div class="detailpage-distribucion-table">	
			<!-- DetailPage - Tabla - Desktop -->
			<div class="analisis-table-content">
				<table class="analisis-table">					
					<thead>
						<tr>
							<th class="t-a-l">Subtipo de activo</th>
							<th class="t-a-l">Actual</th>
							<th class="t-a-l">Sugerido</th>
							<th class="t-a-l analisis-table-estado">Estado</th>
						</tr>
					</thead>
					<tbody>
						{{#subtipos}}
						<tr class="row-detailpage-table" data-circle="">
							<td class="t-a-l">
								<div class="detailpage-clase">{{subtipo}}</div>
							</td>
							<td class="t-a-r">
								{{actual}}%
							</td>
							<td class="t-a-r color-secondary">
								{{sugerido}}%
							</td>							

							{{#estado}}
							<td class="td-status-1">
								<div class="analisis-status analisis-status-success tooltip-analisis">
									<i class="icon icon-status-success"></i>
									<div class="analisis-status-text">{{estadotxt}}</div>
									<div class="tooltip-analisis-content">{{{description}}}</div>
								</div>
							</td>
							{{/estado}}

							{{^estado}}
							<td class="td-status-2">
								<div class="analisis-status analisis-status-error tooltip-analisis">
									<i class="icon icon-status-error"></i>
									<div class="analisis-status-text">{{estadotxt}}</div>
									<div class="tooltip-analisis-content">{{{description}}}</div>
								</div>
							</td>
							{{/estado}}
						</tr>
						{{/subtipos}}
					</tbody>
					
				</table>
			</div>

			<!-- DetailPage - Tabla - Mobile -->
			<div class="analisis-mtable">
				<div class="detailpage-mtable-body" >

					{{#subtipos}}
						<div class="detailpage-mtable-box {{^estado}}error{{/estado}}" >
							<div class="detailpage-mtable-box-top">
								<div class="detailpage-mtable-title">{{subtipo}}</div>
							</div>
							<div class="detailpage-mtable-box-bottom">	
								<div class="detailpage-mtable-status">
									{{#estado}}
										<div class="analisis-status analisis-status-success">
											<i class="icon icon-status-success"></i>
											<div class="analisis-status-text">{{estadotxt}}</div>
										</div>
									{{/estado}}

									{{^estado}}													
										<div class="analisis-status analisis-status-error">
											<i class="icon icon-status-error"></i>
											<div class="analisis-status-text">{{estadotxt}}</div>
										</div>
									{{/estado}}
								</div>


								<div class="detailpage-mtable-statistic">

									
									<div class="detailpage-statistic-actual">
										<div class="detailpage-statistic-number">{{actual}}%</div>
										<div class="analisis-statistic-tag">actual</div>
									</div>
									<div class="analisis-statistic-arrow"><i class="icon icon-arrow-blue-right"></i></div>
									<div class="analisis-statistic-optimo">
										<div class="detailpage-statistic-number">{{sugerido}}%</div>
										<div class="analisis-statistic-tag">sugerido</div>
									</div>
								</div>

							</div>
							<div class="analisis-mtable-sabermas">
								<div class="analisis-mtable-sabermas-link">
									<div class="analisis-mtable-sabermas-txt">Saber más</div>
									<div class="analisis-mtable-sabermas-icon"><i class="icon icon-arrow_sky"></i></div>
								</div>
								<div class="analisis-mtable-sabermas-content">{{{description}}}</div>
							</div>
						</div>
					{{/subtipos}}

				</div>
			</div>
			
		</div>
	</div>
	{{/subtipos.length}}

	<div class="detailpage-content-footer analisis-ventajas">
		<div class="analisis-ventajas-info">
			<i class="icon icon-news" style="margin-right: 12px;"></i>
			<div class="analisis-ventajas-text detailpage-rentafija-identificar">{{{anuncio}}}</div>
		</div>
		<div class="container-cta-detailpage">
			<button class="button button-primary" id="btnContactarAsesor">Contacte a su asesor</button>
			<div class="detailpage-content-link" data-detailpage="modal-correo-{{idanalisis}}">Enviar resumen por correo</div>
		</div>
	</div>
			
</script>

