<div class="skeleton">
	<div class="skeleton-rect skeleton-h-10 skeleton-w-40"></div>
	<div class="skeleton-break skeleton-h-20"></div>
	<div class="skeleton-rect skeleton-h-10 skeleton-w-40"></div>
	<div class="skeleton-break skeleton-h-50"></div>
	<div class="skeleton-center">										
		<div class="skeleton-rect skeleton-h-20 skeleton-w-80"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-80"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-90"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-90"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-90"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-90"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-90"></div>
	</div>
</div>
						
<div class="card-abonos">
	<div class="abonos-more"><i class="icon icon-showmore"></i></div>
	<div class="abonos-title">Abonos proyectados</div>
	<div class="abonos-amount">
		<div class="abonos-amount-up">
			$<span class="abonos-amount-up-amount">27,481.25</span>
		</div>
		<div class="abonos-amount-down">
			Vista Cliente <strong class="abonos-amount-firmantes">Firmantes / 3 meses</strong>
		</div>
	</div>
	<div class="abonos-calendar">
		<div class="abonos-container-select">
			<div id="mobileSelAbonoYear" class="abonos-select-year">
				<select name="selAbonoYear" id="selAbonoYear">
					<option value="enero" checked>Ene</option>
					<option value="febrero">Feb</option>
					<option value="marzo">Mar</option>
					<option value="abril">Abr</option>
					<option value="mayo">May</option>
					<option value="junio">Jun</option>
					<option value="julio">Jul</option>
					<option value="agosto">Ago</option>
					<option value="setiembre">Set</option>
					<option value="octubre">Oct</option>
					<option value="noviembre">Nov</option>
					<option value="diciembre">Dic</option>
				</select>
			</div>			
			<div class="abonos-select-portfolio">
				<select name="selAbonoPortafolios" id="selAbonoPortafolios">
					<option value="101570-1">Portafolio 101570-1</option>
					<option value="101570-2">Portafolio 101570-2</option>
					<option value="101570-3">Portafolio 101570-3</option>
					<option value="101570-4">Portafolio 101570-4</option>
					<option value="101570-5">Portafolio 101570-5</option>
				</select>
			</div>
		</div>
	</div>

	<script  type="x-tmpl-mustache" id="tmpAbonosGraphic">
		{{#datos}}
			{{#abonos}}
		    <div class="abonos-graphic-month {{hover}}" data-month="{{totalobj}}">
		    	<!-- agregar clase "active", por si quiere mostrarse la barrita -->
				<div class="abonos-graphic-bar" >
					{{#abonado}}
					<div class="abonos-graphic-bar-size abonos-abonado" style="height: {{percent}}%;">
						<div class="abonos-graphic-bar-hover">
							<div class="abonos-graphic-bar-width">$ {{amount}} <span>Abonado</span></div>
						</div>
					</div>
					{{/abonado}}

					{{^abonado}}
					<div class="abonos-graphic-bar-size " style="height: {{percent}}%;">
						<div class="abonos-graphic-bar-hover">
							<div class="abonos-graphic-bar-width">$ {{amount}}</div>
						</div>
					</div>
					{{/abonado}}						
				</div>
				<div class="abonos-graphic-name">{{month}}</div>
			</div>
			{{/abonos}}
		{{/datos}}
	</script>
	<div id="mustacheAbonosGraphic" class="abonos-graphic">
		
	</div>
	

	<div class="abono-tabs">
		<div class="abono-tab-link active" data-tab="1">3 meses</div>
		<div class="abono-tab-link" data-tab="2">6 meses</div>
		<div class="abono-tab-link" data-tab="3">1 año</div>
	</div>
	<div class="abono-link">
		<a href="javascript:void(0)" class="abono-link-href">Ver calendario de pagos</a>
	</div>
	<div class="abonos-warning">Solo para pagos de cupón de bonos y productos estructurados en su portafolio</div>
		
</div>	




<div id="abonosMeses" class="abonos-toolbar">
	<div class="abonos-meses-title">Seleccione el mes de su interés</div>
	<div id="closeAbonosToolbar" class="abonos-close"><i class="icon icon-close"></i></div>
	<div id="abonosMesesList" class="abonos-meses-list">
		<label class="container-radio abonos-mes-label" for="enero">
			<input  type="radio" value="enero" id="enero" name="mes" checked>
			<span class="checkmark"></span>
			<label for="enero" class="container-radio-text">Enero</label>
		</label>
		<label class="container-radio abonos-mes-label" for="febrero">
			<input  type="radio" value="febrero" id="febrero" name="mes">
			<span class="checkmark"></span>
			<label for="febrero" class="container-radio-text">Febrero</label>
		</label>
		<label class="container-radio abonos-mes-label" for="marzo">
			<input  type="radio" value="marzo" id="marzo" name="mes">
			<span class="checkmark"></span>
			<label for="marzo" class="container-radio-text">Marzo</label>
		</label>
		<label class="container-radio abonos-mes-label" for="abril">
			<input  type="radio" value="abril" id="abril" name="mes">
			<span class="checkmark"></span>
			<label for="abril" class="container-radio-text">Abril</label>
		</label>
		<label class="container-radio abonos-mes-label" for="mayo">
			<input  type="radio" value="mayo"  id="mayo" name="mes">
			<span class="checkmark"></span>
			<label for="mayo" class="container-radio-text">Mayo</label>
		</label>
		<label class="container-radio abonos-mes-label" for="junio">
			<input  type="radio" value="junio" id="junio" name="mes">
			<span class="checkmark"></span>
			<label for="junio" class="container-radio-text">Junio</label>
		</label>
		<label class="container-radio abonos-mes-label" for="julio">
			<input  type="radio" value="julio" id="julio" name="mes">
			<span class="checkmark"></span>
			<label for="julio" class="container-radio-text">Julio</label>
		</label>
		<label class="container-radio abonos-mes-label" for="agosto">
			<input  type="radio" value="agosto" id="agosto" name="mes">
			<span class="checkmark"></span>
			<label for="agosto" class="container-radio-text">Agosto</label>
		</label>
		<label class="container-radio abonos-mes-label" for="setiembre">
			<input  type="radio" value="setiembre" id="setiembre" name="mes">
			<span class="checkmark"></span>
			<label for="setiembre" class="container-radio-text">Setiembre</label>
		</label>
		<label class="container-radio abonos-mes-label" for="octubre">
			<input  type="radio" value="octubre" id="octubre" name="mes">
			<span class="checkmark"></span>
			<label for="octubre" class="container-radio-text">Octubre</label>
		</label>
		<label class="container-radio abonos-mes-label" for="noviembre">
			<input  type="radio" value="noviembre" id="noviembre" name="mes">
			<span class="checkmark"></span>
			<label for="noviembre" class="container-radio-text">Noviembre</label>
		</label>
		<label class="container-radio abonos-mes-label" for="diciembre">
			<input  type="radio" value="diciembre" id="diciembre" name="mes">
			<span class="checkmark"></span>
			<label for="diciembre" class="container-radio-text">Diciembre</label>
		</label>
	</div>
</div>


