/*
 * Card Abonos Mobile
 * @author mfyance
 */

@import url("abonos-desktop.css");


@media screen and (max-width: 1279px) and (min-width: 350px) {
    [data-month="3"].abonos-graphic-month {
        width: calc(100% / 3 - 5px);
    }

    [data-month="6"].abonos-graphic-month {
        width: calc(100% / 6);
    }

    [data-month="12"].abonos-graphic-month {
        width: calc(100% / 12);
    }
}

@media screen and (max-width: 1279px) {

    .abonos-year::-webkit-scrollbar {
        display: none;
    }

    .abonos-year::-webkit-scrollbar-thumb {
        display: none;
    }

    .abonos-year::-webkit-scrollbar-track {
        display: none;
    }

    .abonos-title {
        font: 24px var(--font-primary-bold);
        margin-bottom: 24px;
    }

    .abonos-amount-up {
        font: 32px var(--font-primary-semibold);
    }

    .abonos-amount-down {
        font: 14px var(--font-primary);
        margin-top: 10px;
    }

    .abonos-warning {
        font: 14px var(--font-primary);
        margin-top: 12px;
    }

    .abonos-meses-list {
        margin-top: 29px;
        padding-left: 6px;
    }

    .abonos-close {
        top: 16px;
        right: 16px;
    }

    .abonos-toolbar {

        padding-top: 40px;
        padding-bottom: 16px;
        transform: translateY(580px);

    }
    .abonos-amount {
        border-left: 3px solid #DDE1E6;
        margin-bottom: 20px;
    }
    .abonos-year {

        padding-top: 20px;
    }
    .abonos-empty-content{
        height: 130px !important;
        max-height: 130px !important
    }
    .abono-tabs {
        margin-top: 15px;
        margin-bottom: 16px;
    }
    .abonos-graphic-bar {
        height: 128px !important;
    }
    .abono-link-href {
        font: 16px var(--font-primary-semibold);
       
    }
}

@media screen and (max-width: 600px) {

    .abonos-select-year .nice-select.open .list {
        opacity: 0;
        visibility: hidden;
    }
}