
<!-- Pintar Cronograma en el Detalle Prestamos -->
<script type="x-tmpl-mustache" id="tmpPrestamoCronograma">
	<div id="prestamosTableDesktop">
		<table class="inteligo-table inteligo-table-prestamos" data-table-col="6">
			<thead class="inteligo-table-thead">
				<tr class="inteligo-table-thead-tr">
					<th class="inteligo-table-thead-th t-a-l">Número de cuota</th>
					<th class="inteligo-table-thead-th  t-a-l">Fecha de pago</th>
					<th class="inteligo-table-thead-th  t-a-r">Saldo capital</th>
					<th class="inteligo-table-thead-th  t-a-r">Interés a fecha de pago</th>
					<th class="inteligo-table-thead-th  t-a-r">Cuota final</th>
					<th class="inteligo-table-thead-th  t-a-r">Capital pendiente</th>
				</tr>
			</thead>
		
			<tbody id="mustacheCronograma" class="inteligo-table-tbody">					
          		{{#cronograma}}
				 	<tr class="inteligo-table-tbody-tr" data-table-tr="{{status}}">
				        <td class="inteligo-table-tbody-td t-a-l">
				            {{num}}
				        </td>
				        <td class="inteligo-table-tbody-td t-a-l">
				            {{fechapago}}
				        </td>
				        <td class="inteligo-table-tbody-td t-a-r">
				            {{saldocapital}}
				        </td>                           
				        <td class="inteligo-table-tbody-td t-a-r">
				            {{interespago}}
				        </td>  
				        <td class="inteligo-table-tbody-td t-a-r">
				            {{cuotafinal}}
				        </td>  
				        <td class="inteligo-table-tbody-td t-a-r">
				            {{capitalpendiente}}
				        </td>  
				    </tr>
			    {{/cronograma}}	
    		</tbody>
		</table>
	</div>

	<div id="prestamosTableMobile">
		{{#cronograma}}
		<div class="mob-card-portafolio" data-prestamos="{{status}}">
			<table class="mob-portafolio-table disabled">
				<thead class="mob-portafolio-thead" >
					<tr>
						<td colspan="2" class="mob-portafolio-arrow">Cuota {{num}} / <strong>{{fechapago}}</strong> <i class="icon icon-arrow icon-arrow-up"></i></td>
					</tr>
				</thead>
				<tbody class="mob-portafolio-tbody">
					<tr>
						<td>Saldo capital</td>
						<td>{{saldocapital}}</td>
					</tr>
					<tr>
						<td>Interés a fecha de pago</td>
						<td>{{interespago}}</td>
					</tr>
					<tr>
						<td>Cuota final</td>
						<td class="prestamos-cuotafinal">{{cuotafinal}}</td>
					</tr>
					<tr>
						<td>Capital pendiente</td>
						<td>{{capitalpendiente}}</td>
					</tr>
				</tbody>										
			</table>
		</div>
		{{/cronograma}}
		
	</div>
	
</script>

<!-- Pintar Detalle Prestamos -->
<script type="x-tmpl-mustache" id="tmpPrestamo">
	{{#datos}}
	
	<div class="cardbox-head">
		
		<div class="cardbox-head-left">			
			<div class="cardbox-head-title">
				<i class="icon icon-prestamos"></i>
				Préstamos
			</div>
		</div>
		<div class="creditcard-title-right buttons-actions-content">
			<button class="button button-actions">
				<i class="icon icon-download"></i>
			</button>
			<button class="button button-actions" data-modal="email">
				<i class="icon icon-mail"></i>
			</button>
			<button class="button button-actions">
				<i class="icon icon-printer"></i>
			</button>
		</div>

		<div class="buttons-actions-tablet">
			<button class="button button-actions" data-modal="email">
				<i class="icon icon-mail"></i> Enviar PDF
			</button>
			<button class="button button-actions" data-modal="email">
				<i class="icon icon-mail"></i> Enviar Excel
			</button>
		</div>
	</div>
	<div class="cardbox-body">
		<div class="prestamos-box-top">
			<div class="cardbox-body-title">{{title}}</div>
			<div id="btnOpenConfig" class="prestamos-box-config">Configure sus notificaciones <i class="icon icon-tool"></i></div>
		</div>

		<div class="buttons-actions-mobile">
			<button class="button button-actions" data-modal="email">
				<i class="icon icon-mail"></i> Enviar PDF
			</button>
			<button class="button button-actions" data-modal="email">
				<i class="icon icon-mail"></i> Enviar Excel
			</button>
		</div>

				
		<div class="prestamos-detail">
			<div class="prestamos-left">
				<div class="prestamos-left-title1">Saldo capital</div>
				<div class="prestamos-left-title2">{{saldoCapital}}</div>
				<div class="prestamos-left-title3 ">Total pendiente a la fecha: 
					<a href="javascript:void(0)" class="tooltip-main tooltip-main-left" data-tooltip-positionx="left" data-tooltip-positiony="bottom">
						<span>{{totalPendiente}}</span>
						<div class="tooltip-main-content tooltip-prestamos">
							<i class="icon icon-question"></i>
							<div class="tooltip-main-info">
								{{{totalPendienteInfo}}}
							</div>
						</div>
					</a>
				</div>
				<div class="prestamos-left-title4" style="display: none;">No tiene ningún pago pendiente.</div>
			</div>
			<div class="prestamos-right">
				<div class="prestamos-right-title">Fecha de desembolso: <strong>{{desembolso}}</strong></div>
				<div class="prestamos-right-title">Fecha de vencimiento: <strong>{{vencimiento}}</strong></div>
			</div>
		</div>
		<div class="prestamos-squart">
			<div class="prestamos-squart-col">
				<div class="prestamos-squart-col-title">{{montoPrestamo}}</div>
				<div class="prestamos-squart-col-desc">Monto del préstamo</div>
			</div>
			<div class="prestamos-squart-col">
				<div class="prestamos-squart-col-title">{{tasaInteres}}</div>
				<div class="prestamos-squart-col-desc">Tasa de interés anual</div>
			</div>
			<div class="prestamos-squart-col">
				<div class="prestamos-squart-col-title">{{intAcumulado}}</div>
				<div class="prestamos-squart-col-desc">Interés acumulado a la fecha</div>
			</div>
			<div class="prestamos-squart-col">
				<div class="prestamos-squart-col-title">{{frecuencia}}</div>
				<div class="prestamos-squart-col-desc">Frecuencia de pago</div>
			</div>
		</div>

		<div class="prestamos-crono">
			<div class="prestamos-crono-title">Cronograma de pagos</div>
			<div class="prestamos-crono-twice">
				<div class="prestamos-crono-left">
					Fecha del próximo pago: <strong>{{proxPago}}</strong>
				</div>
				<div class="prestamos-crono-right">
					<label class="container-radio" for="todos">
						<input  type="radio" value="todos" id="todos" name="inpCuotas" >
						<span class="checkmark"></span>
						<label for="todos" class="container-radio-text prestamos-radio">Todas mis cuotas</label>
					</label>
					<label class="container-radio" for="pagada">
						<input  type="radio" value="pagada" id="pagada" name="inpCuotas">
						<span class="checkmark"></span>
						<label for="pagada" class="container-radio-text prestamos-radio">Cuotas pagadas</label>
					</label>
					<label class="container-radio" for="pendiente">
						<input  type="radio" value="pendiente" id="pendiente" name="inpCuotas" >
						<span class="checkmark"></span>
						<label for="pendiente" class="container-radio-text prestamos-radio">Pendiente de pago</label>
					</label>
				</div>
			</div>
		</div>

		<!-- Pintar las tablas con el cronograma: Desktop & Mobile -->
		<div id="partialCronograma">{{> partialCronograma }}</div>

		
		<div class="prestamos-footer">
			Recuerde que los detalles de su producto se encuentran en la moneda original del mismo.
		</div>
	</div>

	{{/datos}}
</script>

<!-- Pintar All Prestamos -->
<script type="x-tmpl-mustache" id="tmpAllPrestamos">
	{{#datos}}
		{{#general}}
		<div class="table-resumen-header">
			<div class="table-resumen-viewer">
				<i class="icon viewer-icon"></i>
				<div class="table-resumen-viewer-title">{{type}}</div>
			</div>

			<div class="table-resumen-amount">
				<div class="table-resumen-amount-title">{{{title}}}</div>
				<div class="table-resumen-amount-money">{{amount}}</div>
			</div>
		</div>
		{{/general}}

		<div class="table-resumen-body">
			{{#detail}}
			<div class="table-resumen-body-row">
				<div class="table-resumen-body-col" >
					<div class="table-resumen-body-col-maintitle">
						{{codTitle}}
					</div>
					<div class="table-resumen-body-col-mainsubtitle">
						{{codPrestamo}}
					</div>
				</div>
				<div class="table-resumen-body-col">
					<div class="table-resumen-body-col-title">
						{{totalPrestamos}}
					</div>
					<div class="table-resumen-body-col-subtitle">
						{{totalAmount}}
					</div>
				</div>
				<div class="table-resumen-body-col">
					<div class="table-resumen-body-col-title">
						{{saldoPendiente}}
					</div>
					<div class="table-resumen-body-col-subtitle">
						{{saldoAmount}}
					</div>
				</div>
				<div class="table-resumen-body-col table-resumen-body-col-icon" data-section="secPrestamos" data-prestamos="{{codPrestamo}}">
					<i class="icon chevron-right"></i>
				</div>
			</div>
			{{/detail}}
		</div>	
	{{/datos}}				
</script>

<!-- View: Detalle Prestamos -->
<div id="secPrestamos" style="display: none;">
	<div class="cardbox-back">
		<a data-section="secAllPrestamos" href="javascript:void(0)" class="cardbox-back-link">
			<i class="icon icon-arrow-left-blue"></i> Volver a mis préstamos
		</a>
	</div>
	<div id="mustachePrestamo"></div>
</div>

<!-- View: Todos los Prestamos -->
<div id="secAllPrestamos" style="display: none;">

	<div class="cardbox-back">
		<a data-section="home" href="javascript:void(0)" class="cardbox-back-link">
			<i class="icon icon-arrow-left-blue"></i> Volver a mi zona segura
		</a>
	</div>

	<div class="cardbox-head">
		<div class="cardbox-head-left">			
			<div class="cardbox-head-title">
				<i class="icon icon-prestamos"></i>
				Préstamos
			</div>
		</div>
	</div>

	<div class="cardbox-body cardbox-bg-skyblue">	
		<div id="mustacheAllPrestamos" class="table-resumen"></div>
	</div>
</div>
