/*
 * PrÃ©stamos
 * @author mfyance
*/

@import url("prestamos-desktop.css");

@media screen and (max-width: 1023px) {
  .prestamos-squart-col{
    padding: 16px;
  }
  .prestamos-squart-col:nth-child(1){
    border-bottom: 2px solid #fff;
  }
  .prestamos-squart-col:nth-child(2){
    border-right: none;
    border-bottom: 2px solid #fff;
  }
  .prestamos-squart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
  .prestamos-squart-col{
    width: 100%;
  }
  .prestamos-detail{
    flex-direction: column;
    align-items: flex-start;
  }
  .prestamos-box-top{
    flex-direction: column;
    align-items: start;
  }
  .prestamos-crono-right{
    margin-top: 16px;
  }
 
  .prestamos-right{
    margin-top: 20px;
  }
  
  .prestamos-box-title{
    margin-bottom: 14px;
  }
  .prestamos-box-config{
    margin-top: 10px;
  }
  .prestamos-crono-twice{
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {

  
  .prestamos-squart{
    display: flex;
    flex-direction: column;
    grid-template-columns: inherit;
  }
  

  .prestamos-squart-col:nth-child(3){
    border-right: none;
    border-bottom: 2px solid #fff;
  }
  
  
 
  .prestamos-detail{
    margin-top: 20px;
  }

  #prestamosTableMobile{
    display: block;
  }
  #prestamosTableDesktop {
    display: none;
  }
  .prestamos-crono-right .container-radio:last-child{
    margin-bottom: 0;
  }
  .prestamos-crono-right .container-radio{
    margin-bottom: 16px;
  }
  .prestamos-crono-right{
    flex-direction: column;
    gap: 0;
  }
  .prestamos-left-title3 {
    white-space: nowrap;
  }
}

@media screen and (max-width: 400px) {
 
  .prestamos-left-title3 a{
    margin-left: 0;
  }
}