/*
 * Card Préstamos
 * @author mfyance
 */

#prestamosTableMobile{
  display: none;
}
#prestamosTableDesktop {
  display: block;
}

.main-card-prestamos {
    margin-top: 0px; 
    padding: 0; 
}
.prestamos-content{
    padding: 0;
    /* min-height: calc(100vh - 300px); */
}
.prestamos-box{
    padding: 30px;
    min-height: calc(100vh - 250px);
}
.prestamos-box-title{
    font: 24px var(--font-primary-semibold);
    color: var(--color-secondary);
    line-height: 30px;
}
.prestamos-box-top{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 20px;
}
.prestamos-box-title{
    color: var(--color-secondary);
    font: 24px var(--font-primary-semibold);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}
.prestamos-box-config{

color: var(--color-primary);

font: 16px var(--font-primary-semibold);

align-items: center;

justify-content: center;

display: flex;

gap: 5px;

cursor: pointer;
}
.prestamos-detail{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.prestamos-left{

display: flex;

flex-direction: column;

gap: 8px;
}
.prestamos-left-title1{
    color: var(--color-gray4);
    font:14px var(--font-primary);
}
.prestamos-left-title2{
    color: var(--color-secondary);
    font:24px var(--font-primary-bold);
}
.prestamos-left-title3 span{
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    margin-left: 5px;
    margin-right: 5px;
    font: 16px var(--font-primary-bold);
    cursor: initial;
}
.prestamos-left-title3 a{
    display: flex;
    margin-left: 4px;
    align-items: center;
}
.prestamos-left-title3{
    color: var(--color-gray4);
    font: 16px var(--font-primary);
    display: flex;
    align-items: center;
}
.prestamos-left-title4{
    color: var(--color-green2);
    font: 16px var(--font-primary-medium);
    display: flex;
    align-items: center;    
}

.prestamos-right{

}
.prestamos-right-title{

font: 14px var(--font-primary);

margin-bottom: 4px;

color: var(--color-gray4);

line-height: 22px;
}

.prestamos-squart{
    background: var(--color-gray-light);
    display: flex;
    margin-top: 24px;
    padding: 12px;
    border-radius: 5px;
}
.prestamos-squart-col:last-child{
    border-right: none;
}
.prestamos-squart-col{
    padding: 6px;
    display: flex;
    align-items: center;
    width: calc(100% / 4);
    flex-direction: column;
    border-right: 1px solid #fff;
}
.prestamos-squart-col-title{
    color: var(--color-secondary);
    font: 20px var(--font-primary-bold);
    margin-bottom: 6px;
}
.prestamos-squart-col-desc{
    color: var(--color-gray4);
    font: 16px var(--font-primary-medium);
    text-align: center;
}

.prestamos-crono{

margin-top: 24px;

margin-bottom: 16px;
}
.prestamos-crono-title{

color: var(--color-gray4);

font: 18px var(--font-primary-semibold);

margin-bottom: 8px;
}
.prestamos-crono-twice{

display: flex;

justify-content: space-between;
}
.prestamos-crono-left strong{
    font: 14px var(--font-primary-bold);
    color: var(--color-primary-active);
}
.prestamos-crono-left{
    
color: var(--color-gray4);
    
font: 14px var(--font-primary);
}
.prestamos-crono-right .container-radio{
    margin-bottom: 0;
}
.prestamos-crono-right{
    display: flex;
    gap: 10px;
}

.prestamos-radio{
    font: 14px var(--font-primary);
}
.prestamos-table{
    width: 100%;
}

.inteligo-modal-email{

padding-bottom: 14px;

display: flex;

justify-content: space-between;

border-bottom: 1px solid #DDE1E6;
}
.inteligo-modal-email-left{

display: flex;

flex-direction: column;

font: 14px var(--font-primary);

color: #000;
}
.inteligo-modal-email-title{

}
.inteligo-modal-email-txt{

display: flex;

align-items: center;

vertical-align: middle;
}
.inteligo-modal-email-right{

display: flex;

gap: 5px;

align-items: flex-end;

font: 14px var(--font-primary-medium);

color: var(--color-primary);

cursor: pointer;
}
.inteligo-modal-email-right .icon{

position: relative;

left: inherit;

top: unset;

margin-bottom: 2px;
}
.inteligo-modal-notif{

margin-top: 14px;

margin-bottom: 30px;
}
.inteligo-modal-notif-txt{

font: 14px var(--font-primary);

color: #000;

margin-bottom: 10px;

display: flex;

align-items: end;

gap: 4px;
}

.inteligo-modal-block{
    margin-bottom: 16px;
}
.inteligo-modal-block:last-child{
    margin-bottom: 0;
}
.inteligo-modal-notif-switch{
    
}
.modal-input-config:disabled{
     color: #A8A8A8;
}
.modal-input-config{
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--color-gray5);
    padding: 4px 10px;
    padding-top: 0;
    width: 40px;
    color: #000;
    text-align: center;
    font: 14px var(--font-primary);
}

.prestamos-footer{
    margin-top: 16px;
    color: var(--color-gray4);
    font: 14px var(--font-primary-semibold);
    line-height: 22px;
}


.prestamos-text{
    font: 14px var(--font-primary);
    color: #7A7D80;
}



.inteligo-table-prestamos .inteligo-table-thead-th{
    font: 14px var(--font-primary-semibold);
}
.inteligo-table-prestamos[data-prestamos="todos"] .inteligo-table-tbody-td{
    font: 14px var(--font-primary);
}
.inteligo-table-prestamos[data-prestamos="todos"] .inteligo-table-tbody-tr:last-child .inteligo-table-tbody-td{
    font: 14px var(--font-primary-bold);
}
.inteligo-table-prestamos[data-prestamos="pendiente"] .inteligo-table-tbody-td{
    font: 14px var(--font-primary-bold);
}
.inteligo-table-prestamos[data-prestamos="pagada"] .inteligo-table-tbody-td{
    font: 14px var(--font-primary-bold);
    color: var(--color-green2);
}
#prestamosTableMobile [data-prestamos="pendiente"] .mob-portafolio-thead td{
    color: var(--color-primary);
}
#prestamosTableMobile [data-prestamos="pendiente"] .prestamos-cuotafinal{
    font: 14px var(--font-primary-bold);
}