/*
 * Sidebar
 * @author Jose 
 */
.inteligo-mobile-open{
  overflow: hidden;
}
.sidebar-block-profile-portfolios .block-profile-portfolios-main:last-child{
  margin-bottom: 0;
}
.sidebar-patrimonio.active .icon.chevron-up {
  transform: rotate(180deg);
}
[data-menu="first"].rotate .icon{
  transform: rotate(0) !important;
}
[data-menu="first"].active .icon{
  transform: rotate(180deg);
  filter: sepia(100%) brightness(65%)  contrast(900%);
}
[data-menu="first"].active .sidebar-dot-indicator{
  background: var(--color-yellow);
}
[data-menu="first"].active .sidebar-holder-portf{
  color: var(--color-yellow) !important;
  text-decoration: underline !important;
  text-underline-position: under;
}
[data-menu="second"].active .icon{
  transform: rotate(180deg);
  filter: invert(32%) sepia(34%) saturate(2983%) hue-rotate(192deg) brightness(103%) contrast(94%);
  -webkit-filter: invert(32%) sepia(34%) saturate(2983%) hue-rotate(192deg) brightness(103%) contrast(94%);
}
[data-section].active .sidebar-subblock-title{
  color: var(--color-blue-light);
}
.inteligo-portafolio-arrow{
  cursor: pointer;
}

.sidebar-subblock-title + .inteligo-portafolio-arrow {
  position: absolute;
  right: 47px;
}

/*Sidebar perfil One*/
.sidebar-perfil-tabs-one .active.sidebar-perfil-tabs-href,
.sidebar-perfil-tabs-one .active.sidebar-perfil-tabs-href:hover,
.sidebar-perfil-tabs-one .sidebar-perfil-tabs-href:hover{
  background: transparent;
}
.sidebar-perfil-tabs-one .sidebar-perfil-tabs-href{
  width: 100%;
  cursor: inherit;
  background: transparent;
  text-align-last: left;
}

.sidebar-perfil{
  margin-top: 15px;
  margin-bottom: 20px;
  width: 100%;
  width: calc(100% - 40px);
  margin-left: 20px;
}
.sidebar-perfil-title{
  color: var(--color-white-bone);
  font: 13px var(--font-primary-medium);
  text-align: left;
  margin-bottom: 5px;
}
.sidebar-perfil-tabs{
  display: flex;
  border: 1px solid #fff;
  padding: 1px 1px;
}

.sidebar-perfil-tabs-one{
  width: 100%;
  padding: 1px 10px;
}

.sidebar-perfil-tabs-link{
  width: 100%;
  display: flex;
  padding: 4px;
}
.sidebar-perfil-tabs-link .sidebar-perfil-tabs-href {
  width: inherit;
}
.active.sidebar-perfil-tabs-href{
  background: var(--color-primary);
}
.sidebar-perfil-tabs-href:not(.active):hover{
  background: #eef5fe;
  color: var(--color-primary); ;
}
.sidebar-perfil-tabs-href {
  transition: all .2s ease;
  color: white;
  font: 12px var(--font-primary);
  display: block;
  text-align: center;
  padding: 8px 18px;
}

.sidebar-maincontent{
  display: block;
}
.active.sidebar-subblock-secondary .sidebar-subblock-title {
	color: var(--color-blue-light);
}

.inteligo-sidebar {
  width: 280px;
  min-width: 280px;
  background-color: var(--color-dark2);
  height: 100vh;
  box-shadow: 1px 0px 2px 0px #323232;
  position: relative;
  z-index: 5;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
/*Main*/
.inteligo-sidebar-option {
  width: 100%;
  background: var(--color-dark2);
  border-radius: 0;
  transition: all 0.3s ease;
  position: relative;
}
.inteligo-sidebar-option.active .inteligo-sidebar-arrow{
  border-left-color: var(--color-blue-light)
}
.inteligo-sidebar-arrow{
  width: 0;
  height: 0;
  border-left: 6px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
  right: 38px;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

.inteligo-sidebar-option.active > .sidebar-suboptions{
  display: flex;
  flex-direction: column;
}

.inteligo-sidebar-option > .sidebar-suboptions{
  display: none;
}

.inteligo-sidebar-icon {
  width: 25px;
  position: relative;
  cursor: pointer;
}

.inteligo-sidebar-line:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 8px;
  width: 1px;
  height: calc( 100% - 23px );
  background: #52627a;
}
.inteligo-sidebar-line {
  position: relative;
}
.inteligo-sidebar-text {
  width: calc(100% - 30px);
  transition: all 0.3s ease-in;
  cursor: pointer
  ;
}

.sidebar-subtitle {
  font: 16px var(--font-primary-semibold);
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 4px;
}  
.sidebar-title { 
  color: var(--color-white-bone);
  font: 14px var(--font-primary-medium);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar-title-2 {
  color: var(--color-white-bone);
  font: 12px var(--font-primary-medium);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.inteligo-sidebar-option:not(.active):hover .sidebar-title{
  color: white;
}

.inteligo-sidebar-option.active .sidebar-title {
  color: var(--color-blue-light);
}

.inteligo-portafolio-arrow .icon{
  transition: all .3s ease;
}

.inteligo-sidebar-option.active > .sidebar-mainoption-b .icon-arrow-r-2{
  transform: rotate(90deg);
}
 
.active .sidebar-mainoption .inteligo-sidebar-icon .icon {
  filter: invert(32%) sepia(34%) saturate(2983%) hue-rotate(192deg) brightness(103%) contrast(94%);
}

.active.sidebar-subblock-secondary .inteligo-sidebar-icon .icon {
	filter: invert(32%) sepia(34%) saturate(2983%) hue-rotate(192deg) brightness(103%) contrast(94%);
}

.border-left-sid .sidebar-accordion:hover{
  background: inherit;
}
.border-left-sid .inteligo-sidebar-text{
  width: auto;
}
.border-left-sid{
  border-left: 1px solid var(--color-blue-dark2);
  margin-left: 20px;
  position: relative;
  padding-top: 7px;
}
.sidebar-profile-type {
  position: relative;
  color: var(--color-blue-ls);
  font: 14px var(--font-primary-medium);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.inteligo-sidebar-twotext {
  font: 14px var(--font-primary);
  color: #191a1b;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar-mainoption {
  width: 100%;
  background: var(--color-dark);
  padding: 12px 24px;
  display: flex;
  cursor: default;
}
.sidebar-mainoption-b {
  width: 100%;
  background: var(--color-dark2);
  display: flex;
  cursor: default;
}
.sidebar-suboptions-content.active:hover .sidebar-holder-portf:hover,
.sidebar-suboptions-content.active .sidebar-holder-portf:hover {
  color: var(--color-yellow) !important;
  text-decoration: underline !important;
  text-underline-position: under;
}
.sidebar-holder-portf.active {
  color: var(--color-yellow) !important;
  text-decoration: underline !important;
  text-underline-position: under;
}

.active.bullet-point::before {
  color: var(--color-yellow);
  margin-right: 10px;
}

.sidebar-dot-indicator {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #AAAEB3;
  transform: translateY(5px);
  margin-right: 8px;
}
.sidebar-suboptions-content:hover:not(.active) .sidebar-dot-indicator{
  background: #ACC8FA !important;
}
.sidebar-dot-indicator .sidebar-holder-portf.active{
  background: var(--color-yellow);
}

.sidebar-suboptions {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar-suboptions-box:last-child .sidebar-suboptions-content {
  border-bottom: none;
}
.sidebar-suboptions-box:hover:after {
  transform: scale(1) translateY(-50%);
}
.sidebar-suboptions-box-b{
  padding-left: 16px;
}
.sidebar-suboptions-box2 {
  margin-top: 4px;
  margin-bottom: 8px;
}
.sidebar-suboptions-box2,
.sidebar-suboptions-box {
  position: relative;
  padding: 0px 10px 0px 25px;
  width: 100%;
  
}
.sidebar-suboptions-box3 {
  position: relative;
  padding: 0px 0px 0px 30px;
  width: 100%;
  display: flex;
}

.sidebar-suboptions-box:hover .sidebar-suboptions-title:after {
  width: 100%;
}

.inteligo-sidebar-option.active .sidebar-mainoption{
  background: var(--color-dark-background);
   min-height: 65px;
}

.sidebar-patrimonio{
  cursor: pointer;
}

.inteligo-sidebar-option .sidebar-mainoption.sidebar-patrimonio{
  border-top: 1px solid var(--color-border);
  
}
.inteligo-sidebar-option .sidebar-mainoption.sidebar-patrimonio .inteligo-sidebar-icon{
  align-items: center;
  height: 100%;
  display: flex;
}

.inteligo-sidebar-option .sidebar-mainoption.sidebar-patrimonio .inteligo-sidebar-icon:last-child {
  margin-top: 12px;
}
.inteligo-sidebar-option .sidebar-mainoption.sidebar-patrimonio .inteligo-sidebar-icon:first-child{
  align-items: flex-start;
}
.inteligo-sidebar-option .sidebar-mainoption{
  background: var(--color-dark2);
  
  border-bottom: 1px solid var(--color-border);
}
.sidebar-suboptions-title:after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.sidebar-suboptions-title {
  position: relative;
  font: 14px var(--font-primary-medium);
  color: var(--color-dark-s);
  margin-bottom: 4px;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
}
.head-portfolio-active.active .sidebar-suboptions-title {
  color: var(--color-blue-light);
}
.head-portfolio-active.active .icon{
  transform: rotate(180deg);
}

.sidebar-suboptions-title-2 {
  position: relative;
  font: 14px var(--font-primary);
  color: var(--color-blue-ls);
  margin-bottom: 4px;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sidebar-profile-type:after{
    content: "";
    background: #52627a;
    width: 12px;
    height: 1px;
    position: absolute;
    left: -15px;
    top: 7px;
}
.sidebar-suboptions-title-b:after{
      content: "";
      background: #52627a;
      width: 12px;
      height: 1px;
      position: absolute;
      left: -17px;
      top: 7px;
}
.sidebar-suboptions-title-b {
  position: relative;
  font: 12px var(--font-primary-medium);
  color: var(--color-dark-s);
  margin-bottom: 4px;
  display: inline-block;
  transition: all 0.3s ease;
}
.sidebar-suboptions-title-b:hover{
  color: var(--color-blue-ls);
  
}

.sidebar-holder-portf {
  position: relative;
  font: 13px var(--font-primary-medium);
  color: var(--color-white-bone);
  margin-bottom: 4px;
  display: inline-block;
  transition: all 0.3s ease;
}
.sidebar-suboptions-content:hover .sidebar-holder-portf {
  color: #ACC8FA;
}

.sidebar-suboptions-money {
  font: 14px var(--font-primary);
  color: var(--color-white);
  padding-top: 2px;
}
.sidebar-suboptions-money-2 {
  font: 14px var(--font-primary);
  color: var(--color-white);
}
.sidebar-suboptions-content-2 .sidebar-suboptions-money-2 {
  padding-top: 4px;
}
.sidebar-suboptions-content>a{
  position: relative;
  z-index: 1;
}
.sidebar-suboptions-content {
  padding: 0;
  display: inline-flex;
  color: #313334;
  position: relative;
}
.sidebar-suboptions-content-2 {
  padding: 8px 0px 0px 12px;
  color: #313334;
  display: flex;
  position: relative;
}
.sidebar-suboptions-content .suboptions-detail {
  font: 11px var(--font-primary);
  letter-spacing: 0.5px;
  color: var(--color-white-bone);
}
.sidebar-suboptions-content-2 .suboptions-detail {
  font: 12px var(--font-primary);
  color: var(--color-white-bone);
}
.sidebar-suboptions-link:hover {
  color: var(--color-blue-light);
}
.sidebar-suboptions-link:hover:after {
  width: 100%;
  background: var(--color-blue-light);
}
.sidebar-suboptions-link:after {
  content: "";
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.sidebar-suboptions-link {
  position: relative;
  font: 14px var(--font-primary);
  color: #fff;
  padding: 5px 0px;
  margin-left: 12px;
  display: inline-block;
  transition: all 0.3s ease;
  box-shadow: inset 0px 0 0 transparent;
}

.inteligo-ilife {
  padding-top: 20px;
  cursor: pointer;
  padding-bottom: 40px;
  text-align: center;
}

.inteligo-collapsed .inteligo-ilife-logo,
.inteligo-ilife .icon-ilife {
  display: none;
}

.inteligo-collapsed .inteligo-ilife {
  padding-left: 0;
  padding-top: 10px;
}
.inteligo-collapsed .icon-ilife {
  display: flex;
}

.sidebar-suboptions-others:hover .sidebar-suboptions-money-2{
  color: #ACC8FA;
}
.sidebar-suboptions-others{
  margin-top: 4px;
  display: block;
}
/* ====================================== */
.sidebar-accordion {
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
 align-items: flex-start;
  transition: all .4s ease;
}

.sidebar-accordion:hover {
   background-color: #fbfbfb1a
}

.panel {
  display: none;
  background-color: white;
  overflow: hidden;
}
.pl-10 {
  padding-left: 15px;
}
.pl-22 {
  padding-left: 22px;
}
.pl-25 {
  padding-left: 25px;
}
.pt-12{
  padding-top: 12px;
}
.mt-16{
  margin-top: 16px;
}
.mb-16{
  margin-bottom: 16px;
}
/*==========Perfil===========*/
/* Style the tab */

.tipo-perfil{
  margin: 25px auto 5px;
  color: var(--color-white-bone);
  font: 13px var(--font-primary-medium);
  text-align: left;
  width: 229px;
  width: 86%;
}
.tab-perfil {
  border: 1px solid var(--color-white);
  background-color: var(--color-dark2);
  width: 86%;
  min-height: 49px; /*QUEDA DESARROLLO*/
  margin: 0 auto;
  margin-bottom: 15px;
  display: flex;
}

/* Style the buttons inside the tab */
.tab-perfil button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 5px;
  transition: 0.3s;
  font: 12px var(--font-primary);
  color: #fff;
  margin: 4px;
  width: calc(100% / 3);
}

/* Change background color of buttons on hover */
.tab-perfil button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* Create an active/current tablink class */
.tab-perfil button.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* =========BURBUJAS=========== */
.sidebar-bubble-tooltip:after{
  content: '';
  position: absolute;
  right: 3px;
  top: -4px;
  width: 0;
  height: 0;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  clear: both;
  border-bottom: 7px solid #1148C6;
}
.sidebar-bubble-tooltip{
  position: absolute;
  top: 24px;
  right: 0px;
  width: 120px;
  background: #1148C6;
  padding: 10px;
  border-radius: 0px;
  color: white;
  z-index: 2;
  font: 12px var(--font-primary);
  transform: scale(0); 
  opacity: 0; 
  transition: all .3s ease;
  transform-origin: top right;
}
.sidebar-bubble:hover .sidebar-bubble-tooltip{
    opacity: 1;
    transform: scale(1);

}
.sidebar-bubble:hover .sidebar-bubble-text:hover{
  background: #1148C6;
}
.sidebar-bubble{
  position: absolute;
  right: 4px;
  top: 10px;
}

.sidebar-bubble-text {
  color: var(--color-white);
  width: 20px;
  height: 20px;
  font: 12px var(--font-primary);
  transition: all .3s ease;
  border-radius: 50%;
  background: #2765F5;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inteligo-sidebar::-webkit-scrollbar {
  width: 8px;
  height: 75px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.inteligo-sidebar::-webkit-scrollbar-thumb {
  background: #3E4F6A;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.inteligo-sidebar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}


[data-section="secCreditCard"].active  .sidebar-mainoption {
  border-bottom: none !important;
}
.inteligo-sidebar-option.active:not(data-section="secPrestamos"){
  border-bottom: 1px solid var(--color-border);
}
.inteligo-sidebar-option.active:first-child {
  padding-bottom: 20px;
}

.sidebar-suboptions-box .inteligo-sidebar-option.active {
  border-bottom: none;
}

.sidebar-title,
.inteligo-sidebar-icon .icon{
  transition: all .3s ease;
}

.nopointer{
  cursor: default !important;
}

/* NUEVOS BLOQUES Y MODIFICACIONES DEL SIDEBAR */
.sidebar-block-main {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.sidebar-block-secondary {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar-subblock-secondary::before {
  content: "";
  background: #92969A;
  width: 15px;
  height: 1px;
  position: relative;
  left: -26px;
  top: 7px;
  margin-right: -16px;
}
.sidebar-subblock-secondary {
  display: flex;
}
.sidebar-subblock-secondary-2 {
  display: flex;
  padding: 6px 0;
  border-bottom: 1px solid #52627A;
}
.just-cash {
  display: flex;
  padding: 6px 0;
  border-bottom: 1px solid #52627A;
}

.sidebar-subblock-secondary-2:last-child {
  border-bottom: 0;
}
.sidebar-inteligo-hr {
  border: none;
  border-left: 1px solid #92969A;
  margin: -20px 25px 30px 18px;
}
.sidebar-inteligo-hr-2 {
  border: none;
  border-left: 1px solid #92969A;
  margin: -16px 25px 28px 32px;
}
.sidebar-subblock-title {
  position: relative;
  font: 14px var(--font-primary-medium);
  color: #AAAEB3;
  margin-bottom: 4px;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
}
[data-submenu].active .sidebar-subblock-title {
  color: var(--color-blue-light);
}
.sidebar-subblock-money {
  font: 14px var(--font-primary);
  color: var(--color-white);
}
.sidebar-subblock-money-2 {
  font: 14px var(--font-primary);
  color: var(--color-white);
}
.sidebar-subblock-money::after {
  content: url(../icon/img/icon-arrow-r.svg);
  position: absolute;
  margin-top: -14px;
  left: 153px;
}

.sidebar-block-profile {
   display: flex;
  padding: 15px 0 15px 45px;
}
.sidebar-block-profile span {
  color: var(--color-blue-light);
}
.sidebar-block-profile span:first-child {
  background: var(--color-blue-light);
}
.sidebar-block-profile span:last-child {
  font: 12px var(--font-primary-semibold);
}
.block-profile-portfolios-main{
  margin-left: 35px;
  margin-bottom: 20px;
}

.cash-body-trigger .portfolio-active-subitems-head .just-cash:last-child,
.cash-body-trigger-1 .portfolio-active-subitems-head .just-cash:last-child,
.cash-body-trigger-2 .portfolio-active-subitems-head .just-cash:last-child,
.cash-body-trigger-3 .portfolio-active-subitems-head .just-cash:last-child {
  border-bottom: none;
}
.block-profile-portfolios-secondary {
  display: flex;
}
.horizontal-bar::after {
  content: "";
  background: #92969A;
  width: 15px;
  height: 1px;
  position: relative;
  left: -26px;
  top: -23px;
}
.horizontal-bar em {
  font-style: italic;
}
.sidebar-container-portfolios {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}
.sidebar-block-profile-portfolios {
  display: flex;
  flex-direction: column;
}
.just-portfolios {                /* REVISAR ESTA SECCIÓN */
margin-top: 16px;
}
.noprincipal-assets {
  margin-left: 30px;
}

.block-profile-portfolios-main .head-portfolio-active {
  margin-top: 16px;
  display: flex;
  gap: 8px;
}

.inteligo-sidebar-option:first-child {
  background: rgba(19, 40, 73, 0.5);
}
.next-page::before {
  content: url(../icon/img/icon-arrow-r.svg);
  position: absolute;
  right: 47px;
}
.active.sidebar-holder-portf .chevron-up {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
/* HOVER */
.sidebar-subblock-secondary:hover .sidebar-subblock-title {
  color: #ACC8FA;
}
.sidebar-subblock-secondary:hover .icon-global-s {
  filter: invert(66%) sepia(96%) saturate(200%) hue-rotate(189deg) brightness(160%) contrast(95%);
  -webkit-filter: invert(66%) sepia(96%) saturate(200%) hue-rotate(189deg) brightness(160%) contrast(95%);
}
.sidebar-subblock-secondary:hover .icon-piggy-s {
  filter: invert(66%) sepia(96%) saturate(200%) hue-rotate(189deg) brightness(160%) contrast(95%)
}
.sidebar-subblock-secondary:hover .icon-cash-s {
  filter: invert(66%) sepia(96%) saturate(200%) hue-rotate(189deg) brightness(160%) contrast(95%)
}
/* ACTIVE */
.sidebar-subblock-secondary:active .sidebar-subblock-title {
  color: var(--color-blue-light);
}
.sidebar-subblock-secondary:active .icon-global-s {
  filter: invert(32%) sepia(34%) saturate(2983%) hue-rotate(192deg) brightness(103%) contrast(94%);
  -webkit-filter: invert(32%) sepia(34%) saturate(2983%) hue-rotate(192deg) brightness(103%) contrast(94%);
}
.sidebar-subblock-secondary:active .icon-piggy-s {
  filter: invert(32%) sepia(34%) saturate(2983%) hue-rotate(192deg) brightness(103%) contrast(94%);
  -webkit-filter: invert(32%) sepia(34%) saturate(2983%) hue-rotate(192deg) brightness(103%) contrast(94%);
}
.sidebar-subblock-secondary:active .icon-cash-s {
  filter: invert(32%) sepia(34%) saturate(2983%) hue-rotate(192deg) brightness(103%) contrast(94%);
  -webkit-filter: invert(32%) sepia(34%) saturate(2983%) hue-rotate(192deg) brightness(103%) contrast(94%);
}
.portfolio-active-subitems-head .sidebar-subblock-title {
  font: 12px var(--font-primary-medium);
}
.flip {
  transform: rotate(-180deg);
  transition-duration: 500ms;
}

.active.sidebar-holder-portf ~ .chevron-up {
  transform: rotate(-180deg);
}

.cash-title em, .equal-title em {
  font-style: italic;
}

.cash-title, .equal-title {
  padding-top: 8px;
  padding-bottom: 6px;
  cursor: inherit;
}

.activos-body-trigger-3{
  position: relative;
}
/* .sidebar-subblock-title.active {
  color: #80AAF8;
} */



@media screen and (max-width: 1279px) {
  .inteligo-ilife{
    padding-bottom: 120px
  }
  .tipo-perfil{
    margin-top: 10px
  }
 
  .inteligo-mobile-open .inteligo-sidebar {
    transform: translateX(0px);

  }

  .btn-collapsed {
    display: none;
  }
  .inteligo-sidebar {
    top: 50px;
    position: fixed;
    height: 100vh;
    overflow: auto;
    padding-bottom: 80px;
    transform: translateX(-500px);
    transition: transform 0.3s ease;
    box-shadow: none;
  }

  /*Mobile*/
  .inteligo-mobile .inteligo-sidebar {
    box-shadow: 0 3px 2px #818181;
  }
  .inteligo-mobile .btn-collapsed {
    display: none;
  }
  .inteligo-mobile .inteligo-sidebar {
    top: 50px;
    position: fixed;
    height: 100vh;
    overflow: auto;
    padding-bottom: 50px;
   
  }
  /* SCROLLBAR DEL SIDEBAR */
  .inteligo-sidebar::-webkit-scrollbar {
    width: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .inteligo-sidebar::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .inteligo-sidebar::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .sidebar-inteligo-hr { 
    margin: -20px 25px 34px 18px !important;
  }
}

@media screen and (max-width: 600px) {   
  .inteligo-mobile-open .inteligo-sidebar {
    width: 100%;
  }
  .sidebar-perfil-tabs-link .sidebar-perfil-tabs-href {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 375px){

  .sidebar-inteligo-hr { 
    margin: -20px 25px 34px 18px;
  }
}