<aside id="sidebarSkeleton" class="inteligo-sidebar" style="overflow:hidden">
	<div class="skeleton skeleton-sidebar">
		<div class="skeleton-rect skeleton-h-20 skeleton-w-50"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-70 skeleton-left-30"></div>
		<div class="skeleton-break skeleton-h-40"></div>
		<div class="skeleton-left-30">										
			<div class="skeleton-rect skeleton-h-15 skeleton-w-30"></div>
			<div class="skeleton-break skeleton-h-10"></div>
			<div class="skeleton-rect skeleton-h-15 skeleton-w-50 skeleton-left-30"></div>
			<div class="skeleton-break skeleton-h-20"></div>
			<div class="skeleton-rect skeleton-h-15 skeleton-w-40 skeleton-left-30"></div>
			<div class="skeleton-break skeleton-h-10"></div>
			<div class="skeleton-rect skeleton-h-15 skeleton-w-50 skeleton-left-30"></div>
			<div class="skeleton-break skeleton-h-30"></div>
			<div class="skeleton-rect skeleton-h-15 skeleton-w-40 skeleton-left-30"></div>
			<div class="skeleton-break skeleton-h-10"></div>
			<div class="skeleton-rect skeleton-h-15 skeleton-w-50 skeleton-left-30"></div>
			<div class="skeleton-break skeleton-h-30"></div>
		</div>
		<div class="skeleton-left-30">										
			<div class="skeleton-rect skeleton-h-15 skeleton-w-30"></div>
			<div class="skeleton-break skeleton-h-10"></div>
			<div class="skeleton-rect skeleton-h-15 skeleton-w-50 skeleton-left-30"></div>
			<div class="skeleton-break skeleton-h-20"></div>
			<div class="skeleton-rect skeleton-h-15 skeleton-w-40 skeleton-left-30"></div>
			<div class="skeleton-break skeleton-h-10"></div>
			<div class="skeleton-rect skeleton-h-15 skeleton-w-50 skeleton-left-30"></div>
			<div class="skeleton-break skeleton-h-30"></div>
			<div class="skeleton-rect skeleton-h-15 skeleton-w-40 skeleton-left-30"></div>
			<div class="skeleton-break skeleton-h-10"></div>
			<div class="skeleton-rect skeleton-h-15 skeleton-w-50 skeleton-left-30"></div>
			<div class="skeleton-break skeleton-h-30"></div>
		</div>
		<div class="skeleton-left-30">										
			<div class="skeleton-rect skeleton-h-15 skeleton-w-30"></div>
			<div class="skeleton-break skeleton-h-10"></div>
			<div class="skeleton-rect skeleton-h-15 skeleton-w-50 skeleton-left-30"></div>
			<div class="skeleton-break skeleton-h-20"></div>
		</div>
	</div>
	<div class="header-logo">
		<img class="header-logo-img" src="../../private/pages/masterpage/img/logo-inteligo-white.svg" alt="Logo Inteligo">
	</div>
  	<div class="sidebar-perfil">
  		<div class="sidebar-perfil-title">Perfil</div>
  		 <div class="sidebar-perfil-tabs"> <!-- sidebar-perfil-tabs-one -->
  			<div class="sidebar-perfil-tabs-link">
  				<a href="javascript:void(0)" class="sidebar-perfil-tabs-href">Titular</a>
				<a href="javascript:void(0)" class="sidebar-perfil-tabs-href">Firmante</a>
				<a href="javascript:void(0)" class="sidebar-perfil-tabs-href active">Todos</a>
  			</div>
  		</div>
  	</div>
  	<div  class="sidebar-maincontent">  		
		
		<div id="menuPatrimonioTotal" class="inteligo-sidebar-option active">
			<div class="sidebar-mainoption sidebar-accordion sidebar-patrimonio active">
				<div class="inteligo-sidebar-icon">
					<i class="icon icon-patrimonio-2"></i>
				</div>
				<div class="inteligo-sidebar-text">
					<div class="sidebar-title">Patrimonio total</div>
					<div class="sidebar-subtitle"> USD $450,065.61</div>
				</div>
				<div class="inteligo-sidebar-icon">
					<i class="icon chevron-up"></i>
				</div> 
			</div>
			<div class="sidebar-mainoption-second">
				<div class="sidebar-block-main">
					<hr class="sidebar-inteligo-hr">
					<div class="sidebar-block-secondary">
						<div  class="sidebar-subblock-secondary" data-section="secAllCorrientes" data-menu-corriente-ind="20000000">
							<div class="inteligo-sidebar-icon">
								<i class="icon icon-global-s"></i>
							</div>
							<div class="sidebar-subblock-title">Cuenta corriente
								<br><div class="sidebar-suboptions-money">USD $726,134.00</div>
							</div>
							<div class="inteligo-portafolio-arrow">
								<i class="icon icon-arrow-r"></i>
							</div>
						</div>
						<div class="sidebar-subblock-secondary">
							<div class="inteligo-sidebar-icon">
								<i class="icon icon-piggy-s"></i>
							</div>
							<div class="sidebar-subblock-title">Depósitos
								<br><div class="sidebar-suboptions-money">USD $726,134.93</div>
							</div>
							<div class="inteligo-portafolio-arrow">
								<i class="icon icon-arrow-r"></i>
							</div>
						</div>
						<div class="sidebar-subblock-secondary">
							<div class="inteligo-sidebar-icon">
								<i class="icon icon-cash-s"></i>
							</div>
							<div class="sidebar-subblock-title">Portafolios
								<br><div class="sidebar-suboptions-money">USD $726,134.93</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar-block-profile">	<!-- noprincipal-assets -->
					<span class="sidebar-dot-indicator"></span><span>TITULAR</span>
				</div>
				<div class="sidebar-block-profile-portfolios"> <!-- just-portfolios -->
					<div class="block-profile-portfolios-main">
						<div class="sidebar-suboptions-box3">
							<a data-menu="first" data-portafolio="100000-1" href="javascript:void(0)" class="sidebar-suboptions-content">
								<div class="sidebar-dot-indicator"></div>
								<div class="sidebar-container-portfolios">
									<div class="sidebar-holder-portf">Portafolio 100000-1</div>
									<div class="sidebar-suboptions-money">$ 1,022,158.81</div>
								</div>
								<div class="inteligo-portafolio-arrow">
									<i class="icon chevron-up"></i>
								</div> 
							</a>
						</div>
						<div class="block-profile-portfolios-secondary" style="display: none;">
							<hr class="sidebar-inteligo-hr-2">
							<div>
								<div data-menu="second" class="head-portfolio-active">
									<div class="sidebar-suboptions-title horizontal-bar"> <em>Cash</em> y equivalentes
										<br><div class="sidebar-suboptions-money">$ 726,134.93</div>
									</div>
									<div class="inteligo-portafolio-arrow">
										<i class="icon chevron-up"></i>
									</div>
								</div>
								<div class="portfolio-active-subitems" style="display: none;">
									<div class="portfolio-active-subitems-head">
										<div class="sidebar-suboptions-title-2 cash-title"> <em>Cash</em>
											<!-- <br><div class="sidebar-suboptions-money">$ 726,134.93</div> -->
										</div>
										<div class="just-cash next-page" data-section="secCtaCorriente" data-menu-corriente="1000000001">
											<div class="sidebar-subblock-title">Cuenta corriente
												<br><div class="sidebar-subblock-money-2">$ 426,134.93</div>
											</div>
										</div>
										<div class="just-cash next-page" data-section="secCtaTrading" data-menu-trading="1000000001">
											<div class="sidebar-subblock-title">Cuenta trading
												<br><div class="sidebar-subblock-money-2">$ 300,000.00</div>
											</div>
										</div>
										<div class="sidebar-suboptions-title-2 equal-title">Equivalentes de <em>cash</em>
											<!-- <br><div class="sidebar-suboptions-money">$ 726,134.93</div> -->
										</div>
										<div class="sidebar-subblock-secondary-2 next-page">
											<div class="sidebar-subblock-title">Depósitos
												<br>
												<div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Prod. estructurados
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Otros equiv. de cash
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
									</div>
								</div>
								<div data-menu="second" class="head-portfolio-active">
									<div class="sidebar-suboptions-title horizontal-bar">Activos
										<br><div class="sidebar-suboptions-money-2">$ 726,134.93</div>
									</div>
									<div class="inteligo-portafolio-arrow">
										<i class="icon chevron-up"></i>
									</div>
								</div>
								<div class="portfolio-active-subitems" style="display: none;">
									<div class="portfolio-active-subitems-head activos-level">
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Renta fija
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Renta variable
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Renta alternativa
												<br>
												<div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="block-profile-portfolios-main">
						<div class="sidebar-suboptions-box3 main-head-trigger-2">
							<a data-menu="first" data-portafolio="100000-2" href="javascript:void(0)" class="sidebar-suboptions-content">
								<div class="sidebar-dot-indicator"></div>
								<div class="sidebar-container-portfolios">
									<div class="sidebar-holder-portf">Portafolio 100000-2</div>
									<div class="sidebar-suboptions-money">$ 1,022,158.81</div>
								</div>
								<div class="inteligo-portafolio-arrow">
									<i class="icon chevron-up"></i>
								</div>
							</a>
						</div>
						<div class="block-profile-portfolios-secondary main-body-trigger-2" style="display: none;">
							<hr class="sidebar-inteligo-hr-2">
							<div>
								<div data-menu="second" class="head-portfolio-active cash-head-trigger-2">
									<div class="sidebar-suboptions-title horizontal-bar" id="cash2"> <em>Cash</em> y equivalentes
										<br><div class="sidebar-suboptions-money">$ 726,134.93</div>
									</div>
									<div class="inteligo-portafolio-arrow">
										<i class="icon chevron-up"></i>
									</div>
								</div>
								<div class="portfolio-active-subitems" style="display: none;">
									<div class="portfolio-active-subitems-head">
										<div class="sidebar-suboptions-title-2 cash-title"> <em>Cash</em>
											<!-- <br><div class="sidebar-suboptions-money">$ 726,134.93</div> -->
										</div>
										<div class="just-cash next-page" data-section="secCtaCorriente" data-menu-corriente="1000000002">
											<div class="sidebar-subblock-title">Cuenta corriente
												<br><div class="sidebar-subblock-money-2">$ 426,134.93</div>
											</div>
										</div>
										<div class="just-cash next-page" data-section="secCtaTrading" data-menu-trading="1000000002">
											<div class="sidebar-subblock-title">Cuenta trading
												<br><div class="sidebar-subblock-money-2">$ 300,000.00</div>
											</div>
										</div>
										<div class="sidebar-suboptions-title-2 equal-title">Equivalentes de <em>cash</em>
											<!-- <br><div class="sidebar-suboptions-money">$ 726,134.93</div> -->
										</div>
										<div class="sidebar-subblock-secondary-2 next-page">
											<div class="sidebar-subblock-title">Depósitos
												<br>
												<div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Prod. estructurados
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Otros equiv. de cash
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
									</div>
								</div>
								<div data-menu="second" class="head-portfolio-active activos-head-trigger-2">
									<div class="sidebar-suboptions-title horizontal-bar">Activos
										<br><div class="sidebar-suboptions-money-2">$ 726,134.93</div>
									</div>
									<div class="inteligo-portafolio-arrow">
										<i class="icon chevron-up"></i>
									</div>
								</div>
								<div class="portfolio-active-subitems" style="display: none;">
									<div class="portfolio-active-subitems-head activos-level">
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Renta fija
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Renta variable
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Renta alternativa
												<br>
												<div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar-block-profile">	<!-- noprincipal-assets -->
					<span class="sidebar-dot-indicator"></span><span>FIRMANTE</span>
				</div> 
				<div class="sidebar-block-profile-portfolios">	
					<div class="block-profile-portfolios-main">
						<div class="sidebar-suboptions-box3 main-head-trigger-3">
							<a data-menu="first" data-portafolio="100000-3" href="javascript:void(0)" class="sidebar-suboptions-content">
								<div class="sidebar-dot-indicator"></div>
								<div class="sidebar-container-portfolios">
									<div class="sidebar-holder-portf">Portafolio 100000-3</div>
									<div class="sidebar-suboptions-money">$ 1,022,158.81</div>
								</div>
								<div class="inteligo-portafolio-arrow">
									<i class="icon chevron-up"></i>
								</div>
							</a>
						</div>
						<div class="block-profile-portfolios-secondary" style="display: none;">
							<hr class="sidebar-inteligo-hr-2">
							<div>
								<div data-menu="second" class="head-portfolio-active">
									<div class="sidebar-suboptions-title horizontal-bar"> <em>Cash</em> y equivalentes
										<br><div class="sidebar-suboptions-money">$ 726,134.93</div>
									</div>
									<div class="inteligo-portafolio-arrow">
										<i class="icon chevron-up"></i>
									</div>
								</div>
								<div class="portfolio-active-subitems" style="display: none;">
									<div class="portfolio-active-subitems-head">
										<div class="sidebar-suboptions-title-2 cash-title"> <em>Cash</em>
											<!-- <br><div class="sidebar-suboptions-money">$ 726,134.93</div> -->
										</div>
										<div class="just-cash next-page" data-section="secCtaCorriente" data-menu-corriente="1000000003">
											<div class="sidebar-subblock-title">Cuenta corriente
												<br><div class="sidebar-subblock-money-2">$ 426,134.93</div>
											</div>
										</div>
										<div class="just-cash next-page" data-section="secCtaTrading" data-menu-trading="1000000003">
											<div class="sidebar-subblock-title" >Cuenta trading
												<br><div class="sidebar-subblock-money-2">$ 300,000.00</div>
											</div>
										</div>
										<div class="sidebar-suboptions-title-2 equal-title">Equivalentes de <em>cash</em>
											<!-- <br><div class="sidebar-suboptions-money">$ 726,134.93</div> -->
										</div>
										<div class="sidebar-subblock-secondary-2 next-page">
											<div class="sidebar-subblock-title">Depósitos
												<br>
												<div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Prod. estructurados
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Otros equiv. de cash
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
									</div>
								</div>
								<div data-menu="second" class="head-portfolio-active ">
									<div class="sidebar-suboptions-title horizontal-bar">Activos
										<br><div class="sidebar-suboptions-money-2">$ 726,134.93</div>
									</div>
									<div class="inteligo-portafolio-arrow">
										<i class="icon chevron-up"></i>
									</div>
								</div>
								<div class="portfolio-active-subitems" style="display: none;">
									
									<div class="portfolio-active-subitems-head activos-level">
										<!-- Miniskeleton -->
										<div class="miniskeleton-sidebar">
											<div class="miniskeleton-sidebar-row miniskeleton-sidebar-row-big"></div>
											<div class="miniskeleton-sidebar-row miniskeleton-sidebar-row-small"></div>
											<div class="miniskeleton-sidebar-row miniskeleton-sidebar-row-medium"></div>
											<div class="miniskeleton-sidebar-row miniskeleton-sidebar-row-small"></div>
										</div>
										
										<!-- <div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Renta fija
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Renta variable
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Renta alternativa
												<br>
												<div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div> -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="block-profile-portfolios-main">
						<div class="sidebar-suboptions-box3">
							<a data-menu="first" data-portafolio="100000-4" href="javascript:void(0)" class="sidebar-suboptions-content">
								<div class="sidebar-dot-indicator"></div>
								<div class="sidebar-container-portfolios" id="port4">
									<div class="sidebar-holder-portf">Portafolio 100000-4</div>
									<div class="sidebar-suboptions-money">$ 1,022,158.81</div>
								</div>
								<div class="inteligo-portafolio-arrow">
									<i class="icon chevron-up"></i>
								</div>
							</a>
						</div>
						<div class="block-profile-portfolios-secondary" style="display:none ;">
							<hr class="sidebar-inteligo-hr-2">
							<div>
								<div data-menu="second" class="head-portfolio-active">
									<div class="sidebar-suboptions-title horizontal-bar" id="cash4"> <em>Cash</em> y equivalentes
										<br><div class="sidebar-suboptions-money">$ 726,134.93</div>
									</div>
									<div class="inteligo-portafolio-arrow">
										<i class="icon chevron-up"></i>
									</div>
								</div>
								<div class="portfolio-active-subitems" style="display:none ;">
									<div class="portfolio-active-subitems-head">
										<div class="sidebar-suboptions-title-2 cash-title"> <em>Cash</em>
											<!-- <br><div class="sidebar-suboptions-money">$ 726,134.93</div> -->
										</div>
										<div class="just-cash next-page" data-section="secCtaCorriente" data-menu-corriente="1000000004">
											<div class="sidebar-subblock-title">Cuenta corriente
												<br><div class="sidebar-subblock-money-2">$ 426,134.93</div>
											</div>
										</div>
										<div class="just-cash next-page" data-section="secCtaTrading" data-menu-trading="1000000004">
											<div class="sidebar-subblock-title">Cuenta trading
												<br><div class="sidebar-subblock-money-2">$ 300,000.00</div>
											</div>
										</div>
										<div class="sidebar-suboptions-title-2 equal-title">Equivalentes de <em>cash</em>
											<!-- <br><div class="sidebar-suboptions-money">$ 726,134.93</div> -->
										</div>
										<div class="sidebar-subblock-secondary-2 next-page">
											<div class="sidebar-subblock-title">Depósitos
												<br>
												<div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Prod. estructurados
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Otros equiv. de cash
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
									</div>
								</div>
								<div data-menu="second" class="head-portfolio-active">
									<div class="sidebar-suboptions-title horizontal-bar">Activos
										<br><div class="sidebar-suboptions-money-2">$ 726,134.93</div>
									</div>
									<div class="inteligo-portafolio-arrow">
										<i class="icon chevron-up"></i>
									</div>
								</div>
								<div class="portfolio-active-subitems" style="display:none ;">
									<div class="portfolio-active-subitems-head activos-level">
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Renta fija
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Renta variable
												<br><div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
										<div class="sidebar-subblock-secondary-2">
											<div class="sidebar-subblock-title">Renta alternativa
												<br>
												<div class="sidebar-subblock-money-2">$ 726,134.93</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="menuCreditCard" class="inteligo-sidebar-option" data-section="secCreditCard">
			<div class="sidebar-mainoption sidebar-accordion">
				<div class="inteligo-sidebar-icon">
					<i class="icon icon-purchase-2"></i>
				</div>
				<div class="inteligo-sidebar-text">
					<div class="sidebar-title">Tarjetas de crédito</div>
					<div class="sidebar-subtitle">USD $11,241.82</div>
					<div class="sidebar-title-2">Línea de crédito disponible</div>
				</div>
				
			</div>
			<div class="inteligo-sidebar-arrow"></div>
		</div>

		<div id="menuPrestamos" class="inteligo-sidebar-option" data-section="secAllPrestamos">
			<div class="sidebar-mainoption sidebar-accordion">
				<div class="inteligo-sidebar-icon">
					<i class="icon icon-currency-2"></i>
				</div>
				<div class="inteligo-sidebar-text">
					<div class="sidebar-title">Préstamos</div>
					<div class="sidebar-subtitle">USD $1,300,090.00</div>
				</div>				
			</div>		
			<div class="inteligo-sidebar-arrow"></div>	
		</div>

		<div class="inteligo-sidebar-option">
			<div class="inteligo-ilife">
				<img class="inteligo-ilife-logo" src="../../private/pages/masterpage/img/logo-ilife-1.svg" alt="Logo Inteligo Life">
				<i class="icon icon-ilife"></i>
			</div>
		</div>
	</div>
</aside>