<!-- Pintar Movimientos en el Detalle Trading -->
<script type="x-tmpl-mustache" id="tmpTradingMovimientos">
    <div id="tradingTableDesktop">	
		<table class="trading-table">
			<thead>
				<tr>
					<th class="t-a-l">Descripción</th>
					<th class="t-a-r">Monto</th>
					<th class="t-a-r">Saldo</th>
				</tr>
			</thead>
			<tbody id="mustacheTradingTable">
               	{{#mvtosTrading}}
				 	<tr data-date="{{idtrading}}">
				        <td class="t-a-l">
				            <div class="trading-motion-detail">
				                <div class="trading-motion-detail__date">{{fecha}}</div>
				                <div class="trading-motion-detail__description">{{descripción}}</div>
				            </div>
				        </td>
				        {{#status}}
				        <td>
				            <div class="td-center-table trading-status-success">
				                <i class="icon icon-triangle-up"></i>
				                <div class="trading-monto">{{monto}}</div>
				            </div>
				        </td>
				        {{/status}}

				        {{^status}}
				        <td>
				            <div class="td-center-table trading-status-error">
				                <i class="icon icon-triangle-down"></i>
				                <div class="trading-monto">{{monto}}</div>
				            </div>
				        </td>
				        {{/status}}
				        <td class="t-a-r">
				            <div class="trading-saldo">{{saldo}}</div>
				        </td>                           

				    </tr>
			    {{/mvtosTrading}}	
    		</tbody>
		</table>
	</div>

	<div id="tradingTableMobile" class="trading-table-mobile">
	 	{{#mvtosTrading}}
           	<div class="folding-mtable" data-date="{{idtrading}}">
	            <div class="tab-mtable">
	              <input class="chekbox-mtable" type="checkbox" id="{{idtrading}}" checked>
	              <label class="tab-label-trading" for="{{idtrading}}">{{fecha}}</label>
	              <div class="tab-content tab-content-top">
	                {{descripción}}
	              </div>
	              {{#status}}
	            <div class="tab-content tab-content-middle trading-status-success">
	                <div class="tab-content-middle-left">Monto</div>
	                <div class="tab-content-middle-right"><i class="icon icon-triangle-up"></i>{{monto}}</div>
	            </div>
	            {{/status}}

	            {{^status}}
	            <div class="tab-content tab-content-middle trading-status-error">
	                <div class="tab-content-middle-left">Monto</div>
	                <div class="tab-content-middle-right"><i class="icon icon-triangle-down"></i>{{monto}}</div>
	            </div>
	            {{/status}}
              	<div class="tab-content tab-content-bottom">
	                <div class="tab-content-bottom-left">Saldo</div>
		                <div class="tab-content-bottom-right">{{saldo}}</div>
	              	</div>
              	</div>
            </div>
	    {{/mvtosTrading}}
	</div>
</script>	

<!-- Pintar Detalle Trading -->
<script type="x-tmpl-mustache" id="tmpTrading">
	{{#datos}}
	
	<div class="cardbox-head">
		<div class="cardbox-head-left">			
			<div class="cardbox-head-title">
				<i class="icon icon-global"></i>
				Cuenta trading
			</div>
			<div class="cardbox-head-subtitle">				
				Se encuentra el cash disponible dentro del portafolio. Se puede utilizar para invertir y recibir las rentas (cupones, dividendos, intereses) así como los flujos por vencimientos o ventas de activos.					
			</div>
		</div>
		<div class="cardbox-head-right">
			<button id="btnShowAllTradings" data-section="secAllTradings" class="button button-pentary">Ver todas mis cuentas <i class="icon icon-arrow-w"></i>
			</button>
		</div>	
	</div>

	<div class="cardbox-body">
		<div class="detail-trading-main-header">
			<div class="detail-trading__header">
				<div class="cardbox-body-title">Cuenta trading 1000000000</div>
				<div class="cardbox-body-subtitle">Portafolio 10000-1</div>
			</div>
			<div class="separador-vistaToggle">
				<div class="profile-viewer pos-viewer-trading">
					<div class="viewer-img">
						<i class="icon viewer-icon"></i>
					</div>
					<div class="viewer-descript">Vista como titular</div>
				</div>
				<div class="toggle-switch-container trading-toggle-witch" style="display: none">
					<button class="toggle-switch-button left-button active" id="dolares">
						Dólares
					</button>
					<button class="toggle-switch-button right-button" id="euros">Euros</button>
				</div>
			</div>
		</div>

		<div class="detail-trading-block">
			<div class="detail-trading-cards">
				<div class="trading-cards-title">USD $554,594.00</div>
				<div class="trading-cards-subtitle">Saldo contable en <span>USD</span></div>
			</div>
			<div class="detail-trading-cards">
				<div class="trading-cards-title">USD $554,594.00</div>
				<div class="trading-cards-subtitle">Saldo disponible en <span>USD</span></div>
			</div>
			<div class="detail-trading-cards">
				<div class="trading-cards-title">0.0</div>
				<div class="trading-cards-subtitle">
					Línea de sobregiro en <span>USD</span>
				</div>
			</div>
		</div>

		<div class="buttons-block-main">
			<div class="buttons-block-left">
				<button class="button button-primary">Realizar transferencia</button>
				<button class="button button-secondary">Estado de cuenta</button>
				
			</div>
			<div class="buttons-block-right buttons-actions-content">
				<button class="button button-actions buttons-desktop">
					<i class="icon icon-download"></i>
				</button>
				<button class="button button-actions buttons-desktop" data-modal="email">
					<i class="icon icon-mail"></i>
				</button>
				<button class="button button-actions buttons-desktop">
					<i class="icon icon-printer"></i>
				</button>

				<button class="button button-actions buttons-mobile" data-modal="email">
					<i class="icon icon-mail"></i> Enviar PDF
				</button>
				<button class="button button-actions buttons-mobile" data-modal="email">
					<i class="icon icon-mail"></i> Enviar Excel
				</button>
			</div>
		</div>

		<div class="trading-movements-title">
			Movimientos en <span>dólares (USD)</span>
		</div>
		<div class="trading-movements">
			<div class="trading-movements-left">
				<div class="trading-movements--legend">Filtrar por</div>
				<div class="trading-movements--select">
					<div class="container-select-filter">
					    <select id="filterTrading">
					    	<option value="1">Últimos 30 días</option>
							<option value="2">Últimos 60 días</option>
							<option value="3">Últimos 90 días</option>
							<option value="4">Personalizado</option>
					    </select>
					</div>
					<div class="buttons-actions-tablet">
						<button class="button button-actions" data-modal="email">
							<i class="icon icon-mail"></i> Enviar PDF
						</button>
						<button class="button button-actions" data-modal="email">
							<i class="icon icon-mail"></i> Enviar Excel
						</button>
					</div>
				</div>
			</div>
			<div id="tradingCalendar" class="trading-movements-right" style="display: none;">
				<div class="trading-movements-right__from">
					<label class="trading-movements--legend" for="">Fecha inicial</label>
					  <input type="text" class="form-control icon-menu-agenda" name="datepicker" id="monthpicker3" placeholder="mm/yyyy" readonly>
				</div>
				<div class="trading-movements-right__to">
					<label class="trading-movements--legend" for="">Fecha final</label>
					  <input type="text" class="form-control icon-menu-agenda" name="datepicker" id="monthpicker4" placeholder="mm/yyyy" readonly>
				</div>
				<div class="customize-button-calendar"><button id="btnSearchMovements"  class="button button-secondary">Buscar</button></div>
			</div>
		</div>

		<!-- Pintar las tablas con el cronograma: Desktop & Mobile -->
		<div id="partialMovimientos">{{> partialMovimientos}}</div>

	</div>

	{{/datos}}
</script>

<!-- Pintar All Trading -->
<script type="x-tmpl-mustache" id="tmpAllTrading">
	{{#datos}}
		{{#general}}
		<div class="table-resumen-header">
			<div class="table-resumen-viewer">
				<i class="icon viewer-icon"></i>
				<div class="table-resumen-viewer-title">{{type}}</div>
			</div>

			<div class="table-resumen-amount">
				<div class="table-resumen-amount-title">{{{title}}}</div>
				<div class="table-resumen-amount-money">{{amount}}</div>
			</div>
		</div>

		{{/general}}

		<div class="table-resumen-body">
			{{#detail}}
			<div class="table-resumen-body-row">
				<div class="table-resumen-body-col" >
					<div class="table-resumen-body-col-maintitle">
						Portafolio
					</div>
					<div class="table-resumen-body-col-mainsubtitle">
						{{codTrading}}
					</div>
				</div>
				<div class="table-resumen-body-col">
					<div class="table-resumen-body-col-title">
						Cuenta <div class="table-resumen-moneda" data-moneda="{{tipoMoneda}}">{{moneda}} ({{tipoMoneda}})</div>
					</div>
					<div class="table-resumen-body-col-subtitle color-grey2">
						{{numCuenta}}
					</div>
				</div>
				<div class="table-resumen-body-col" {{#saldoDisponibleEUR}} data-moneda="EUR" {{/saldoDisponibleEUR}}>
					<div class="table-resumen-center">
						<div class="table-resumen-body-col-title saldo-disponible-content">
							<div class="container-checkbox m-b-0">
			              		<input id="saldo-{{codTrading}}" type="checkbox" name="trading-saldo" checked>
				              	<label for="saldo-{{codTrading}}" class="checkmark color-grey1">Saldo disponible</label>
				            </div>
						</div>
						{{#saldoDisponibleEUR}}
						<div class="table-resumen-body-col-subtitle table-resumen-body-eur">
							{{tipoMoneda}} {{saldoDisponibleEUR}}
						</div>
						{{/saldoDisponibleEUR}}
						<div class="table-resumen-body-col-subtitle">
							{{tipoMoneda}} {{saldoDisponible}}
						</div>
					</div>
				</div>
				<div class="table-resumen-body-col table-resumen-body-col-icon" data-section="secCtaTrading" data-trading="{{codTrading}}">
					<i class="icon chevron-right"></i>
				</div>
			</div>
			{{/detail}}
		</div>	
	{{/datos}}
</script>

<!-- View: CtaTrading -->
<div id="secCtaTrading"  style="display: none;">
	<div class="cardbox-back">
		<a data-section="home" href="javascript:void(0)" class="cardbox-back-link">
			<i class="icon icon-arrow-left-blue"></i> Volver a mi zona segura
		</a>		
	</div>	
	<div id="mustacheTrading" class="table-resumen"></div>
</div>

<!-- View: Todos CtaTrading -->
<div id="secAllTradings" class="lista-trading" style="display: none;">
	<div class="cardbox-back">
		<a data-section="secCtaTrading" href="javascript:void(0)" class="cardbox-back-link">
			<i class="icon icon-arrow-left-blue"></i> Volver
		</a>
	</div>	

	<div class="cardbox-head">
		<div class="cardbox-head-left">			
			<div class="cardbox-head-title">
				<i class="icon icon-global"></i>
				Cuenta trading
			</div>
			<div class="cardbox-head-subtitle">
				Se encuentra el cash disponible dentro del portafolio. Se puede utilizar para invertir y recibir las rentas (cupones, dividendos, intereses) así como los flujos por vencimientos o ventas de activos.
			</div>
		</div>
	</div>

	<!-- Pintar All Trading -->
	<script type="x-tmpl-mustache" id="tmpAllTrading">
		{{#datos}}
			{{#general}}
			<div class="table-resumen-header">
				<div class="table-resumen-viewer">
					<i class="icon viewer-icon"></i>
					<div class="table-resumen-viewer-title">{{type}}</div>
				</div>

				<div class="table-resumen-amount">
					<div class="table-resumen-amount-title">{{{title}}}</div>
					<div class="table-resumen-amount-money">{{amount}}</div>
				</div>
			</div>
			{{/general}}

			<div class="table-resumen-body">
				{{#detail}}
				<div class="table-resumen-body-row" data-prestamos="{{codPrestamo}}">
					<div class="table-resumen-body-col" >
						<div class="table-resumen-body-col-maintitle">
							Portafolio
						</div>
						<div class="table-resumen-body-col-mainsubtitle">
							{{codTrading}}
						</div>
					</div>
					<div class="table-resumen-body-col">
						<div class="table-resumen-body-col-title">
							Cuenta <div class="table-resumen-moneda">{{moneda}}</div>
						</div>
						<div class="table-resumen-body-col-subtitle color-grey2">
							{{numCuenta}}
						</div>
					</div>
					<div class="table-resumen-body-col">
						<div class="table-resumen-body-col-title saldo-disponible-content">
							<div class="container-checkbox m-b-0">
			              		<input id="saldo-{{codTrading}}" type="checkbox" name="trading-saldo" checked>
				              	<label for="saldo-{{codTrading}}" class="checkmark color-grey1">Saldo disponible</label>
				            </div>
						</div>
						<div class="table-resumen-body-col-subtitle">
							{{saldoDisponible}}
						</div>
					</div>
					<div class="table-resumen-body-col table-resumen-body-col-icon" data-section="secCtaTrading">
						<i class="icon chevron-right"></i>
					</div>
				</div>
				{{/detail}}
			</div>	
		{{/datos}}		

	</div>			
	</script>

	<div class="cardbox-body cardbox-bg-skyblue">
		<div id="mustacheAllTrading" class="table-resumen"></div>
	</div>

</div>