/*
 * Card Cuenta Trading Desktop
 * @author JCarlosR
 */

#tradingTableMobile {
    display: none;
}
    
/*.saldo-disponible-content{
  margin-left: -16px;
}*/
.main-card-trading {
  margin-top: 0px;
  padding: 0;
}

.trading-content{
  padding: 30px 32px;
}

.content-trading-header{
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #92969A;
  height: 76px;
}
.pos-viewer {
  position: relative !important;
  margin: auto 40px !important;
}
.pos-viewer-trading {
  position: relative !important;
  margin-top: 0px !important;
  /* margin-right: 32px !important; */
}

.separador-vistaToggle {
  display: flex;
  gap: 32px;
}

.subtotal-header {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: auto 15%;
}

.saldo-trading-text {
  font: 18px var(--font-primary);
  color: #92969A;
}

.saldo-trading-amount {
  font: 20px var(--font-primary-bold);
  color: var(--color-secondary);
}

.trading-back-link:hover {
  color: var(--color-primary);
}
.trading-back-link i {
  margin-right: 4px;
}
.trading-back-link i:hover {
  fill: #041f68;
}
.trading-back-link {
  color: var(--color-primary);
  font: 16px var(--font-primary-semibold);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  width: 225px;
}
.trading-back {
  padding: 12px 24px;
  background: #fff;
}
.trading-title {
  background: linear-gradient(93.59deg, #02133e -225.28%, #2765f5 87.41%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  padding-right: 30px;
}
.trading-title-left {
  display: flex;
}
.trading-title-icon {
  /* padding: 20px; */
  display: flex;
}
.trading-title-main {
  margin-left: 12px;
}

.trading-title-secondary em {
  font: var(--font-primary-bold);
}
.trading-title-rigth .icon-arrow-w {
  margin-left: 16px;
}

.main-trading-detail{
  border: 1px solid #92969A;
  margin: 24px 0;
  border-radius: 5px;
  display: flex;
  padding: 18px 0;
  justify-content: space-around;
}
.trading-detail-left{
  text-align: center;
}
.trading-type{
  font: 14px var(--font-primary);
  color: #7A7D80;
  line-height: 18px;
}
.trading-type-number{
  font: 18px var(--font-primary-bold);
  color: #464748;
  line-height: 20px;
  margin-bottom: 5px;
}
.trading-hr{
  width: 2px;
  background: #E5E5E5;
}
.trading-detail-middle{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.detail-middle-top{
  display: flex;
  margin-bottom: 5px;
}
.trading-detail-middle > .detail-middle-top > div:first-child{
  font: 14px var(--font-primary);
  color: #7A7D80;
}
.detail-middle-top>div{
  font: 14px var(--font-primary-bold);
  color: #233E99;
}
.trading-detail-middle .divider-short{
  width: 2px ;
  background: #92969A;
  margin: 0 8px;

}

.detail-middle-bottom_trading{
  font: 18px var(--font-primary-bold);
  color: #464748;
  line-height: 20px;
}
.detail-right-top{
  font: 14px var(--font-primary);
  color: #7A7D80;
  line-height: 18px;
  margin-bottom: 5px;
}
.detail-right-bottom_trading{
  font: 18px var(--font-primary-bold);
  color: #233E99;
  line-height: 20px;
}
.select-button {
  width: 16px;
  height: 16px;
  margin-right: 6px !important;
}
.trading-arrow>i{
  margin-top: 10px;
}
.trading-detail-right{
  /* cursor: pointer; */
}
.trading-arrow{
  cursor: pointer;
}

.detail-trading-block{
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.detail-trading-cards{
  background: #f2f4f8;
  padding: 15px 0;
  margin: auto;
  width: calc(100% / 3);
}
.trading-cards-title{
  color: var(--color-secondary);
  font: 20px var(--font-primary-bold);
  line-height: 20px;
  text-align: center;
  margin-bottom: 6px;
}
.trading-cards-subtitle{
  color: #494B4E;
  font: 16px var(--font-primary-medium);
  line-height: 20px;
  text-align: center;
}
.trading-cards-subtitle span {
  font: 16px var(--font-primary-bold);
}

.trading-movements{
  margin: 0 0px 24px;
  display: flex;
  flex-direction: row;
  column-gap: 64px;
}
.trading-movements-title{
  font: 18px var(--font-primary-medium);
  color: #494B4E;
  margin: 0px;
  margin-bottom: 16px;
}
.trading-movements-title > span {
  font: 18px var(--font-primary-semibold);
  color: #233E99;
}
.trading-movements--legend{
  margin-bottom: 4px;
  font: 12px var(--font-primary-bold);
  color: #191A1B;
}
.trading-select {
  width: 251px;
  font: 14px var(--font-primary);
  /* padding: 12px; */
  border: solid 1px #AAAEB3;
  color: #191A1B;
  height: 40px !important;
}
.trading-select option{
  border-radius: 0;
  padding: 8px;
}

.detail-trading-main-header{
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
}
.detail-trading__header--title{
  font: 24px var(--font-primary-semibold);
  color: var(--color-secondary);
  line-height: 30px;
}

.detail-trading__header--subtitle{
  font: 18px var(--font-primary-medium);
  color: #494B4E;
  line-height: 30px;
}

.trading-table {
  width: 100%;
  /* border:1px solid #C0C0C0; */
  border-collapse:collapse;
  /* margin: 32px; */
  margin-top: 0;
}
.trading-table th {
  /* border:1px solid #C0C0C0; */
  padding:12px 16px;
  background: #DDE1E6;
  font: 14px var(--font-primary-semibold);
  color: var(--color-gray-bold);
}
.trading-table tr{
  border-bottom:1px solid #DDE1E6;
}
.trading-table tr:last-child{
  border-bottom: 0;
}
.trading-table td {
  background: #F2F4F8;
}
.trading-table td:nth-child(2) {
  vertical-align: middle;
  font: 14px var(--font-primary-medium);
  /* color: #6A6A6C; */
  align-items: center;
}
.trading-table td:last-child {
  font: 14px var(--font-primary);
  color: #494B4E;
  padding-right:16px;
  vertical-align: middle;
}
#mustacheTradingTable tr td {
  width: 25%;
}

#mustacheTradingTable tr td:first-child {
  width: 50%;
}
.td-center-table{
  display: flex;
  margin-right: 16px;
  justify-content: end;
}
.trading-motion-detail{
  margin: 12px 16px;
  display: grid;
  grid-gap: 4px;
}
.trading-motion-detail__date{
  font: 14px var(--font-primary-bold);
  color: #6A6A6C;
}
.trading-motion-detail__description{
  font: 14px var(--font-primary);
  color: #7B7C7E;
  line-height: 20px;
}

/* .td-center-table{
  font: 14px var(--font-primary-medium);
  color: #6A6A6C;
  align-items: center;
} */

.trading-status-success{
  color: #48A17E;
}
.trading-status-error{
  color: #C73723;
}
.td-center-table i {
  margin-top: 2px;
  margin-right: 16px;
  transform: scale(1.5);
}

.trading-movements-right {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  align-items: flex-end;
}
.trading-movements-right__from {
  display: flex;
  flex-direction: column;
  width: 140px;
  font: 14px var(--font-primary);
}
.trading-movements-right__from input {
  padding: 8px 12px;
  border: 1px solid #AAAEB3;
  height: 40px !important;
}
.trading-movements-right__from input:focus {
  border: 1px solid var(--color-primary);
}
.trading-movements-right__to{
  display: flex;
  flex-direction: column;
  width: 140px;
  font: 14px var(--font-primary);
}
.trading-movements-right__to input {
  padding: 8px 12px;
  border: 1px solid #AAAEB3;
  height: 40px !important;
}
.trading-movements-right__to input:focus {
  border: 1px solid var(--color-primary);
}
.customize-button-calendar button {
  width: 260px;
  height: 40px; 
  margin-top: 18px;
  margin-left: 20px;
}
/* ESTILOS PERSONALIZADOS DEL DATEPICKER */
/* .air-datepicker-cell.-selected-.-current- {
  color: #fff !important;
}
.air-datepicker-cell.-selected-{
  background: var(--color-primary) !important;
  font-weight: 500 !important;
}
.air-datepicker-cell.-current-{
  color: var(--color-primary) !important;
  font-weight: 500 !important;
}
.air-datepicker-cell{
  font-weight: 500 !important;
}
.air-datepicker-nav--title {
  font-weight: 600 !important;
  color: #202223 !important;
}
.air-datepicker {
  width: 282px !important;
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -ms-border-radius: 0px !important;
  -o-border-radius: 0px !important;
} */
.toggle-switch-container {
  width: 177px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0;
  padding: 4px;
  background-color: white;
  box-shadow: 0 0 0 1px #aaaeb3;
  max-height: 40px;
}

.toggle-switch-button {
  padding: 8px 20px;
  font: 14px var(--font-primary);
  text-align: center;
  background-color: white;
  border: none;
}

.active.toggle-switch-button {
  background-color: #2765f5;
  color: white;
}


@media screen and (min-width: 600px) {
  #mustacheTradingMobile{
    display: none;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .trading-title-secondary {
    max-width: 565px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
  .trading-title-secondary {
    max-width: 750px;
  }
}

@media screen and (min-width: 1920px) {
  .trading-title-secondary {
    max-width: 1075px;
  }
}