/*
 * Chatbot
 * @author mfyance
 */

.counter-limited .form-message-counter{
    color: red;
}
.form-message-counter,
.form-message-counter span{
    color: #8D8E90;
    font: 14px var(--font-primary);

}
.email-noexiste{
    
}



.content-hora{
    padding: 0 25px;
    width: 100%;
    margin-bottom: 10px;
}

.titulo-hora {
    display: flex;
    flex-direction: row;
    color: #8993A4;
  }
  .titulo-hora:before, .titulo-hora:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #8993A4;
    margin: auto;
  }
  .titulo-hora:before {
    margin-right: 10px
  }
  .titulo-hora:after {
    margin-left: 10px
  }

  
.checkGif{
    max-width: 70px;
}
::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #C1C7D0;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }
.animate__animated.animate__fadeInUp {
    --animate-duration: 0.3s;
}
.secForm {
    width: 100%;
    background: #e5e5e5;
    min-height: 100vh;
    padding: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media only screen and (max-width: 767px) {
    .secForm {
        padding: 20px 0;
    }
}
.chatBox {
    position: fixed;
    z-index: 999;
    background: #F4F5F7;
    width: 100%;
    max-width: 380px;
    bottom: 75px;
    right: 20px;
    height: auto;
    min-height: 470px;
    border-radius: 16px;
    -webkit-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.24);
    overflow: hidden;
    opacity: 0;
    -webkit-transition: 0.3s ease-out 30ms;
    -o-transition: 0.3s ease-out 30ms;
    transition: 0.3s ease-out 30ms;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    pointer-events: none;
}
.chatBoxOpen {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    pointer-events: visible;
}
.chatBar {
    width: 100%;
    display: block;
    height: 64px;
    background: linear-gradient(94.42deg, #05944F 7.83%, #03703C 196.49%);
    position: relative;
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .chatBox {
        width: 100%;
        max-width: 100%;
        border-radius: 0;
        bottom: 0;
        right: 0;
    }
    .chatBar {
        height: 45px;
    }
}
.chatTitle {
    height: 45px;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0 0 20px;
}
.chatTitle span {
    color: #fff;
    font-family: var(--font-primary), sans-serif;
    font-size: 18px;
}
.chatTitle img {
    margin: 0 10px 0 0;
}
@media only screen and (max-width: 600px) {
    .chatTitle {
        height: 45px;
    }
}
.chatTitle1 {
    cursor: pointer;
}
.chatTitle2 span {
    font-weight: 400;
    text-transform: none;
}


.chatWelcome{
    display: flex;
    align-items: center;
    position: relative;
    left: 25px;
}
.chatIconWelcome{

}
.chatTxtWelcome{
    font: 20px var(--font-primary-medium);
    color: white;
    margin-left: 15px;
}

.chatAtras:hover,
.chatClose:hover{
    background: #03703C;
}
.chatAtras{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}
.chatClose {
    position: absolute;
    padding: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: 20px;
    cursor: pointer;
    display: flex;
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    transition: all .3s ease;
}
.chatClose img {
    width: 100%;
    max-width: 16px;
    height: auto;
}
.chatStep {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 20px 0 0;
}
.contentLoading{
    position: relative;
}
.nameBot{
    font: 14px var(--font-primary);
    font-weight: 500;
    color: #344563;
    margin-bottom: 10px;
    position: relative;
}
.messageBox {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 24px 0 86px;
    margin: 0 0 8px;
    opacity: 0;
}
.messageBox img{
    width: 85%;
}
.messageBox figure {
    background: #fff;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    left: 24px;
    top: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.messageBox .txtBox {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.messageBox .txt {
    width: 100%;
    display: inline-block;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    padding: 15px;
    border-radius: 16px;
    position: relative;
    opacity: 0;
    box-shadow: 0px 1px 2px rgba(9, 30, 66, 0.12);
    border-radius: 0px 12px 12px 12px;
}
.messageBox .txt strong{
    font-weight: 700;
}
.messageBox .txt p {
    padding: 0;
    margin: 0;
    z-index: 2;
    font-size: 16px;
    color: #172B4D;
    line-height: 1.2;
    position: relative;
    font-family: var(--font-primary);
}
.messageBox .txt img {
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: 0;
    width: 21px;
    height: 22px;
}
.messageOptionBox {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 3px 24px 0 86px;
    opacity: 0;
    
}
.messageOption {
    width: 100%;
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 12px;
    padding: 18px 18px 18px 24px;
    cursor: pointer;
    -webkit-transition: 0.3s ease-out 30ms;
    -o-transition: 0.3s ease-out 30ms;
    transition: 0.3s ease-out 30ms;
    box-shadow: 0px 1px 2px rgb(9 30 66 / 12%);
    border-radius: 0px 12px 12px 12px;
    background: white;
}
.messageOption p {
    color: #31489B;
    font-size: 16px;
    font-family: var(--font-primary), sans-serif;
    font-weight: 500;
    margin: 0;
    display: inline-block;
}
.messageOption img {
    display: inline-block;
    vertical-align: top;
    float: left;
    margin-right: 12px;
}
.messageOption:hover {
    background: #EEF2FF;
}
.formStep {
    width: 100%;
    display: inline-block;
    padding: 10px 0 0;
    opacity: 0;
}
.formInputContent{
    padding: 10px;
    box-sizing: border-box;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(9, 30, 66, 0.12);

}
.formInputBox {
    width: 100%;
    display: inline-block;
    padding: 0 25px;
    margin-bottom: 10px;
}
.formInputBox ::-webkit-input-placeholder {
    color: #5E6C84;
    opacity: 1;
}
.formInputBox ::-moz-placeholder {
    color: #5E6C84;
    opacity: 1;
}
.formInputBox :-ms-input-placeholder {
    opacity: 1;
    color: #5E6C84;
}
.formInputBox ::-ms-input-placeholder {
    opacity: 1;
    color: #5E6C84;
}
.formInputBox ::placeholder {
    color: #5E6C84;
    opacity: 1;
}
.formTextBox {
    border-top: 1px solid #dcdcde;
    width: 100%;
    display: inline-block;
    padding: 12px 16px;
    background: white;
    margin-top: 10px;
}



.formTextBox textarea:focus{
    border-color:  #0084F8;
}

.formTextBox .error textarea:focus,
.formTextBox .error textarea {
    border-color: red !important;
    outline: none;
}

.formTextBox textarea {
    resize: none;
    display: inline-block;
    height: 80px !important;
    width: 100%;
    background: #F4F5F7;
    border-radius: 4px;
    font-size: 15px;
    font-family: var(--font-primary), sans-serif;
    padding: 10px;
    border:none;
    border: 1px solid transparent;
    transition: all .3s ease;
    color: #31489B;
}


.formTextBox ::-webkit-input-placeholder {
    color: #5E6C84;
    opacity: 1;
}
.formTextBox ::-moz-placeholder {
    color: #5E6C84;
    opacity: 1;
}
.formTextBox :-ms-input-placeholder {
    opacity: 1;
    color: #5E6C84;
}
.formTextBox ::-ms-input-placeholder {
    opacity: 1;
    color: #5E6C84;
}
.formTextBox ::placeholder {
    color: #5E6C84;
    opacity: 1;
}
.input-field {
    margin-bottom: 24px !important;
}
.btnSend.disabled span{
    color: #EEF2FF;
}
.btnSend.disabled{
    background-color: #B2BAD9;

}

.btnSend {
    cursor: pointer;
    height: 40px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    background: #233e99;
    border: 0;
    border-radius: 3px;
    margin: 10px 0 0;
}
.btnSend span {
    color: #fff;
    font-family: var(--font-primary), sans-serif;
    font-size: 14px;
}
.btnSend:not(.disabled):active,
.btnSend:not(.disabled):focus,
.btnSend:not(.disabled):hover {
    background: #1a2e73;
}
.chatStep4 {
    padding: 0;
}
.stepThanks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 490px;
    vertical-align: top;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.thanksBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 40px;
    opacity: 0;
}
.thanksCheck {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 0 50px;
}
.thanksCheck figure {
    margin: 0 0 15px;
}
.thanksCheck p {
    font-family: var(--font-primary), sans-serif;
    font-size: 18px;
    margin: 0;
    line-height: 1.3;
    color: #172B4D;
}
.thanksList {
    width: 100%;
    height: auto;
}
.thanksList a {
    width: 100%;
    height: 48px;
    display: inline-block;
    text-align: center;
    background: #FFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 3px;
    margin: 0 0 15px;
    cursor: pointer;
    -webkit-transition: 0.3s ease-out 30ms;
    -o-transition: 0.3s ease-out 30ms;
    transition: 0.3s ease-out 30ms;
}
.thanksList a span {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-primary), sans-serif;
    text-transform: uppercase;
    color: #4a5ea8;
    letter-spacing: 1px;
}

.sendConsulta-img{
    position: relative !important;
    left: inherit !important;
    bottom: inherit !important;
    width: 20px !important;
    height: inherit !important;
    margin-right: 7px !important;
}
.sendConsulta-text{
    font: 14px var(--font-primary) !important;
    color: #31489B !important;
}
.sendConsulta:hover{
    background: #EEF2FF;
}
.sendConsulta{
    padding: 10px !important;
    border: 1px solid #31489B !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: #31489B !important;
    border-radius: 4px !important;
    margin-top: 15px !important;
    font-weight: 500 !important;
    font-family: var(--font-primary) !important;
    font-style: normal !important;
    font-size: 14px !important;
    cursor: pointer;
    transition: all .3s ease;
}
.thanksList a:hover {
    background: #EEF2FF;
}
.thanksList .btnThanks1 {
    background: #4a5ea8;
}
.thanksList .btnThanks1 span {
    color: #fff;
}
.thanksList .btnThanks1:hover {
    background: #33437d;
}
.formEmoticon {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0 80px;
}
.formEmoticon ul {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0;
}
.formEmoticon ul li {
    display: inline-block;
    width: auto;
}
.formEmoticon ul li a {
    width: 64px;
    height: 64px;
    border: 1px solid #e5e5e6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}
.formEmoticon ul li a span {
    font-size: 16px;
    color: #000;
    font-family: var(--font-primary), sans-serif;
    position: absolute;
    bottom: -30px;
    left: 0;
    white-space: nowrap;
}
.btnChat {
    position: fixed;
    bottom: 5px;
    right: 20px;
    height: 64px;
    background: #05944F;
    border-radius: 8px;
    padding: 0 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.24);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    -webkit-transition: 0.3s ease-out 30ms;
    -o-transition: 0.3s ease-out 30ms;
    transition: 0.3s ease-out 30ms;
    width: 230px;
    z-index: 9999;
}
.btnChat .close,
.btnChat .open {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s ease-out 30ms;
    -o-transition: 0.3s ease-out 30ms;
    transition: 0.3s ease-out 30ms;
    opacity: 0;
    position: absolute;
}
.btnChat .open {
    opacity: 1;
    pointer-events: visible;
    width: 179px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.btnChat .close {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    transform: translateX(-10%);
}
.btnChat span {
    color: #fff;
    font: 18px var(--font-primary);
    font-weight: initial;
    white-space: nowrap;
}
.btnChat img {
    margin-right: 10px;
}
.btnChat:hover {
    background: #134e1d;
}
@media only screen and (max-width: 600px) {
    .btnChat {
        width: 100%;
        bottom: 0;
        right: 0;
        border-radius: 0;
        height: 40px;
    }
    .btnChat span {
        font-size: 14px;
    }
    .btnChat img {
        max-width: 20px;
    }
}
.btnChatOpen {
    width: 121px;
}
.btnChatOpen .close {
    opacity: 1;
    pointer-events: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.btnChatOpen .open {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    transform: translateX(-10%);
}
@media only screen and (max-width: 600px) {
    .btnChatOpen {
        width: 100%;
    }
}

.formTextBox input.error,
.input-block input.error,
.select-block input.error {
    border-bottom: 2px solid #da432c !important;
}
.select-block small {
    margin: -8px 0 0;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}
figure {
    margin: 1em 40px;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
dfn {
    font-style: italic;
}
mark {
    background-color: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", var(--font-primary), Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    display: inline-block;
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
summary {
    display: list-item;
}
[hidden],
template {
    display: none;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
ul:not(.browser-default) > li {
    list-style-type: none;
}

img.responsive-img,
video.responsive-video {
    max-width: 100%;
    height: auto;
}
.material-form .input-block {
    background-color: transparent;
 
    width: 100%;
    height: 50px;
    padding: 0;
    position: relative;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}
.material-form .input-block::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 0%;
    bottom: 0;
    height: 1px;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    background-color: #EBECF0;
}
.material-form .input-block.focus {
    border-color: #fff;
}
.material-form .input-block.focus label {
   
    top: 0;
    font-size: 13px;
    font-weight: 500;
    z-index: 1;
    font-family: var(--font-primary);
    color: #31489B;
}
.material-form .input-block.focus::before {
    left: 0;
    width: 100%;
}
.material-form .input-block.has-value {
    background-color: transparent;
}
.material-form .input-block.has-value label {
    top: 0;
    font-size: 13px;
}

.material-form .input-block.error::before {
    left: 0;
    width: 100%;
    background-color: #d50000;
}
.material-form .input-block.textarea {
    height: auto;
}
.material-form .input-block.textarea .form-control {
    height: auto;
    resize: none;
    padding-top: 20px;
    font-family: var(--font-primary), sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.material-form .input-block.textarea .form-control ::-webkit-input-placeholder {
    color: #5E6C84;
    opacity: 1;
}
.material-form .input-block.textarea .form-control ::-moz-placeholder {
    color: #5E6C84;
    opacity: 1;
}
.material-form .input-block.textarea .form-control :-ms-input-placeholder {
    opacity: 1;
    color: #5E6C84;
}
.material-form .input-block.textarea .form-control ::-ms-input-placeholder {
    opacity: 1;
    color: #5E6C84;
}
.material-form .input-block.textarea .form-control ::placeholder {
    color: #5E6C84;
    opacity: 1;
}



.material-form .input-block.floating-field {
    padding: 2px 0 0;
    height: 50px;
}
.material-form .input-block.floating-field.textarea {
    height: auto;
}
.material-form .input-block label {
    position: absolute;
    left: 0;
    top: 29px;
    width: 100%;
    height: 20px;
    margin: 0;
    font-weight: 500;
    z-index: 1;
    font-family: var(--font-primary);
    color: #31489B;
    font-size: 14px;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
}
.material-form .input-block .form-control ::placeholder{

}

.formEmail{
    
}
.formEmail-label{
    font-family: var(--font-primary-medium);
    z-index: 1;
    color: #31489B;
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}
.formEmail-input:focus{
    border-color: #0084F8;
}
.formEmail-input[disabled]{
    color: #8D8E90;
}
.formEmail-input{
    background: #F4F5F7;
    border-radius: 8px;
    padding: 13px;
    border: 1px solid #F4F5F7;
    width: 100%;    
    outline: none;
    transition: all .3s ease;
    color: #31489B;
}
.error .formEmail-input{
    border-color: #E11900;
}


.material-form .input-block .form-control {
    background-color: transparent;
    padding: 4px 0 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    font-size: 16px;
    font-weight: 400;
    color: #31489B;
}
.material-form .input-block .form-control:focus {
    outline: none;
}
.material-form .input-block .form-control:focus label {
    top: 0;
}
.material-form .error-label {
    color: #d50000;
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 10px;
}
.material-form .form-note {
    font-size: 13px;
    color: #939393;
    margin-top: -15px;
    margin-bottom: 15px;
}
.material-form .square-button {
    background-color: #39a1f4;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    border-radius: 0;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
    height: 60px;
    border: none;
    cursor: pointer;
    width: 100%;
}
.material-form .square-button:focus,
.material-form .square-button:hover {
    background-color: #0d8aee;
}
.select-block {
    background-color: #fff;
    width: 100%;
    padding: 0 0;
    position: relative;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}
.select-block label {
    position: relative;
    top: 0;
    margin: 0;
    padding-bottom: 10px;
    display: block;
    height: 20px;
    width: 100%;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    margin: 0;
    font-family: var(--font-primary-medium);
    z-index: 1;
    color: #31489B;
    font-size: 12px;
    line-height: 10px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: inherit;
}
.select-block .active-list {
    width: 100%;
    height: 45px;
    padding: 0;
    color: #c9c9c9;
    position: relative;
    z-index: 2;
    cursor: pointer;
    line-height: 45px;
    font-size: 0;
    font-family: var(--font-primary);
    white-space: nowrap;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #f5f5f5;
    border-radius: 6px;
    padding: 10px;
    line-height: 27px;
}
.select-block .active-list:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 20px;
    height: 7.27px;
    padding-left: 5px;
    text-align: left;
    width: 12.36px;
    color: #939393;
    font-size: 14px;
    background: url(../img/ico_arrowdown.svg) center/100% 100% no-repeat;
}
.custom-select.error .active-list {
    border: 1px solid #E11900;
}
.form__msjerror{
    font: 12px var(--font-primary);
    color: #E11900;
}
.select-block.added .active-list {
    color: #31489B;
    font-size: 14px;
}



.select-block.focus .active-list:after {
    content: "";
    background: url(../img/ico_arrowdown.svg) center/100% 100% no-repeat;
}
.select-block.focus .custom-select::before {
    left: 0;
    width: 100%;
}





.select-block .custom-select .list-field {
    width: 100%;
    height: 42px;
    padding: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}
.select-block .custom-select .drop-down-list {
    width: 100%;
    height: auto;
    max-height: 250px;
    overflow-x: auto;
    z-index: 99;
    padding: 0;
    margin: 2px 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    display: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.118) 0 1px 6px, rgba(0, 0, 0, 0.118) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.118) 0 1px 6px, rgba(0, 0, 0, 0.118) 0 1px 4px;
}
.select-block .custom-select .drop-down-list li {
    padding: 10.5px 15px;
    cursor: pointer;
    font-size: 14px;
    line-height: normal;
    background-color: #fff;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    font-family: var(--font-primary);
    color: #172B4D;
}
.select-block .custom-select .drop-down-list li input[type="checkbox"] {
    margin: 0 8px 0 0;
    position: relative;
    top: 1px;
}
.select-block .custom-select .drop-down-list li label {
    font-weight: 400;
    cursor: pointer;
    display: block;
}
.select-block .custom-select .drop-down-list li:hover {
    color: #31489B;
    background-color:#F4F5F7
}
.select-block .custom-select .drop-down-list .add-new {
    border-top: 1px solid #c8c8c8;
    padding: 15px;
    color: #3c3c3c;
}
.select-block .custom-select .drop-down-list .add-new i {
    font-size: 16px;
    margin-top: 3px;
    color: #939393;
}
.custom-select-empty .active-list {
    color: #5f6d84 !important;
    font: 14px var(--font-primary);
    line-height: 27px;
}
@media (min-width: 768px) {
    .contact-wrap {
        width: 600px;
        margin: auto;
    }
   
}
*,
html {
    margin: 0;
    padding: 0;
}
.contact-wrap {
    padding: 15px;
}
h1 {
    color: #fff;
    padding: 40px 0 0;
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
h1 small {
    font-size: 16px;
    display: block;
    text-transform: none;
    font-weight: 300;
    margin-top: 10px;
    color: #ff1631;
}
.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
}
.made-with-love i {
    font-style: normal;
    color: #fff;
    font-size: 14px;
    position: relative;
    top: 2px;
}
.made-with-love a {
    color: #fff;
    text-decoration: none;
}
.made-with-love a:hover {
    text-decoration: underline;
}
.typingBox {
    width: 130px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s ease-out 30ms;
    -o-transition: 0.3s ease-out 30ms;
    transition: 0.3s ease-out 30ms;
    background: #fff;
    box-shadow: 0px 1px 2px rgb(9 30 66 / 12%);
    border-radius: 0px 12px 12px 12px;
}
.typingBox span {
    width: 8px;
    height: 8px;
    background-color: #c4c4c4;
    display: inline-block;
    margin: 0 3px;
    border-radius: 50%;
}
.typingBox span:nth-child(1) {
    -webkit-animation: 1s infinite asdasdasd;
    animation: 1s infinite asdasdasd;
}
.typingBox span:nth-child(2) {
    -webkit-animation: 1s 0.2s infinite asdasdasd;
    animation: 1s 0.2s infinite asdasdasd;
}
.typingBox span:nth-child(3) {
    -webkit-animation: 1s 0.4s infinite asdasdasd;
    animation: 1s 0.4s infinite asdasdasd;
}
@-webkit-keyframes asdasdasd {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
}
@keyframes asdasdasd {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
}
/*# sourceMappingURL=main.css.map */





:root {
    --theme-color: var(--color-orange);
    --color-orange: #ca474b;
    --color-orange-dark: #af3e42;
    --color-yellow: #ffca3a;
    --color-green: #8ac926;
    --color-blue: #1982c4;
    --color-purple: #6a4c93;
    --color-purple-light: #8f6bc0;
    --color-purple-dark: #463064;
    --color-grey-400: #e4e6ea;
    --border-color: var(--color-grey-400);
    --border-size: 1px;
    --border: var(--border-size) solid var(--border-color);
  }
  

  @supports ((-webkit-animation: grow 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards) or (animation: grow 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards)) {
    .tick {
      stroke-opacity: 0;
      stroke-dasharray: 29px;
      stroke-dashoffset: 29px;
      -webkit-animation: draw 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards;
              animation: draw 0.5s cubic-bezier(0.25, 0.25, 0.25, 1) forwards;
      -webkit-animation-delay: 0.6s;
              animation-delay: 0.6s;
    }
  
    .ft-green-tick{
        width: 70px;
        height: 70px;
    }
    .circle {
      fill-opacity: 0;
      stroke: #05914E;
      stroke-width: 16px;
      transform-origin: center;
      transform: scale(0);
      -webkit-animation: grow 1s cubic-bezier(0.25, 0.25, 0.25, 1.25) forwards;
              animation: grow 1s cubic-bezier(0.25, 0.25, 0.25, 1.25) forwards;
    }
  }
  @-webkit-keyframes grow {
    60% {
      transform: scale(0.8);
      stroke-width: 4px;
      fill-opacity: 0;
    }
    100% {
      transform: scale(0.9);
      stroke-width: 8px;
      fill-opacity: 1;
      fill: #05914E;
    }
  }
  @keyframes grow {
    60% {
      transform: scale(0.8);
      stroke-width: 4px;
      fill-opacity: 0;
    }
    100% {
      transform: scale(0.9);
      stroke-width: 8px;
      fill-opacity: 1;
      fill: #05914E;
    }
  }
  @-webkit-keyframes draw {
    0%, 100% {
      stroke-opacity: 1;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes draw {
    0%, 100% {
      stroke-opacity: 1;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
