/*
 * Header
 * @author mfyance
 */

.menu-ismobile {
    display: flex;
    align-items: center;

}


.inteligo-header {
    display: flex;
    background: #fff;
    padding: 0px 20px;
    box-shadow: 0px 0px 2px rgba(25, 26, 27, 0.25);
    position: fixed;
    z-index: 9;
    top: 0;
    width: calc(100vw - 280px);
}

.header-logo {
    width: 100%;
    max-width: var(--layout-left);
    display: block;
    margin: 0 0 0px 20px;
    align-items: center;
    margin-top: 20px;
}

.header-logo-img {
    max-width: 150px;
    display: block;
}

.header-logo-img2 {
    width: 30px;
    height: 30px;
}

.header-logo-img2 {
    display: none;
}


.header-menu {
    width: 100%;
    /* max-width: var(--layout-right); */
    display: flex;
    justify-content: space-between;
}

.header-menu-ul {
    display: flex;
    align-items: center;
}

.header-menu-li {
    height: 100%;
    display: flex;
}

.header-user {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    align-items: center;
}

.header-user-icon:hover {
    background: var(--color-gray-light);
}

.header-user-help {
    position: absolute;
    top: 2px;
    right: 3px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 50%;
    background: #C73723;
    border: 2px solid #fff;
    color: white;
    TEXT-ALIGN: CENTER;
    align-items: center;
    justify-content: center;
    font: 11px var(--font-primary-medium);
}

.header-user-icon {
    cursor: pointer;
    transition: all .3s ease;
    display: inline-flex;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-user-icon:hover .header-user-icon-tooltip {
    opacity: 1;
    transform: scale(1);
}

.header-user-icon-tooltip {
    position: absolute;
    top: 29px;
    right: -48px;
    width: 120px;
    background: #1148C6;
    padding: 10px;
    border-radius: 0px;
    color: white;
    z-index: 2;
    font: 12px var(--font-primary);
    transform: scale(0);
    opacity: 0;
    transition: all .3s ease;
    transform-origin: top right;
}

.header-user-icon-tooltip {
    content: '';
    position: absolute;
    right: 25%;
    top: -4px;
    width: 0;
    height: 0;
    border-right: 27px solid transparent;
    border-left: 27px solid transparent;
    clear: both;
    border-bottom: 17px solid #1148C6;
}

.header-profile {
    display: flex;
    margin-left: 15px;
    position: relative;
}

.header-profile-button:hover {
    background: #EEF5FE;
}

.header-profile-button {
    display: flex;
    align-items: center;
    border: 1.5px solid var(--color-primary);
    padding: 10px 15px;
    cursor: pointer;
}

.header-profile-user {
    margin-left: 10px;
    margin-right: 10px;
}

.header-profile-name {
    font: 14px var(--font-primary-medium);
    color: var(--color-primary);
}

.header-menu-text {
    position: relative;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    border-radius: 0;
    justify-content: center;
    padding: 22px 20px;
    color: #191A1B;
    font: 14px var(--font-primary);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-menu-text:hover {
    color: var(--color-primary);
    font: 14px var(--font-primary);
}

.header-menu-li.active .header-menu-text {
    box-shadow: inset 0 -3px var(--color-primary);
    color: var(--color-primary);
    font: 14px var(--font-primary-semibold);
}

.header-profile.active .header-options {
    opacity: 1;
    transform: scale(1);
}

.header-options {
    opacity: 0;
    transform-origin: top right;
    transform: scale(0);
    position: absolute;
    top: 46px;
    left: 0;
    z-index: 5;
    background: #fff;
    /* border-radius: 10px; */
    width: 100%;
    transition: all .3s ease;
    box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2), 0px 0px 1px rgba(9, 30, 66, 0.31);
    overflow: hidden;
}

.header-options-li:last-child {
    border-bottom: none;
}

.header-options-li:hover .header-options-text {
    color: #181818;
}

.header-options-li {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.header-options-href:hover .header-options-icon {
    opacity: 1;
}

.header-options-href:hover {
    background-color: #F2F4F8;
}

.header-options-href {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    width: 100%;
    transition: all .3s ease;
    overflow: hidden;
}

.header-options-icon {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.7;
}

.header-options-text {
    font: 14px var(--font-primary-medium);
    color: #616467;
}

/*Hover Links*/
.box-hover {
    color: #fff;
    background: none;
    padding: 0;
    position: relative;
    border-radius: none;
}

.box-hover .box-hover-bg {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.box-hover .box-hover-bg::before,
.box-hover .box-hover-bg::after {
    content: '';
    position: absolute;
    /* background: var(--color-gray-light); */
}

.box-hover .box-hover-bg::before {
    width: 110%;
    height: 0;
    padding-bottom: 110%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 1);
}

.box-hover:hover .box-hover-bg::before {
    transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
    transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}

.box-hover .box-hover-bg::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s;
}

.box-hover:hover .box-hover-bg::after {
    opacity: 1;
    transition-duration: 0.01s;
    transition-delay: 0.3s;
}


.mobile-menu {
    display: none;
    margin-left: 10px;
    cursor: pointer;
}

.mobile-menu-icon>i {}

.mobile-menu-icon {

    display: flex;

    align-items: center;
}

.mobile-menu-text:before {
    content: "Cerrar";
    display: none;
}

.mobile-menu-text:after {
    content: "Men\00fa";
    display: none;
}

.mobile-menu-text {

    margin-left: 5px;

    font: 16px var(--font-primary);

    color: var(--color-secondary);
}


@media screen and (max-width: 1279px) {
    .header-profile{
        margin-left: 5px
    }
    .mobile-menu-text:after {
        display: block;
    }

    .inteligo-mobile-open .mobile-menu-text:before {
        display: inline-block;
        ;
    }

    .inteligo-mobile-open .mobile-menu-text:after {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }

    .inteligo-header {
        position: fixed;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        justify-content: space-between;
    }

    .header-logo-img {
        display: none;
    }

    .header-logo-img2 {
        display: flex;
    }


    .header-profile-user,
    .inteligo-header .icon-arrow,
    .header-profile-name,
    .header-menu-ul {
        display: none;
    }

    .header-menu {
        justify-content: flex-end;
        width: auto;
    }


    .header-profile-button {
        padding: 0;
        margin: 0;
        display: inline-block;
        background: none;
        border: none;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: inline-flex;
    }

    .header-user {
        padding: 0
    }

    .header-user-icon {
        padding: 0
    }

    .header-options {
        width: auto;
        left: inherit;
        right: -4px;
        top: 25px;
        transform-origin: top right;
    }

    .header-profile-button:hover {
        background: transparent;
    }

    .header-logo {
        margin-top: 0
    }

}

@media screen and (max-width: 440px) {

    .header-profile {
        margin-left: 8px;

    }
}