@font-face {
    font-family: arial;
    font-style: normal;
    font-weight: 400;
    src: local("arial"), local("arial"), url(../font/arial.woff) format("woff"), url(../font/arial.woff2) format("woff2");
}
@font-face {
    font-family: arialbold;
    font-style: normal;
    font-weight: 400;
    src: local("arialbold"), local("arialbold"), url(../font/arialbold.woff) format("woff"), url(../font/arialbold.woff2) format("woff2");
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.secForm {
    width: 100%;
    background: #e5e5e5;
    min-height: 100vh;
    padding: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media only screen and (max-width: 767px) {
    .secForm {
        padding: 20px 0;
    }
}
.secFormCont {
    width: 100%;
    height: auto;
    display: inline-block;
    background: #fff;
    padding: 40px;
    max-width: 1190px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
    text-align: center;
}
@media only screen and (max-width: 992px) {
    .secFormCont {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 40px 17px;
    }
}
@media only screen and (max-width: 767px) {
    .secFormCont {
        border-radius: 0;
    }
}
.formCont {
    background: #f6f6f7;
    display: inline-block;
    width: 90%;
    max-width: 505px;
    padding: 32px;
    border-radius: 3px;
    text-align: center;
    margin-right: 24px;
}
@media only screen and (max-width: 992px) {
    .formCont {
        margin-right: 0;
    }
}
@media only screen and (max-width: 767px) {
    .formCont {
        width: 100%;
        padding: 32px 22px;
    }
}
.formBox {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    text-align: left;
}
.formBox h3 {
    color: #233e99;
    font-size: 24px;
    font-family: arialbold, sans-serif;
    font-weight: 700;
    margin: 0;
}
.formBox p {
    font-size: 15px;
    font-family: arial, sans-serif;
    color: #464748;
    display: inline-block;
    width: 100%;
    margin: 12px 0 18px;
}
.input-field > label {
    font-size: 16px !important;
    font-family: arial, sans-serif !important;
}
.input-block small,
.input-field small {
    color: #da432c;
    font-size: 12px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin: 5px 0 0;
    font-family: Roboto, sans-serif;
    position: absolute;
    bottom: -20px;
    right: 0px;
}
.emptyField {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 18px;
    right: 0;
    border-radius: 50%;
    background: #7585bc;
    cursor: pointer;
    z-index: 3;
}
.emptyField:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url(../../img/form/close.svg) center/100% 100% no-repeat;
    z-index: 1;
}
.caracteresBox {
    font-size: 14px;
    text-align: right;
    color: #6a6a6c;
    font-family: arial, sans-serif;
    margin: 5px 0 0;
}
.btnSend {
    background: #233e99;
    width: 100%;
    height: 48px;
    border-radius: 3px;
    border: none;
    margin: 20px 0 0;
}
.btnSend span {
    color: #fff;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.btnSend:active,
.btnSend:focus,
.btnSend:hover {
    background: #132a77;
}
.btnLink {
    border: 2px solid #31489b;
    border-radius: 3px;
    text-align: center;
    height: 48px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 16px 0 0;
}
.btnLink span {
    color: #31489b;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.5px;
    font-size: 14px;
    text-transform: uppercase;
}
.noteBox {
    background: #f6f6f7;
    width: 90%;
    max-width: 370px;
    border-radius: 3px;
    padding: 30px 40px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.noteBox h3,
.noteBox h4 {
    font-size: 24px;
    margin: 0 0 12px;
    color: #233e99;
    font-family: arialbold, sans-serif;
}
.noteBox h4 {
    color: #464748;
    margin: 0 0 20px;
}
.noteBox p {
    font-size: 16px;
    font-family: arial, sans-serif;
    margin: 0 0 5px;
    color: #464748;
}
.noteBox p strong {
    font-family: arialbold, sans-serif;
    font-size: 15px;
}
@media only screen and (max-width: 992px) {
    .noteBox {
        max-width: 505px;
        margin: 0 0 15px;
    }
}
@media only screen and (max-width: 767px) {
    .noteBox {
        width: 100%;
        padding: 30px 22px;
    }
}
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block;
}
figure {
    margin: 1em 40px;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: #039be5;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
dfn {
    font-style: italic;
}
mark {
    background-color: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
img {
    border-style: none;
}
svg:not(:root) {
    overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    display: inline-block;
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
summary {
    display: list-item;
}
[hidden],
template {
    display: none;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*,
:after,
:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}
ul:not(.browser-default) > li {
    list-style-type: none;
}
.clearfix {
    clear: both;
}
img.responsive-img,
video.responsive-video {
    max-width: 100%;
    height: auto;
}
.material-form .input-block {
    border-bottom: 2px solid #31489b;
    width: 100%;
    height: 50px;
    padding: 0;
    position: relative;
    margin-bottom: 26px;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}
.material-form .input-block::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 0%;
    bottom: 0;
    height: 2px;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    background-color: #0084f8;
}
.material-form .input-block.focus {
    border-color: #fff;
}
.material-form .input-block.focus label {
    color: #31489b;
    top: 0;
    font-size: 13px;
}
.material-form .input-block.focus::before {
    left: 0;
    width: 100%;
}
.material-form .input-block.has-value label {
    top: 0;
    font-size: 13px;
}
.material-form .input-block.error::before {
    left: 0;
    width: 100%;
    background-color: #d50000;
}
.material-form .input-block.error {
    border-bottom: 0 solid #fff;
    margin-bottom: 33px;
}
.material-form .input-block.textarea {
    height: auto;
}
.material-form .input-block.textarea .form-control {
    height: auto;
    resize: none;
    padding-top: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.material-form .input-block.floating-field {
    padding: 2px 0 0;
    height: 50px;
}
.material-form .input-block.floating-field.textarea {
    height: auto;
}
.material-form .input-block label {
    position: absolute;
    left: 0;
    top: 21px;
    width: 100%;
    height: 20px;
    margin: 0;
    font-weight: 400;
    z-index: 1;
    font-family: roboto;
    color: #939393;
    font-size: 13px;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
}
.material-form .input-block .form-control {
    background-color: transparent;
    padding: 4px 0 0;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    font-size: 14px;
    font-weight: 400;
    color: #3c3c3c;
}
.material-form .input-block .form-control:focus {
    outline: 0;
}
.material-form .input-block .form-control:focus label {
    top: 0;
}
.material-form .error-label {
    color: #d50000;
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 10px;
}
.material-form .form-note {
    font-size: 13px;
    color: #939393;
    margin-top: -15px;
    margin-bottom: 15px;
}
.material-form .square-button {
    background-color: #39a1f4;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    border-radius: 0;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: 0;
    height: 60px;
    border: none;
    cursor: pointer;
    width: 100%;
}
.material-form .square-button:focus,
.material-form .square-button:hover {
    background-color: #0d8aee;
}
.select-block {
    background-color: #fff;
    width: 100%;
    padding: 12px 0 0;
    position: relative;
    margin: 15px 0 20px;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}
.select-block label {
    position: absolute;
    left: 0;
    top: 32px;
    height: 20px;
    width: 100%;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    margin: 0;
    font-family: roboto;
    z-index: 1;
    color: #939393;
    font-size: 12px;
    line-height: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.select-block .active-list {
    width: 100%;
    height: 45px;
    padding: 0;
    color: #c9c9c9;
    position: relative;
    z-index: 2;
    cursor: pointer;
    line-height: 45px;
    font-size: 0;
    font-family: roboto;
    white-space: nowrap;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.select-block .active-list:after {
    content: "";
    position: absolute;
    right: 0;
    top: 30%;
    height: 7.27px;
    padding-left: 5px;
    text-align: left;
    width: 12.36px;
    color: #939393;
    font-size: 14px;
    background: url(../../img/form/ico_arrowselect.png) center/100% 100% no-repeat;
}
.select-block.added label {
    top: 0;
    font-size: 13px;
}
.select-block.added .active-list {
    color: #3c3c3c;
    font-size: 12px;
}
.select-block.added.focus label {
    top: 5px;
}
.select-block.focus label {
    top: 0;
    font-size: 13px;
    color: #31489b;
}
.select-block.focus .active-list {
    font-size: 12px;
}
.select-block.focus .custom-select {
    border-color: #fff;
}
.select-block.focus .active-list:after {
    content: "";
    background: url(../../img/form/ico_arrowselect.png) center/100% 100% no-repeat;
}
.select-block.focus .custom-select::before {
    left: 0;
    width: 100%;
}
.select-block .custom-select {
    border-bottom: 1px solid #31489b;
    display: inline-block;
    height: 45px;
    position: relative;
    padding: 0;
    width: 100%;
    line-height: 45px;
}
.select-block .custom-select::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 0%;
    bottom: 0;
    height: 2px;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    background-color: #31489b;
}
.error.custom-select::before {
    background-color: #da432c;
}
.select-block .custom-select .list-field {
    width: 100%;
    height: 45px;
    padding: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}
.select-block .custom-select .drop-down-list {
    width: 100%;
    height: auto;
    max-height: 250px;
    overflow-x: auto;
    z-index: 99;
    padding: 0;
    margin: 2px 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    display: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.118) 0 1px 6px, rgba(0, 0, 0, 0.118) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.118) 0 1px 6px, rgba(0, 0, 0, 0.118) 0 1px 4px;
}
.select-block .custom-select .drop-down-list li {
    padding: 10.5px 15px;
    cursor: pointer;
    font-size: 12px;
    line-height: normal;
    background-color: #fff;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    font-family: roboto;
}
.select-block .custom-select .drop-down-list li input[type="checkbox"] {
    margin: 0 8px 0 0;
    position: relative;
    top: 1px;
}
.select-block .custom-select .drop-down-list li label {
    font-weight: 400;
    cursor: pointer;
    display: block;
}
.select-block .custom-select .drop-down-list li:hover {
    color: #3c3c3c;
    background-color: rgba(0, 0, 0, 0.05);
}
.select-block .custom-select .drop-down-list .add-new {
    border-top: 1px solid #c8c8c8;
    padding: 15px;
    color: #3c3c3c;
}
.select-block .custom-select .drop-down-list .add-new i {
    font-size: 16px;
    margin-top: 3px;
    color: #939393;
}
@media (min-width: 768px) {
    .contact-wrap {
        width: 600px;
        margin: auto;
    }
    .material-form .input-block label {
        font-size: 16px;
        line-height: 14px;
    }
    .material-form .input-block .form-control {
        font-size: 16px;
    }
    .select-block label {
        font-size: 16px;
        line-height: 14px;
    }
    .select-block.added .active-list,
    .select-block.focus .active-list {
        font-size: 16px;
    }
    .select-block .custom-select .drop-down-list li {
        font-size: 15px;
    }
}
*,
html {
    margin: 0;
    padding: 0;
}
.contact-wrap {
    padding: 15px;
}
h1 {
    color: #fff;
    padding: 40px 0 0;
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
h1 small {
    font-size: 16px;
    display: block;
    text-transform: none;
    font-weight: 300;
    margin-top: 10px;
    color: #ff1631;
}
.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
}
.made-with-love i {
    font-style: normal;
    color: #fff;
    font-size: 14px;
    position: relative;
    top: 2px;
}
.made-with-love a {
    color: #fff;
    text-decoration: none;
}
.made-with-love a:hover {
    text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */
