@import "variables.styl"



.animate__animated.animate__fadeInUp {
  --animate-duration: 0.30s;
}

.secForm
    width 100%
    background gris
    min-height 100vh
    padding 20px 20px 20px 20px
    display flex
    justify-content center
    +below(767px)
        padding 20px 0px 20px 0px

.chatBox
    position fixed
    z-index 999
    background blanco
    width 100%
    max-width 410px
    bottom 90px
    right 20px
    height auto
    min-height 550px
    border-radius 16px
    box-shadow 0px 0px 24px 0px rgba(0,0,0,.24)
    overflow hidden
    opacity 0
    trancicion ()
    transform translateY(5px)
    pointer-events none
    +below(600px)
        width 100%
        max-width 100%
        border-radius 0px
        bottom 0px
        right 0px

.chatBoxOpen
    opacity 1
    transform translateY(0%)
    pointer-events visible


.chatBar
    width 100%
    display block
    height 56px
    background #1D6429
    position relative
    +below(600px)
        height 45px

.chatTitle
    height 56px
    float left
    display flex
    align-items center
    justify-content center
    padding 0px 0px 0px 25px
    span
        color blanco
        font-family roboto
        font-size 18px
        text-transform uppercase
    img
        margin 0px 10px 0px 0px
    +below(600px)
        height 45px

.chatTitle1
    cursor pointer

.chatTitle2
    span
        font-weight normal
        text-transform none

.chatClose
    position absolute
    width 16px
    height 16px
    top 0px
    bottom 0px
    margin-top auto
    margin-bottom auto
    right 19px
    cursor pointer
    img
        width 100%
        height auto

.chatStep
    width 100%
    height auto
    display inline-block
    vertical-align top
    padding 20px 0px 0px 0px

.messageBox
    width 100%
    height auto
    display inline-block
    vertical-align top
    position relative
    padding 0px 24px 0px 86px
    margin 0px 0px 8px 0px
    opacity 0
    figure
        background #31489B
        width 48px
        height 48px
        border-radius 50%
        position absolute
        left 24px
        bottom 0px
        margin 0px
        display flex
        align-items center
        justify-content center

    .txtBox
        width 100%
        display inline-block
        vertical-align top
        position relative
    .txt
        width 100%
        display inline-block
        align-items center
        background #E5E5E6
        padding 12px 16px 12px 16px
        border-radius 16px
        position relative
        opacity 0
        p
            padding 0px
            margin 0px
            z-index 2
            font-size 16px
            color #464748
            line-height 1.2
            position relative
            font-family roboto
        img
            position absolute
            left 0px
            z-index 1
            bottom 0px
            width 21px
            height 22px

.messageOptionBox
    width 100%
    height auto
    display inline-block
    vertical-align top
    padding 30px 24px 0px 86px
    opacity 0

.messageOption
    width 100%
    height 56px
    display flex
    background #F6F6F7
    margin 0px 0px 12px 0px
    border-radius 56px
    padding 18px 18px 18px 24px
    cursor pointer
    trancicion ()
    p
        color #4A5EA8
        font-size 16px
        font-family roboto
        font-weight bold
        margin 0px
        display inline-block
    img
        display inline-block
        vertical-align top
        float left
        margin-right 12px
    &:hover
        background #e8e8e8

.formStep
    width 100%
    display inline-block
    padding 20px 0px 0px 0px
    opacity 0

.formInputBox
    width 100%
    display inline-block
    padding 0px 44px 0px 44px
    
    ::placeholder
        color: negro;
        opacity: 1;
    :-ms-input-placeholder
        color: negro;
    ::-ms-input-placeholder
        color: negro;
    

.formTextBox
    border-top 1px solid #DCDCDE
    width 100%
    display inline-block
    padding 12px 16px 12px 16px
    textarea
        display inline-block
        height 111px
        width 100%
        background #F6F6F7
        border-radius 4px
        border 0px solid negro
        font-size 16px
        font-family roboto
        padding 17px 16px 17px 16px
        &:focus
        &:active
            border 0px solid negro
    ::placeholder
        color: negro;
        opacity: 1;
    :-ms-input-placeholder
        color: negro;
    ::-ms-input-placeholder
        color: negro;

.input-field
    margin-bottom 24px !important

.btnSend
    height 48px
    width 100%
    display inline-block
    vertical-align top
    background #233E99
    border 0px
    border-radius 3px
    margin 10px 0px 0px 0px
    span
        color blanco
        font-family roboto
        font-size 14px
        
    &:hover
    &:active
    &:focus
        background #1a2e73

.chatStep4
    padding 0px

.stepThanks
    display flex
    width 100%
    height auto
    min-height 490px 
    vertical-align top
    align-items center

.thanksBox
    display flex
    width 100%
    flex-direction column
    padding 0px 40px 0px 40px
    opacity 0

.thanksCheck
    width 100%
    display inline-block
    text-align center
    margin 0px 0px 50px 0px
    figure
        margin 0px 0px 15px 0px
    p
        font-family roboto
        font-size 18px
        margin 0px
        line-height 1.3

.thanksList
    width 100%
    height auto
    a
        width 100%
        height 48px
        display inline-block
        text-align center
        background #F6F6F7
        display flex
        align-items center
        justify-content center
        border-radius 3px
        margin 0px 0px 15px 0px
        cursor pointer
        trancicion ()
        span
            font-size 14px
            font-weight 600
            font-family roboto
            text-transform uppercase
            color #4A5EA8
            letter-spacing 1px
        &:hover
            background #dcdce8
    .btnThanks1
        background #4A5EA8
        span
            color blanco
        &:hover
            background #33437d

.formEmoticon
    width 100%
    display flex
    padding 20px 0px 80px 0px
    ul
        width 100%
        display inline-block
        text-align center
        margin 0px
        li
            display inline-block
            width auto
            a
                width 64px
                height 64px
                border 1px solid #E5E5E6
                display flex
                align-items center
                justify-content center
                position relative
                border-radius 50%
                span
                    font-size 16px
                    color negro
                    font-family roboto
                    position absolute
                    bottom -30px
                    left 0px
                    white-space: nowrap


.btnChat
    position fixed
    bottom 15px
    right 20px
    height 64px
    background #1D6429
    border-radius 8px
    padding 0px 23px 0px 23px
    display flex
    align-items center
    justify-content center
    box-shadow 0px 0px 16px rgba(0,0,0,.24)
    cursor pointer
    trancicion ()
    width 225px
    .open
    .close
        display flex
        align-items center
        justify-content center
        trancicion ()
        opacity 0
        position absolute
    .open
        opacity 1
        pointer-events visible
        width 179px
        transform translateX(0%)
    .close
        opacity 0
        pointer-events none
        transform translateX(-10%)
    span
        color blanco
        font-size 18px
        font-family roboto
    img
        margin-right 10px
    &:hover
        background #134e1d
    +below(600px)
        width 100%
        bottom 0px
        right 0px
        border-radius 0px
        height 40px
        span
            font-size 14px
        img
            max-width 20px

.btnChatOpen
    width 121px
    .close
        opacity 1
        pointer-events visible
        transform translateX(0%)
    .open
        opacity 0
        pointer-events none
        transform translateX(-10%)
    +below(600px)
        width 100%


.formTextBox
.select-block
.input-block
    small
        color #DA432C
        font-size 13px
        width 100%
        display inline-block
        vertical-align top
        text-align right
        margin 6px 0px 0px 0px
        font-family roboto
    input.error
        border-bottom 2px solid #DA432C !important

.select-block
    small
        margin -8px 0px 0px 0px

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}