@import "variables.styl"
.typingBox
    width 130px
    height 40px
    background #E5E5E6
    border-radius 7.19px
    position absolute
    bottom 0px
    left 0px
    z-index 3
    display flex
    align-items center
    justify-content center
    trancicion ()
    span
        width 8px
        height 8px
        background-color #C4C4C4
        display inline-block
        margin 0px 3px 0px 3px
        border-radius: 50%
        &:nth-child(1)
            -webkit-animation asdasdasd 1s infinite
            animation asdasdasd 1s infinite
        &:nth-child(2)
            -webkit-animation: asdasdasd 1s infinite 0.2s;
            animation: asdasdasd 1s infinite 0.2s;
        &:nth-child(3)
            -webkit-animation: asdasdasd 1s infinite 0.4s;
            animation: asdasdasd 1s infinite 0.4s;

@-webkit-keyframes asdasdasd {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes asdasdasd {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}