/*
** Fonts
*/


@font-face
    font-family 'arial'
    font-style normal
    font-weight 400
    src local('arial'), local('arial'), url('../font/arial.woff') format('woff'), url('../font/arial.woff2') format('woff2')

@font-face
    font-family 'arialbold'
    font-style normal
    font-weight 400
    src local('arialbold'), local('arialbold'), url('../font/arialbold.woff') format('woff'), url('../font/arialbold.woff2') format('woff2')

arial =  'arial', sans-serif
arial2 =  'arialbold', sans-serif
roboto =  'Roboto', sans-serif


blanco = #ffffff
negro = #000000
azul = #233E99
azul2 = #17479E
celeste = #0084F8
morado = #31489B
gris = #E5E5E5
gris2 = #F6F6F7
gris3 = #464748


trancicion()
  transition all 300ms ease-out 30ms

trancicion1()
  transition all 100ms ease-out 10ms

trancicion2()
  transition all 200ms ease-out 20ms

trancicion3()
  transition all 300ms ease-out 30ms
  
trancicion4()
  transition all 400ms ease-out 40ms

trancicion5()
  transition all 500ms ease-out 50ms
