@import "variables.styl"

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.secForm
    width 100%
    background gris
    min-height 100vh
    padding 20px 20px 20px 20px
    display flex
    justify-content center
    +below(767px)
        padding 20px 0px 20px 0px

.secFormCont
    width 100%
    height auto
    display inline-block
    background blanco
    padding 40px
    max-width 1190px
    border-radius 3px
    box-shadow 0px 2px 4px rgba(0,0,0,.06)
    text-align center
    +below(992px)
        display flex
        flex-direction column-reverse
        align-items center
        justify-content center
        padding 40px 17px 40px 17px
    +below(767px)
        border-radius 0px


.formCont
    background gris2
    display inline-block
    width 90%
    max-width 505px
    padding 32px
    border-radius 3px
    text-align center
    margin-right 24px
    +below(992px)
        margin-right 0px
    +below(767px)
        width 100%
        padding 32px 22px 32px 22px

.formBox
    display inline-block
    width 100%
    max-width 300px
    text-align left
    h3
        color azul
        font-size 24px
        font-family arial2
        font-weight bold
        margin 0px
    p
        font-size 15px
        font-family arial
        color gris3
        display inline-block
        width 100%
        margin 12px 0px 18px 0px

.input-field>label
    font-size 16px !important
    font-family arial !important
    //color #8D8E90 !important



.input-field
.input-block
    small
        color #DA432C
        font-size 12px
        width 100%
        display inline-block
        vertical-align top
        text-align right
        margin 5px 0px 0px 0px
        font-family roboto


.emptyField
    width 16px
    height 16px
    position absolute
    top 18px
    right 0px
    border-radius 50%
    background #7585BC
    z-index 2
    &:before
        content ''
        position absolute
        width 10px
        height 10px
        top 0px
        left 0px
        right 0px
        bottom 0px
        margin auto
        background url('../img/close.svg') center no-repeat
        background-size 100% 100%
        z-index 1

.caracteresBox
    font-size 14px
    text-align right
    color #6A6A6C
    font-family arial
    margin 5px 0px 0px 0px

.btnSend
    background azul
    width 100%
    height 48px
    border-radius 3px
    border none
    margin 20px 0px 0px 0px
    span
        color blanco
        font-weight bold
        font-family roboto
        letter-spacing .5px
        font-size 14px
    &:hover
    &:active
    &:focus
        background #132a77

.btnLink
    border 2px solid morado
    border-radius 3px
    text-align center
    height 48px
    width 100%
    display flex
    align-items center
    justify-content center
    margin 16px 0px 0px 0px
    span
        color morado
        font-weight bold
        font-family roboto
        letter-spacing .5px
        font-size 14px
        text-transform uppercase


.noteBox
    background gris2
    width 90%
    max-width 370px
    border-radius 3px
    padding 30px 40px 30px 40px
    display inline-block
    text-align left
    vertical-align top
    h3
    h4
        font-size 24px
        margin 0px
        
        color azul
        font-family arial2
        margin 0px 0px 12px 0px
    h4
        color gris3
        margin 0px 0px 20px 0px
    p
        font-size 16px
        font-family arial
        margin 0px 0px 5px 0px
        color gris3
        strong
            font-family arial2
            font-size 15px
    +below(992px)
        max-width 505px
        margin 0px 0px 15px 0px
    +below(767px)
        width 100%
        padding 30px 22px 30px 22px