/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
     -moz-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}

ul:not(.browser-default) > li {
  list-style-type: none;
}

a {
  color: #039be5;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.clearfix {
  clear: both;
}

img.responsive-img,
video.responsive-video {
  max-width: 100%;
  height: auto;
}

.material-form .input-block {
  border-bottom: solid 2px #31489B;
  width: 100%;
  height: 50px;
  padding: 0;
  position: relative;
  margin-bottom: 26px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.material-form .input-block::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 0%;
  bottom: 0;
  height: 2px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #0084F8;
}
.material-form .input-block.focus {
  border-color: #fff;
}
.material-form .input-block.focus label {
  color: #31489B;
  top: 0;
  font-size: 13px;
}
.material-form .input-block.focus::before {
  left: 0%;
  width: 100%;
}
.material-form .input-block.has-value label {
  top: 0;
  font-size: 13px;
}
.material-form .input-block.error::before {
  left: 0%;
  width: 100%;
  background-color: #d50000;
}
.material-form .input-block.error{
  border-bottom:0px solid white;
}
.material-form .input-block.error{
  margin-bottom 33px
}
.material-form .input-block.textarea {
  height: auto;
}
.material-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size:16px;
}
.material-form .input-block.floating-field {
  padding: 2px 0 0;
  height: 50px;
}
.material-form .input-block.floating-field.textarea {
  height: auto;
}
.material-form .input-block label {
  position: absolute;
  left: 0;
  top: 21px;
  width: 100%;
  height: 20px;
  margin: 0;
  font-weight: normal;
  z-index: 1;
  font-family:roboto;
  color: #939393;
  font-size: 13px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
}

.material-form .input-block .form-control {
  background-color: transparent;
  padding: 4px 0 0;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  font-size: 14px;
  font-weight: normal;
  color: #3c3c3c;
}
.material-form .input-block .form-control:focus {
  outline: none;
}
.material-form .input-block .form-control:focus label {
  top: 0;
}
.material-form .error-label {
  color: #d50000;
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 10px;
}
.material-form .form-note {
  font-size: 13px;
  color: #939393;
  margin-top: -15px;
  margin-bottom: 15px;
}
.material-form .square-button {
  background-color: #39a1f4;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0;
  height: 60px;
  border: none;
  cursor: pointer;
  width: 100%;
}
.material-form .square-button:hover, .material-form .square-button:focus {
  background-color: #0d8aee;
}

/*dropdown list as ul li method*/
.select-block {
  background-color: #fff;
  width: 100%;
  padding: 12px 0 0;
  position: relative;
  margin: 15px 0px 20px 0px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

}
.select-block label {
  position: absolute;
  left: 0;
  top: 32px;
  height: 20px;
  width: 100%;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  margin: 0;
  font-family :roboto;
  z-index: 1;
  color: #939393;
  font-size: 12px;
  line-height: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.select-block .active-list {
  width: 100%;
  height: 45px;
  padding: 0;
  color: #c9c9c9;
  position: relative;
  z-index: 2;
  cursor: pointer;
  line-height:45px;
  font-size: 0;
  font-family :roboto;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.select-block .active-list:after {
  content: "";
  position: absolute;
  right: 0;
  top: 30%;
  height: 7.27px;
  padding-left: 5px;
  text-align: left;
  width: 12.36px;
  color: #939393;
  font-size: 14px;
  background: url('../img/ico_arrowselect.png') center no-repeat;
  background-size: 100% 100%;
}

.select-block.added label {
  top: 0;
  font-size: 13px;
}
.select-block.added .active-list {
  color: #3c3c3c;
  font-size: 12px;
}
.select-block.added.focus label {
  top: 5px;
}
.select-block.focus label {
  top: 0;
  font-size: 13px;
  color: #31489B;
}
.select-block.focus .active-list {
  font-size: 12px;
}
.select-block.focus .custom-select {
  border-color: #fff;
}
.select-block.focus .active-list:after {
  content: "";
  background:url('../img/ico_arrowselect.png') center no-repeat;
  background-size: 100% 100%;
  //transform:scale(1,-1);
}
.select-block.focus .custom-select::before {
  left: 0%;
  width: 100%;
}
.select-block .custom-select {
  border-bottom: solid 1px #31489B;
  display: inline-block;
  height: 45px;
  position: relative;
  padding: 0;
  width: 100%;
  line-height: 45px;
}

.select-block .custom-select::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 0%;
  bottom: 0;
  height: 2px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background-color: #31489B;
}
.error.custom-select::before {
  background-color: #DA432C;
}

.select-block .custom-select .list-field {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  opacity:0;
  pointer-events:none;
}
.select-block .custom-select .drop-down-list {
  width: 100%;
  height: auto;
  max-height: 250px;
  overflow-x: auto;
  z-index: 99;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  margin-top: 2px;
  left: 0;
  background-color: white;
  display: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.11765) 0px 1px 6px, rgba(0, 0, 0, 0.11765) 0px 1px 4px;
}
.select-block .custom-select .drop-down-list li {
  padding: 10.5px 15px;
  cursor: pointer;
  font-size: 12px;
  line-height: normal;
  background-color: #fafafa;
  background-color: #fff;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-family: roboto;
}
.select-block .custom-select .drop-down-list li input[type="checkbox"] {
  margin: 0;
  margin-right: 8px;
  position: relative;
  top: 1px;
}
.select-block .custom-select .drop-down-list li label {
  font-weight: normal;
  cursor: pointer;
  display: block;
}
.select-block .custom-select .drop-down-list li:hover {
  color: #3c3c3c;
  background-color: rgba(0, 0, 0, 0.05);
}
.select-block .custom-select .drop-down-list .add-new {
  border-top: solid 1px #c8c8c8;
  padding: 15px;
  color: #3c3c3c;
}
.select-block .custom-select .drop-down-list .add-new i {
  font-size: 16px;
  margin-top: 3px;
  color: #939393;
}

@media (min-width: 768px) {
  .contact-wrap {
    width: 600px;
    margin: auto;
  }

  .material-form .input-block label {
    font-size: 16px;
    line-height: 14px;
  }
  .material-form .input-block .form-control {
    font-size: 16px;
  }

  .select-block label {
    font-size: 16px;
    line-height: 14px;
  }
  .select-block.added .active-list {
    font-size: 16px;
  }
  .select-block.focus .active-list {
    font-size: 16px;
  }
  .select-block .custom-select .drop-down-list li {
    font-size: 15px;
  }
}
/*----page styles---*/
*,
html {
  margin: 0;
  padding: 0;
}

body {
}

.contact-wrap {
  padding: 15px;
}

h1 {
  color: #fff;
  padding: 40px 0 0;
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
h1 small {
  font-size: 16px;
  display: block;
  text-transform: none;
  font-weight: 300;
  margin-top: 10px;
  color: #ff1631;
}

.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #fff;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}