/*
 * Card Cuenta Corriente
 * @author JCarlosR
 */

@import url('corriente-desktop.css');

@media screen and (max-width: 1279px) {
	.main-card-corriente {
		/* margin-top: 12px; */
		padding: 0;
	}
	.corrientes-movements {
		flex-direction: column;
		gap: 24px;
	}
	.buttons-corrientes-block > .buttons-block-right {
		display: none;
	}
	.corriente-movements-left .button-actions {
		width: 160px;
		max-width: initial;
		min-width: initial;
	}
	.corriente-movements-left .buttons-actions-tablet {
		display: flex;
		gap: 12px;
		padding-left: 98px;
	}

	/* CODE DC */
	.corriente-movements-left {
		margin-top: 18px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}
	.corrientes-movements--select {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
}
@media screen and (min-width: 800px) and (max-width: 999px) {
	.corriente-movements-right .customize-button-calendar button {
		width: 150px;
		margin-left: 33px;
	}
	.corrientes-movements {
		column-gap: 33px;
	}

	.corriente-movements-right__from {
		width: 140px;
	}

	.corriente-movements-right__to {
		width: 140px;
	}

	.customize-button-calendar .button-secondary {
		width: 110px;
		max-width: 350px;
		min-width: 350px;
	}

	.button-50 {
		max-width: 220px;
	}

	.subtotal-header {
		margin: auto;
	}
	.detail-corrientes-block {
		display: grid;
		grid-template-columns: 1fr 1fr; /* 2 columnas con igual ancho */
		gap: 2px;
	}

	.detail-corrientes-block .detail-corrientes-cards:nth-child(1),
	.detail-corrientes-block .detail-corrientes-cards:nth-child(2) {
		grid-column: span 1; /* ocupa 1 columna */
	}

	.detail-corrientes-block .detail-corrientes-cards:nth-child(3) {
		grid-column: span 2; /* ocupa 2 columnas */
	}
	.detail-corrientes-cards {
		margin: inherit;
		width: inherit;
	}
}
@media screen and (min-width: 601px) and (max-width: 799px) {
	/* .corrientes-movements {
		column-gap: 33px;
	} */

	.corriente-movements-right__from {
		width: 140px;
	}

	.corriente-movements-right__to {
		width: 140px;
	}

	.corriente-movements-right .customize-button-calendar button {
		width: 260px;
		margin-left: 0px;
	}
	/* .customize-button-calendar .button-secondary {
		width: 110px;
		max-width: 110px;
		min-width: 110px;
	} */

	.button-50 {
		max-width: 220px;
	}

	.subtotal-header {
		margin: auto;
	}
	.detail-corrientes-block {
		display: grid;
		grid-template-columns: 1fr 1fr; /* 2 columnas con igual ancho */
		gap: 2px;
	}

	.detail-corrientes-block .detail-corrientes-cards:nth-child(1),
	.detail-corrientes-block .detail-corrientes-cards:nth-child(2) {
		grid-column: span 1; /* ocupa 1 columna */
	}

	.detail-corrientes-block .detail-corrientes-cards:nth-child(3) {
		grid-column: span 2; /* ocupa 2 columnas */
	}
	.detail-corrientes-cards {
		margin: inherit;
		width: inherit;
	}
}
@media screen and (min-width: 700px) and (max-width: 1023px) {
	.corriente-title {
		flex-direction: column;
		gap: 16px;
		align-items: flex-start;
	}
	.detail-corriente-main-header.toggle-currency-active {
		flex-direction: column;
		gap: 20px;
	}
	.detail-corriente-main-header.toggle-currency-active > .separador-vistaToggle {
		justify-content: space-between;
	}
	.corriente-title-right {
		margin-left: 51px;
		align-self: flex-start;
	}
	.content-corriente-header > .pos-viewer {
		margin: auto 40px !important;
	}
	.content-corriente-header > .subtotal-header {
		flex-direction: row;
		gap: 32px;
	}
	#secCtaCorriente > .cardbox-head {
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;
		padding: 24px;
	}
	#secCtaCorriente .cardbox-head-right {
		padding-left: 51px;
	}
}

@media screen and (max-width: 700px) {
    #corrienteTableMobile{
        display: block;
    }
    #corrienteTableDesktop {
        display: none;
    }

    .main-card-corriente {
        /* margin-top: 12px; */
        padding: 0;
    }

	.main-corriente-detail {
		background: white;
		flex-direction: column;
		border: 1px solid #dde1e6;
		padding: 24px;
		padding-bottom: 16px;
		height: 297px !important;
		position: relative;
	}

	.corriente-hr {
		display: none;
	}

	.detail-middle-top {
		justify-content: center;
	}

	.corriente-detail-left {
		display: flex;
		flex-direction: column;
		gap: 4px;
		padding-bottom: 16px;
		margin-bottom: 16px;
		border-bottom: 2px solid #e5e5e5;
		width: 100%;
	}

	.corriente-detail-middle {
		padding-bottom: 16px;
		margin-bottom: 16px;
		border-bottom: 2px solid #e5e5e5;
		width: 100%;
	}

	.corriente-detail-right {
		text-align: center;
		padding-bottom: 16px;
		border-bottom: 1px solid #e5e5e5;

		width: 100%;
	}

	.corriente-arrow {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		padding: 12px 0;
	}

	.corriente-arrow > i::before {
		font: 16px var(--font-primary-medium);
		color: var(--color-primary);
		content: 'Ver detalle';
		display: flex;
		position: absolute;

		position: absolute;
		left: 25px;
	}

	.detail-corrientes__header {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.detail-corriente-main-header {
		flex-direction: column;
	}

	.detail-corrientes-block {
		flex-direction: column;
	}

	.detail-corrientes-cards {
		width: 100%;
	}

	.pos-viewer-2 {
		margin-top: 16px !important;
		margin-bottom: 0 !important;
	}

	.separador-vistaToggle {
		flex-direction: column;
		gap: 16px;
		padding-top: 16px;
	}

	.separador-vistaToggle .toggle-switch-container {
		width: inherit;
	}

	.buttons-corrientes-block {
		flex-direction: column;
		gap: 12px;
		margin: 0 24px 24px;
	}

    .corrientes-movements {
        display: flex;
        flex-direction: column;
    }
	.corriente-content {
		padding: 24px;
	}

	.corrientes-movements {
		display: flex;
		flex-direction: column;
		/* margin: 0 24px 0px; */
		gap: initial;
	}

	.corrientes-movements-title {
		margin-bottom: 24px;
	}

	.corrientes-movements--legend {
		margin-bottom: 8px;
	}


	.corriente-select {
		width: 100%;
	}
	.corrientes-movements--select {
		width: 100%;
	}

	.buttons-block-left {
		flex-direction: column;
		width: 100%;
		gap: 12px;
	}

	.button-50 {
		width: 100%;
	}

	.buttons-block-right .button-secondary-short {
		width: calc(100% / 3) !important;
		min-width: inherit;
		max-width: inherit;
	}

	.content-corriente-header {
		flex-direction: column-reverse;
		height: inherit;
		padding: 16px;
		background: #fff;
		border: 1px solid #dde1e6;
	}

	.subtotal-header {
		flex-direction: column;
		text-align: center;
		gap: 4px;
	}

	.pos-viewer {
		margin: 0px !important;
		margin-top: 16px !important;
	}

	#listaCorrientes {
		background: #f2f4f8;
	}

	/* ESTILOS DE LA TABLA VERSIÓN MOBILE */
	#mustacheCorrienteMobile {
		display: flex;
		flex-direction: column;
		gap: 12px;
		margin-bottom: 24px;
	}

	#chck1 {
		position: absolute;
		opacity: 0;
		z-index: -1;
		visibility: hidden;
	}

    /* Accordion styles */
    .folding-mtable {
        border-radius: 0px;
        overflow: hidden;
        margin: 0px !important;
    }
	.chekbox-mtable {
		visibility: hidden;
		height: 0;
		width: 0;
		display: none;
	}



	.tab-mtable {
		width: 100%;
		color: #191a1b;
		overflow: hidden;
	}

	.tab-label-corriente {
		display: flex;
		justify-content: space-between;
		padding: 12px 16px;
		background: #dde1e6;
		font-weight: bold;
		cursor: pointer;
		font: 14px var(--font-primary-semibold);
		/* Icon */
	}

	.tab-label-corriente:hover {
		background: #dde1e6;
	}

	.tab-label-corriente::after {
		content: '\276F';
		width: 20px;
		height: 20px;
		text-align: center;
		transition: all 0.35s;
		color: #1148c6;
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
	}

	.tab-content {
		max-height: 0;
		padding: 0 16px;
		font: 14px var(--font-primary);
		color: #7b7c7e;
		background: #f2f4f8;
		transition: all 100ms;
		border-bottom: 1px solid #dde1e6;
	}

	.tab-content:last-child {
		border-bottom: 0;
	}

	.tab-content-middle {
		display: flex;
		justify-content: space-between;
	}

	.tab-content-middle-left {
		font: 14px var(--font-primary-medium);
		color: #313334;
	}

	.tab-content-bottom {
		display: flex;
		justify-content: space-between;
	}

	.tab-content-bottom-left {
		font: 14px var(--font-primary-medium);
		color: #313334;
	}

	.tab-content-bottom-right {
		font: 14px var(--font-primary-medium);
		color: #494b4e;
	}

	.chekbox-mtable:checked + .tab-label-corriente {
		background: #dde1e6;
	}

	.chekbox-mtable:checked + .tab-label-corriente::after {
		transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-o-transform: rotate(270deg);
	}

	.chekbox-mtable:checked ~ .tab-content {
		max-height: 100vh;
		padding: 12px 16px;
	}

	.corriente-status-success {
		color: #48a17e !important;
		font: 14px var(--font-primary-semibold) !important;
	}

	.corriente-status-error {
		color: #c73723 !important;
		font: 14px var(--font-primary-semibold) !important;
	}

	.tab-content-middle-right i {
		margin-right: 10px;
	}

	.corriente-movements-right {
		flex-direction: column;
		align-items: initial;
	}

	.corriente-movements-right__from {
		width: inherit;
		margin-top: 16px;
	}

	.corriente-movements-right__to {
		width: inherit;
		margin-top: 16px;
	}

	.customize-button-calendar button {
		width: 100%;
		margin: 16px 0 0 0;
	}

	.corriente-table-mobile {
		margin-top: 24px;
		margin-bottom: 1px;
		padding-bottom: 1px;
	}

	/* FIN DE LA TABLA MOBILE */
	.corriente-movements-righ {
		display: none !important;
	}

	.corriente-title {
		flex-direction: column;
		gap: 16px;
	}

	.corriente-title-right {
		margin-left: 51px;
		align-self: flex-start;
	}

	.corriente-type {
		font: 16px var(--font-primary) !important;
	}

	.corriente-detail-middle .detail-middle-top > div:first-child {
		font: 16px var(--font-primary) !important;
	}

	.corriente-detail-middle .divider-short {
		width: 1px;
	}

	.detail-middle-top > div {
		font: 16px var(--font-primary-bold) !important;
	}

	.detail-right-top {
		font: 16px var(--font-primary) !important;
	}

	.corriente-type-number {
		font: 20px var(--font-primary-bold);
	}

	.detail-middle-bottom_corriente {
		font: 20px var(--font-primary-bold);
	}

	.detail-right-bottom_corriente {
		font: 20px var(--font-primary-bold);
	}
	.main-card-box + .main-card-corriente {
		box-shadow: none;
	}
	.main-card-box + .main-card-corriente > .detalle-trading {
		box-shadow: 0px 3px 5px rgb(9 30 66 / 20%), 0px 0px 2px rgb(9 30 66 / 31%);
	}
	.main-card-box + .main-card-corriente > .lista-trading {
		box-shadow: none;
	}
	.detail-corrientes__header--title {
		font: 20px var(--font-primary-semibold);
	}
	.corriente-movements-left .buttons-actions-tablet {
		display: none;
	}
	.buttons-corrientes-block > .buttons-block-right {
		display: flex;
	}
}
@media screen and (max-width: 600px) {
	.main-card-corriente {
		/* margin-top: 12px; */
		padding: 0;
	}
}
@media screen and (min-width: 451px) {
	.corriente-movements-righ-mobile {
		display: none !important;
	}
}
@media screen and (min-width: 1280px) {
	.corriente-movements-left .buttons-actions-tablet {
		display: none;
	}
}
