
<!-- View: Detalle CtaCorrientes -->
<div id="secCtaCorriente" style="display: none;">
	<div class="cardbox-back">
		<a data-section="home" href="javascript:void(0)" class="cardbox-back-link">
			<i class="icon icon-arrow-left-blue"></i> <span>Volver a mi zona segura</span>
		</a>
	</div>
	<div class="cardbox-head">
		<div class="cardbox-head-left">			
			<div class="cardbox-head-title">
				<i class="icon icon-global"></i>
				Cuenta corriente
			</div>
			<div class="cardbox-head-subtitle">
				Cuenta en la que se encuentra el cash de libre disponibilidad. Se puede trasladar a la cuenta de trading o retirar.
			</div>
		</div>
		<div class="cardbox-head-right">
			<button id="btnShowAllCorrientes" data-section="secAllCorrientes" class="button button-pentary">Ver todas mis cuentas <i class="icon icon-arrow-w"></i>
			</button>
		</div>
	</div>

	<div class="cardbox-body ardbox-bg-skyblue">
		<div class="detail-corriente-main-header">
			<div class="detail-corrientes__header">
				<div class="cardbox-body-title">Cuenta corriente 1000000000</div>
				<div class="cardbox-body-subtitle">Portafolio 10000-1</div>
			</div>
			<div class="separador-vistaToggle">
				<div class="profile-viewer pos-viewer-corriente">
					<div class="viewer-img">
						<i class="icon viewer-icon"></i>
					</div>
					<div class="viewer-descript">Vista como titular</div>
				</div>
				<div class="toggle-switch-container corriente-toggle-witch" style="display: none">
					<button class="toggle-switch-button left-button active" id="dolares">
						Dólares
					</button>
					<button class="toggle-switch-button right-button" id="euros">Euros</button>
				</div>
			</div>
		</div>
		<div class="detail-corrientes-block">
			<div class="detail-corrientes-cards">
				<div class="corrientes-cards-title">USD $554,594.00</div>
				<div class="corrientes-cards-subtitle">Saldo contable en <span>USD</span></div>
			</div>
			<div class="detail-corrientes-cards">
				<div class="corrientes-cards-title">USD $554,594.00</div>
				<div class="corrientes-cards-subtitle">Saldo disponible en <span>USD</span></div>
			</div>
			<div class="detail-corrientes-cards">
				<div class="corrientes-cards-title">0.0</div>
				<div class="corrientes-cards-subtitle">
					Línea de sobregiro en <span>USD</span>
				</div>
			</div>
		</div>
	
		<div class="buttons-block-main">
			<div class="buttons-block-left">
				<button class="button button-primary">Realizar transferencia</button>
				<button class="button button-secondary">Estado de cuenta</button>
				
			</div>
			<div class="buttons-block-right buttons-actions-content">
				<button class="button button-actions buttons-desktop">
					<i class="icon icon-download"></i>
				</button>
				<button class="button button-actions buttons-desktop" data-modal="email">
					<i class="icon icon-mail"></i>
				</button>
				<button class="button button-actions buttons-desktop">
					<i class="icon icon-printer"></i>
				</button>

				<button class="button button-actions buttons-mobile" data-modal="email">
					<i class="icon icon-mail"></i> Enviar PDF
				</button>
				<button class="button button-actions buttons-mobile" data-modal="email">
					<i class="icon icon-mail"></i> Enviar Excel
				</button>
			</div>
		</div>
		<div class="corrientes-movements-title">
			Movimientos en <span>dólares (USD)</span>
		</div>
		<div class="corrientes-movements">
			<div class="corriente-movements-left">
				<div class="corrientes-movements--legend">Filtrar por</div>
				<div class="corrientes-movements--select">
					<div class="container-select-filter">
					    <select id="filterCorriente">
					    	<option value="1">Últimos 30 días</option>
							<option value="2">Últimos 60 días</option>
							<option value="3">Últimos 90 días</option>
							<option value="4">Personalizado</option>
					    </select>
					</div>
					<div class="buttons-actions-tablet">
						<button class="button button-actions" data-modal="email">
							<i class="icon icon-mail"></i> Enviar PDF
						</button>
						<button class="button button-actions" data-modal="email">
							<i class="icon icon-mail"></i> Enviar Excel
						</button>
					</div>
				</div>
			</div>
			<div id="corrienteCalendar" class="corriente-movements-right" style="display: none;">
				<div class="corriente-movements-right__from">
					<label class="corrientes-movements--legend" for="">Fecha inicial</label>
					  <input type="text" class="form-control icon-menu-agenda" name="datepicker" id="monthpicker1" placeholder="mm/yyyy" readonly>
				</div>
				<div class="corriente-movements-right__to">
					<label class="corrientes-movements--legend" for="">Fecha final</label>
					  <input type="text" class="form-control icon-menu-agenda" name="datepicker" id="monthpicker2" placeholder="mm/yyyy" readonly>
				</div>
				<div class="customize-button-calendar"><button class="button button-secondary">Buscar</button></div>
			</div>
		</div>
		<script type="x-tmpl-mustache" id="tmpCorrienteTable">
	        {{#datos}}
	            {{#mvtosCorriente}}
	                <tr data-date="{{idcorriente}}">
	                    <td class="t-a-l">
	                        <div class="corriente-motion-detail">
	                            <div class="corriente-motion-detail__date">{{fecha}}</div>
	                            <div class="corriente-motion-detail__description">{{descripción}}</div>
	                        </div>
	                    </td>
	                    {{#status}}
	                    <td>
	                        <div class="td-center-table corriente-status-success">
	                            <i class="icon icon-triangle-up"></i>
	                            <div class="corriente-monto">{{monto}}</div>
	                        </div>
	                    </td>
	                    {{/status}}

	                    {{^status}}
	                    <td>
	                        <div class="td-center-table corriente-status-error">
	                            <i class="icon icon-triangle-down"></i>
	                            <div class="corriente-monto">{{monto}}</div>
	                        </div>
	                    </td>
	                    {{/status}}
	                    <td class="t-a-r">
	                        <div class="corriente-saldo">{{saldo}}</div>
	                    </td>                           

	                </tr>
	            {{/mvtosCorriente}}
	        {{/datos}}
	    </script>
		<div id="corrienteTableDesktop">
			<table class="corriente-table">
				<thead>
					<tr>
						<th class="t-a-l">Descripción</th>
						<th class="t-a-r">Monto</th>
						<th class="t-a-r">Saldo</th>
					</tr>
				</thead>
				<tbody id="mustacheCorrienteTable">
				</tbody>
			</table>
		</div>
		<script type="x-tmpl-mustache" id="tmpCorrienteTableMobile">
	        {{#datos}}
	            {{#mvtosCorriente}}
	                   <div class="folding-mtable" data-date="{{idcorriente}}">
	                    <div class="tab-mtable">
	                      <input class="chekbox-mtable" type="checkbox" id="{{idcorriente}}" checked>
	                      <label class="tab-label-corriente" for="{{idcorriente}}">{{fecha}}</label>
	                      <div class="tab-content tab-content-top">
	                        {{descripción}}
	                      </div>
	                      {{#status}}
	                    <div class="tab-content tab-content-middle corriente-status-success">
	                        <div class="tab-content-middle-left">Monto</div>
	                        <div class="tab-content-middle-right"><i class="icon icon-triangle-up"></i>{{monto}}</div>
	                    </div>
	                    {{/status}}

	                    {{^status}}
	                    <div class="tab-content tab-content-middle corriente-status-error">
	                        <div class="tab-content-middle-left">Monto</div>
	                        <div class="tab-content-middle-right"><i class="icon icon-triangle-down"></i>{{monto}}</div>
	                    </div>
	                    {{/status}}
	                      <div class="tab-content tab-content-bottom">
	                        <div class="tab-content-bottom-left">Saldo</div>
	                        <div class="tab-content-bottom-right">{{saldo}}</div>
	                      </div>
	                      </div>
	                    </div>
	            {{/mvtosCorriente}}
	        {{/datos}}
	    </script>
		<div id="corrienteTableMobile" class="corriente-table-mobile">
			<div id="mustacheCorrienteMobile"></div>
		</div>
	</div>
</div>

<!-- View: Todos CtaCorrientes -->
<div id="secAllCorrientes" style="display: none;">
	<div class="cardbox-back">
		<a data-section="secCtaCorriente" href="javascript:void(0)" class="cardbox-back-link">
			<i class="icon icon-arrow-left-blue"></i> <span>Volver</span>
		</a>
	</div>

	<div class="cardbox-head">
		<div class="cardbox-head-left">			
			<div class="cardbox-head-title">
				<i class="icon icon-global"></i>
				Cuenta corriente
			</div>
			<div class="cardbox-head-subtitle">
				Cuenta en la que se encuentra el cash de libre disponibilidad. Se puede trasladar a la cuenta de trading o retirar.
			</div>
		</div>		
	</div>

	<div class="cardbox-body cardbox-bg-skyblue">

		<div class="content-corriente-header">
			<div class="profile-viewer pos-viewer">
				<div class="viewer-img">
					<i class="icon viewer-icon"></i>
				</div>
				<div class="viewer-descript">Vista como titular</div>
			</div>
			<div class="subtotal-header">
				<div class="saldo-corriente-text">Saldo Total</div>
				<div class="saldo-corriente-amount">USD $1,663,782.00</div>
			</div>
		</div>
		<div class="main-corriente-detail">
			<div class="corriente-detail-left">
				<div class="corriente-type">Portafolio</div>
				<div class="corriente-type-number">10000-1</div>
			</div>
			<div class="corriente-hr"></div>
			<div class="corriente-detail-middle">
				<div class="detail-middle-top">
					<div>Cuenta</div>
					<div class="divider-short"></div>
					<div>Dólares (USD)</div>
				</div>
				<div class="detail-middle-bottom_corriente">Nº 1000000000</div>
			</div>
			<div class="corriente-hr"></div>
			<div class="corriente-detail-right">
				<div class="detail-right-top">
					<label>
						<input
							type="checkbox"
							name="selectButton"
							class="select-button"
							id="selectButton"
							checked="checked"
						/>
						<span></span> </label
					>Saldo disponible
				</div>
				<div class="detail-right-bottom_corriente">USD $554,594.00</div>
			</div>
			<div class="corriente-arrow"  data-section="secCtaCorriente" data-corriente="1000000001">
				<i class="icon chevron-right"></i>
			</div>
		</div>
		<div class="main-corriente-detail">
			<div class="corriente-detail-left">
				<div class="corriente-type">Portafolio</div>
				<div class="corriente-type-number">10000-2</div>
			</div>
			<div class="corriente-hr"></div>
			<div class="corriente-detail-middle">
				<div class="detail-middle-top">
					<div>Cuenta</div>
					<div class="divider-short"></div>
					<div>Dólares (USD)</div>
				</div>
				<div class="detail-middle-bottom_corriente">Nº 1000000000</div>
			</div>
			<div class="corriente-hr"></div>
			<div class="corriente-detail-right">
				<div class="detail-right-top">
					<label>
						<input
							type="checkbox"
							name="selectButton"
							class="select-button"
							id="selectButton"
							checked="checked"
						/>
						<span></span> </label
					>Saldo disponible
				</div>
				<div class="detail-right-bottom_corriente">USD $554,594.00</div>
			</div>
			<div class="corriente-arrow" data-section="secCtaCorriente" data-corriente="1000000002">
				<i class="icon chevron-right"></i>
			</div>
		</div>
		<div class="main-corriente-detail">
			<div class="corriente-detail-left">
				<div class="corriente-type">Portafolio</div>
				<div class="corriente-type-number">10000-3</div>
			</div>
			<div class="corriente-hr"></div>
			<div class="corriente-detail-middle">
				<div class="detail-middle-top">
					<div>Cuenta</div>
					<div class="divider-short"></div>
					<div>Dólares (USD)</div>
				</div>
				<div class="detail-middle-bottom_corriente">Nº 1000000000</div>
			</div>
			<div class="corriente-hr"></div>
			<div class="corriente-detail-right">
				<div class="detail-right-top">
					<label>
						<input
							type="checkbox"
							name="selectButton"
							class="select-button"
							id="selectButton"
							checked="checked"
						/>
						<span></span> </label
					>Saldo disponible
				</div>
				<div class="detail-right-bottom_corriente">USD $554,594.00</div>
			</div>
			<div class="corriente-arrow" data-section="secCtaCorriente" data-corriente="1000000003">
				<i class="icon chevron-right"></i>
			</div>
		</div>
		<div class="main-corriente-detail">
			<div class="corriente-detail-left">
				<div class="corriente-type">Portafolio</div>
				<div class="corriente-type-number">10000-4</div>
			</div>
			<div class="corriente-hr"></div>
			<div class="corriente-detail-middle">
				<div class="detail-middle-top">
					<div>Cuenta</div>
					<div class="divider-short"></div>
					<div>Dólares (USD)</div>
				</div>
				<div class="detail-middle-bottom_corriente">Nº 1000000000</div>
			</div>
			<div class="corriente-hr"></div>
			<div class="corriente-detail-right">
				<div class="detail-right-top">
					<label>
						<input
							type="checkbox"
							name="selectButton"
							class="select-button"
							id="selectButton"
							checked="checked"
						/>
						<span></span> </label
					>Saldo disponible
				</div>
				<div class="detail-right-bottom_corriente">USD $554,594.00</div>
			</div>
			<div class="corriente-arrow" data-section="secCtaCorriente" data-corriente="1000000004">
				<i class="icon chevron-right"></i>
			</div>
		</div>
	</div>
</div>
