/*
 * Card Cuenta Corriente Desktop
 * @author JCarlosR
 */

#corrienteTableMobile {
	display: none;
}
#corrienteTableDesktop {
	display: block;
}

.main-card-corriente {
	margin-top: 0px;
	padding: 0;
}

/*#secCtaCorriente .cardbox-body {
	padding: 30px 32px;
}*/

.content-corriente-header {
	display: flex;
	justify-content: space-between;
	border-radius: 5px;
	border: 1px solid #92969a;
	height: 76px;
	margin-bottom: 24px;
}
.pos-viewer {
	position: relative !important;
	margin: auto 40px !important;
}
.pos-viewer-corriente {
	position: relative !important;
	margin-top: 0px !important;
	/* margin-right: 32px !important; */
}

.separador-vistaToggle {
	display: flex;
	gap: 32px;
}

.subtotal-header {
	display: flex;
	flex-direction: row;
	gap: 32px;
	margin: auto 15%;
}

.saldo-corriente-text {
	font: 18px var(--font-primary);
	color: #92969a;
}

.saldo-corriente-amount {
	font: 20px var(--font-primary-bold);
	color: var(--color-secondary);
}

.corriente-back-link:hover {
	color: var(--color-primary);
}
.corriente-back-link i {
	margin-right: 4px;
}
.corriente-back-link i:hover {
	fill: #041f68;
}
.corriente-back-link {
	color: var(--color-primary);
	font: 16px var(--font-primary-semibold);
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	width: 225px;
}
.corriente-back {
	padding: 12px 24px;
	background: #fff;
}
.corriente-title {
	background: linear-gradient(93.59deg, #02133e -225.28%, #2765f5 87.41%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	padding-right: 30px;
}
.corriente-title-left {
	display: flex;
}
.corriente-title-icon {
	/* padding: 20px; */
	display: flex;
}
.corriente-title-main {
	margin-left: 12px;
}
.corriente-title-primary {
	color: #ffffff;
	font: 24px var(--font-primary-bold);
	max-width: 216px;
	margin-bottom: 15px;
}
.corriente-title-secondary {
	color: #fff;
	font: 16px var(--font-primary);
	max-width: 620px;
}
.corriente-title-secondary em {
	font: var(--font-primary-bold);
}
.corriente-title-right .icon-arrow-w {
	margin-left: 16px;
}

.main-corriente-detail {
	border: 1px solid #92969a;
	margin-bottom: 16px;
	border-radius: 5px;
	display: flex;
	padding: 18px 0;
	justify-content: space-evenly;
	align-items: center;
	height: 80px;
}
.corriente-detail-left {
	text-align: center;
	min-width: 100px;
}
.corriente-type {
	font: 14px var(--font-primary);
	color: #7a7d80;
	line-height: 18px;
}
.corriente-type-number {
	font: 18px var(--font-primary-bold);
	color: #464748;
	line-height: 20px;
	/* margin-bottom: 5px; */
}
.corriente-hr {
	width: 2px;
	height: 55px;
	background: #e5e5e5;
}
.corriente-detail-middle {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.detail-middle-top {
	display: flex;
	/* margin-bottom: 5px; */
}
.corriente-detail-middle .detail-middle-top > div:first-child {
	font: 14px var(--font-primary);
	color: #7a7d80;
}
.detail-middle-top > div {
	font: 14px var(--font-primary-bold);
	color: #233e99;
}
.corriente-detail-middle .divider-short {
	width: 2px;
	background: #92969a;
	margin: 0 8px;
}

.detail-middle-bottom_corriente {
	font: 18px var(--font-primary-bold);
	color: #464748;
	line-height: 20px;
}
.detail-right-top {
	font: 14px var(--font-primary);
	color: #7a7d80;
	line-height: 18px;
	/* margin-bottom: 5px; */
}
.detail-right-bottom_corriente {
	font: 18px var(--font-primary-bold);
	color: #233e99;
	line-height: 20px;
}
.select-button {
	width: 16px;
	height: 16px;
	margin-right: 6px !important;
}

.corriente-arrow {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.detail-corrientes-block {
	display: flex;
	flex-direction: row;
	gap: 2px;
}
.detail-corrientes-cards {
	background: #f2f4f8;
	padding: 15px 0;
	margin: auto;
	width: calc(100% / 3);
}
.corrientes-cards-title {
	color: var(--color-secondary);
	font: 20px var(--font-primary-bold);
	line-height: 20px;
	text-align: center;
	margin-bottom: 6px;
}
.corrientes-cards-subtitle {
	color: #494b4e;
	font: 16px var(--font-primary-medium);
	line-height: 20px;
	text-align: center;
}
.corrientes-cards-subtitle span {
	font: 16px var(--font-primary-bold);
}
.corrientes-movements {
	margin: 0 0 24px;
	display: flex;
	flex-direction: row;
	column-gap: 64px;
}
.corrientes-movements-title {
	font: 18px var(--font-primary-medium);
	color: #494b4e;
	margin: 0;
	margin-bottom: 16px;
}
.corrientes-movements-title > span {
	font: 18px var(--font-primary-semibold);
	color: #233e99;
}
.corrientes-movements--legend {
	margin-bottom: 4px;
	font: 12px var(--font-primary-bold);
	color: #191a1b;
}
.corriente-select {
	width: 251px;
	font: 14px var(--font-primary);
	/* padding: 12px; */
	border: solid 1px #aaaeb3;
	color: #191a1b;
	height: 40px !important;
}
.corriente-select option {
	border-radius: 0;
	padding: 8px;
}

.detail-corriente-main-header {
	display: flex;
	margin-bottom: 24px;
	justify-content: space-between;
}
.detail-corrientes__header--title {
	font: 24px var(--font-primary-semibold);
	color: var(--color-secondary);
	line-height: 30px;
}

.detail-corrientes__header--subtitle {
	font: 18px var(--font-primary-medium);
	color: #494b4e;
	line-height: 30px;
}

.corriente-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 0;
}
.corriente-table th {
	padding: 12px 16px;
	background: #dde1e6;
	font: 14px var(--font-primary-semibold);
	color: var(--color-gray-bold);
}
.corriente-table tr {
	border-bottom: 1px solid #dde1e6;
}
.corriente-table tr:last-child {
	border-bottom: 0;
}
.corriente-table td {
	background: #f2f4f8;
}
.corriente-table td:nth-child(2) {
	vertical-align: middle;
	font: 14px var(--font-primary-medium);
	/* color: #6A6A6C; */
	align-items: center;
}
.corriente-table td:last-child {
	font: 14px var(--font-primary);
	color: #494b4e;
	padding-right: 16px;
	vertical-align: middle;
}
#mustacheCorrienteTable tr td {
	width: 25%;
}

#mustacheCorrienteTable tr td:first-child {
	width: 50%;
}
.td-center-table {
	display: flex;
	margin-right: 16px;
	justify-content: end;
}
.corriente-motion-detail {
	margin: 12px 16px;
	display: grid;
	grid-gap: 4px;
}
.corriente-motion-detail__date {
	font: 14px var(--font-primary-bold);
	color: #6a6a6c;
}
.corriente-motion-detail__description {
	font: 14px var(--font-primary);
	color: #7b7c7e;
	line-height: 20px;
}

/* .td-center-table{
  font: 14px var(--font-primary-medium);
  color: #6A6A6C;
  align-items: center;
} */

.corriente-status-success {
	color: #48a17e;
}
.corriente-status-error {
	color: #c73723;
}
.td-center-table i {
	margin-top: 2px;
	margin-right: 16px;
	transform: scale(1.5);
}

.corriente-movements-right {
	display: flex;
	flex-direction: row;
	column-gap: 4px;
	align-items: flex-end;
}
.corriente-movements-right__from {
	display: flex;
	flex-direction: column;
	width: 140px;
	font: 14px var(--font-primary);
}
.corriente-movements-right__from input {
	padding: 8px 12px;
	border: 1px solid #aaaeb3;
	height: 40px !important;
	cursor: pointer;
}
.corriente-movements-right__from input:focus {
	border: 1px solid var(--color-primary);
}
.corriente-movements-right__to {
	display: flex;
	flex-direction: column;
	width: 140px;
	font: 14px var(--font-primary);
}
.corriente-movements-right__to input {
	padding: 8px 12px;
	border: 1px solid #aaaeb3;
	height: 40px !important;
	cursor: pointer;
}
.corriente-movements-right__to input:focus {
	border: 1px solid var(--color-primary);
}
.form-control::placeholder {
	font: 14px var(--font-primary);
	color: #191a1b;
	text-align: left;
}

.form-control.icon-menu-agenda {
	width: inherit;
	background-repeat: no-repeat;
	background-position: 96%;
}

.customize-button-calendar button {
	width: 260px;
	height: 40px;
	margin-left: 20px;
}

.toggle-switch-container {
	width: 177px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 0;
	padding: 4px;
	background-color: white;
	box-shadow: 0 0 0 1px #aaaeb3;
	max-height: 40px;
}

.toggle-switch-button {
	padding: 8px 20px;
	font: 14px var(--font-primary);
	text-align: center;
	background-color: white;
	border: none;
}

.active.toggle-switch-button {
	background-color: #2765f5;
	color: white;
}
