<div class="skeleton">
	<div class="skeleton-rect skeleton-h-10 skeleton-w-40"></div>
	<div class="skeleton-break skeleton-h-20"></div>
	<div class="skeleton-rect skeleton-h-10 skeleton-w-40"></div>
	<div class="skeleton-break skeleton-h-50"></div>
	<div class="skeleton-center">										
		<div class="skeleton-rect skeleton-h-20 skeleton-w-80"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-80"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-90"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-90"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-90"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-90"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-90"></div>
	</div>
</div>

<div class="card-portafolios" >

	<div class="portafolio-title">Mi Patrimonio</div>
	<div class="inteligo-tabs-main">
		<div class="inteligo-portfolio-risk">
			<div class="portfolio-selector">
				<span>Seleccione su portafolio</span>
				<div class="container-select">
				    <select id="selPortfolios"></select>
				</div>
			</div>
			<div class="portfolio-right">
				<div class="type-risk-content">

					<!-- Casuística : Perfil de Riesgo -->
					<div id="profileRiesgo" class="type-risk" style="display: none;">
						<div class="risk-label">
							<div><span class="label--alert-normal">Perfil de riesgo</span></div>
							<div class="help-tooltip tooltip-black">
								<div class="bottom-black">
									<p>A risk profile is an evaluation of an individual's willingness and ability to take risks.</p>
									<i></i>
								</div>
								<i class="icon icon-help-s"></i>
							</div>
						</div>
						<div class="type-risk-name"> Moderado</div>
					</div>	

					<!-- Casuística : Sin Perfil de Riesgo -->
					<div id="profileSinRiesgo" class="type-risk" style="display: none;">
						<div class="risk-label">
							<div><span class="label--alert-warning">Sin perfil de riesgo</span></div>
							<div class="help-tooltip tooltip-black">
								<div class="bottom-black">
									<p>A risk profile is an evaluation of an individual's willingness and ability to take risks.</p>
									<i></i>
								</div>
								<i class="icon icon-help-red"></i>
							</div>
						</div>
						<div class="alerta-perfil--sinperfil">Conozca su perfil <a class="alerta-perfil-link" href="#">aquí</a></div>
					</div>

					<!-- Casuística : Perfil desactualizada -->
					<div id="profileTypeDesactualizado" class="type-risk" >
						<div class="risk-label">
							<div><span class="label--alert-warning">Perfil desactualizado</span></div>
							<div class="help-tooltip tooltip-black">
								<div class="bottom-black">
									<p>A risk profile is an evaluation of an individual's willingness and ability to take risks.</p>
									<i></i>
								</div>
								<i class="icon icon-help-red"></i>
							</div>
						</div>
						<div class="type-risk-name"> Moderado</div>
						<div class="alerta-perfil">Actualizar perfil <a class="alerta-perfil-link" href="#">aquí</a></div>
					</div>
				</div>
			
				<div class="profile-viewer">
					<div class="viewer-img">
						<i class="icon viewer-icon"></i>
					</div>
					<div class="viewer-descript">Vista como titular</div>
				</div>
			</div>
		</div>
		<div id="loadContentTabs" class="inteligo-tabs">
			<div class="inteligo-tab inteligo-tab-active " data-tab="tab-one-portafolios">1. Resumen</div>
			<div class="inteligo-tab " data-tab="tab-two-portafolios">2. Rentabilidad <span>mensual</span></div>
			<div class="inteligo-tab " data-tab="tab-three-portafolios">3. Evolución <span>histórica</span></div>
		</div>
		<div class="inteligo-tabs-content">
			<div data-tab-id="tab-one-portafolios" class="card-portafolios-tab">
				<div class="card-portafolios-content ovrf-vsbl">
					<div class="card-portafolios-header">
						<div class="container-radios card-portafolios-filter">
							<label class="container-radio m-r-20" for="resumen-clase">
				    			<input  type="radio" value="resumen-clase" id="resumen-clase" name="resumen-filtro" checked>
				   				<span class="checkmark"></span>
				    			<label for="resumen-clase" class="container-radio-text">Por clase de activo</label>
				    		</label>
				    		<label class="container-radio " for="resumen-tipo">
				    			<input  type="radio" value="resumen-tipo" id="resumen-tipo" name="resumen-filtro" checked>
				   				<span class="checkmark"></span>
				    			<label for="resumen-tipo" class="container-radio-text">Por tipo de producto</label>
				    		</label>
						</div>
					
                        <div class="currency-and-tools">
                        	<div class="currency-label">Moneda en <strong>USD</strong></div>

                        	<!-- Nueva estructura de Personalizar -->
                        	<div class="personalizar">
                        		<!-- <div id="btnPersonalizar" class="button-personalizar">
                        			<i class="icon icon-config-b"></i>Personalizar
                        		</div> -->

                        		<div class="personalizar-main">
                        			<div class="personalizar-title">Seleccionados <span id="counterPersonalizar"></span> de 3.</div>
                        			<i id="btnClosePersonalize" class="personalizar-close icon icon-close"></i>
                        			<!-- Aqui se pinta todos los checkbox -->
                        			<div id="mustachePersonalizar" class="personalizar-content"></div>
                        			<div class="personalizar-buttons">
                        				<button id="btnPersoDeseleccionar" class="button-terciary button-deseleccionar">Deseleccionar todo</button>
                        				<button id="btnPersoAplicar"  class="button-primary button-aplicar">Aplicar</button>
                        			</div>
                        		</div>
                        		
                        		<script  type="x-tmpl-mustache" id="tmpPersonalizar">
                        			{{#datos}}
	                        			{{#personalizar}}
									    <div class="container-checkbox">                        				
	                        				
	                        				{{#checked}}<input checked="true"  type="checkbox" id="personalizar-{{idpersonalizar}}" name="personalizar">{{/checked}}

	                        				{{^checked}}<input disabled type="checkbox" id="personalizar-{{idpersonalizar}}" name="personalizar">{{/checked}}

	                        				<label for="personalizar-{{idpersonalizar}}" class="checkmark">{{namepersonalizar}}</label>
	                        			</div>
	                        			{{/personalizar}}
                        			{{/datos}}
								</script>
                        	</div>
                        	<!-- end Personalizar -->
                        </div>
					</div>
					<div class="card-portafolios-body">
						<div class="card-portafolios-body-table">
							
							<div id="tblDetPosicionActivoDesktop" class="card-portafolios-table">
								<table class="inteligo-table">
									<thead class="inteligo-table-thead">
								        <tr class="inteligo-table-thead-tr">
								            <th class="inteligo-table-thead-th headcol">Nombre</th>
								            <th class="inteligo-table-thead-th">Monto invertido</th>
								            <!-- <th class="inteligo-table-thead-th">Ganancia/Pérdida</th>
								            <th class="inteligo-table-thead-th">
								            	<div class="tooltip-main" data-tooltip-positionx="right" data-tooltip-positiony="bottom">
								            		<div class="tooltip-main-text">Interés acumulado</div>
									            	<div class="tooltip-main-content" >
														<i class="icon icon-info-4"></i>
														<div class="tooltip-main-info">
															<div class="tooltip-main-list">
																<div class="tooltip-main-list-dot">
																	Son los intereses generados a la fecha por algunas de sus inversiones. Aunque ya son parte de su portafolio, se abonarán en su Cuenta Trading hasta la siguiente fecha de distribución o su vencimiento.
																</div>
															</div>
														</div>
													</div>
								            	</div>		            	
								        	</th> -->
								            <th class="inteligo-table-thead-th">
								            	<div class="tooltip-main" data-tooltip-positionx="right" data-tooltip-positiony="bottom"  data-tooltip-size="small">
								            		<div class="tooltip-main-text">Valor actual</div>
									            	<div class="tooltip-main-content" >
														<i class="icon icon-info-4"></i>
														<div class="tooltip-main-info">
															<div class="tooltip-main-title">El Valor actual es igual a:</div>
															<div class="tooltip-main-list">
																<div class="tooltip-main-list-dot">
																	Este valor es igual al monto de sus inversiones a valor de mercado más 
																	los intereses pendientes de distribuir a la fecha, en caso los tuviera.
																</div>
																
															</div>
														</div>
													</div>
								            	</div>	
								            </th>
								        </tr>
								    </thead>
									<tbody class="inteligo-table-tbody">
										
										<tr class="inteligo-table-tbody-tr">
											<td class="inteligo-table-tbody-td-blue headcol">
												<div class="tooltip-main tooltip-main-left" data-tooltip-positionx="left" data-tooltip-positiony="bottom"  >
								            		<div class="tooltip-main-text link-table-blue"><i>Cash</i> y equivalentes</div>
									            	<div class="tooltip-main-content" >
														<i class="icon icon-info-3"></i>
														<div class="tooltip-main-info">
															<div class="tooltip-main-title"><strong>Cash y equivalentes: <span>USD 412,729.84</span></strong></div>
															<div class="tooltip-main-list">
																<div class="tooltip-main-list-dot">
																	Cuenta Corriente :  <span>USD 923.05</span>
																</div>
																<div class="tooltip-main-list-dot">
																	Cuenta Trading : <span>USD 10,899.13</span>
																</div>
																<div class="tooltip-main-list-dot">
																	Productos Estructurados : <span>USD 400,000.00</span>
																</div>
																<div class="tooltip-main-list-dot">
																	Depósitos : <span>0.00</span>
																</div>
															</div>
														</div>
													</div>
								            	</div>	
											</td>
											<td class="inteligo-table-tbody-td">401,822.00</td>
											<!-- <td class="inteligo-table-tbody-td"><em class="td-green">0.00</em></td>
											<td class="inteligo-table-tbody-td">916.67</td> -->
											<td class="inteligo-table-tbody-td"><em class="td-black">412,729.84</em></td>
										</tr>
										<tr class="inteligo-table-tbody-tr">
											<td class="inteligo-table-tbody-td-blue headcol"><a class="link-table-blue" href="#">Renta fija</a></td>
											<td class="inteligo-table-tbody-td">1,091,922.29</td>
											<!-- <td class="inteligo-table-tbody-td"><em class="td-red-arrow">-118.550.43</em></td>
											<td class="inteligo-table-tbody-td">5,704.86</td> -->
											<td class="inteligo-table-tbody-td"><em class="td-black">979,076.72</em></td>
										</tr>
								
										<tr class="inteligo-table-tbody-tr">
											<td class="inteligo-table-tbody-td-blue headcol"><a class="link-table-blue" href="#">Renta variable</a></td>
											<td class="inteligo-table-tbody-td">515,708.91</td>
											<!-- <td class="inteligo-table-tbody-td"><em class="td-red-arrow">-115,464.10</em></td>
											<td class="inteligo-table-tbody-td">-</td> -->
											<td class="inteligo-table-tbody-td"><em class="td-black">400,244.81</em></td>
										</tr>

										<tr class="inteligo-table-tbody-tr">
											<td class="inteligo-table-tbody-td-blue headcol"><a class="link-table-blue" href="#">Renta alternativa</a></td>
											<td class="inteligo-table-tbody-td">252,500.00</td>
											<!-- <td class="inteligo-table-tbody-td"><em class="td-red-arrow">-115,464.10</em></td>
											<td class="inteligo-table-tbody-td">-</td> -->
											<td class="inteligo-table-tbody-td"><em class="td-black">193,169.24</em></td>
										</tr>
									
									</tbody>
								    <tfoot class="inteligo-table-tfoot">
									    <tr class="inteligo-table-tfoot-tr">
											<td class="inteligo-table-tfoot-td headcol">Total</td>
											<td class="inteligo-table-tfoot-td">2,261,953.55</td>
											<!-- <td class="inteligo-table-tfoot-td">-293,345.20</td>
											<td class="inteligo-table-tfoot-td">6,621.53</td> -->
											<td class="inteligo-table-tfoot-td">1,984,306.57</td>
								    	</tr>
								  	</tfoot>
								</table>
							</div>

							<div id="tblDetPosicionActivoMobile">
								<div class="mob-card-portafolio mob-card-portafolio-main">
									<table class="mob-portafolio-table ">
										<thead class="mob-portafolio-thead">
											<tr>
												<td>Descripción</td>
												<td>Monto</td>
											</tr>
										</thead>
										<tbody class="mob-portafolio-tbody">
											<tr>
												<td>Monto invertido</td>
												<td>2,261,953.55</td>
											</tr>
											<tr>
												<td>Ganancia/Perdida</td>
												<td><em class="td-red-arrow">-293,345.20</em></td>
											</tr>
											<tr>
												<td>Interés acumulado</td>
												<td>6,621.53</td>
											</tr>
										</tbody>
										<tfoot class="mob-portafolio-tfoot">
											<tr>
												<td>
													<div class="tooltip-main flex-start" data-tooltip-positionx="left" data-tooltip-positiony="top" data-tooltip-size="small">
										            	<div class="tooltip-main-content" >
															<i class="icon icon-info-4 m-l-0 m-r-5"></i>
															<div class="tooltip-main-info">
																<div class="tooltip-main-title">El Valor actual es igual a:</div>
																<div class="tooltip-main-list">
																	<div class="tooltip-main-list-dot">Monto invertido + Ganancia/Pérdida + Interés acumulado 
																	</div>
																</div>
															</div>
														</div>
														<em class="td-black">Valor actual</em>
									            	</div>
												</td>
												<td><em class="td-black">1,984,306.57</em></td>
											</tr>
										</tfoot>
									</table>
								</div>



								<div class="mob-card-portafolio">
									<table class="mob-portafolio-table disabled">
										<thead class="mob-portafolio-thead">
											<tr>
												<td colspan="2" class="mob-portafolio-arrow">Cash y Equivalentes <i class="icon icon-arrow icon-arrow-up"></i></td>
											</tr>
										</thead>
										<tbody class="mob-portafolio-tbody">
											<tr>
												<td>Monto invertido</td>
												<td>$1,002,000.03</td>
											</tr>
											<tr>
												<td>Ganancia/Pérdida</td>
												<td><em class="td-green">0.00</em></td>
											</tr>
											<tr>
												<td>Interés acumulado</td>
												<td>916.67</td>
											</tr>
											<tr>
												<td>
													<div class="tooltip-main flex-start" data-tooltip-positionx="left" data-tooltip-positiony="top" >
										            	<div class="tooltip-main-content" >
															<i class="icon icon-info-4 m-l-0 m-r-5"></i>
															<div class="tooltip-main-info">
																<div class="tooltip-main-title"><strong>Cash y equivalentes: <span>USD 412,729.84</span></strong></div>
																<div class="tooltip-main-list">
																	<div class="tooltip-main-list-dot">
																		Cuenta Corriente :  <span>USD 923.05</span>
																	</div>
																	<div class="tooltip-main-list-dot">
																		Cuenta Trading : <span>USD 10,899.13</span>
																	</div>
																	<div class="tooltip-main-list-dot">
																		Productos Estructurados : <span>USD 400,000.00</span>
																	</div>
																	<div class="tooltip-main-list-dot">
																		Depósitos : <span>0.00</span>
																	</div>
																</div>
															</div>
														</div>
														<em class="td-black">Valor actual</em>
									            	</div>
												</td>
												<td><em class="td-black">411,815.80</em></td>
											</tr>
										</tbody>										
									</table>
								</div>
								<div class="mob-card-portafolio">
									<table class="mob-portafolio-table disabled">
										<thead class="mob-portafolio-thead">
											<tr>
												<td colspan="2" class="mob-portafolio-arrow">Renta fija <i class="icon icon-arrow icon-arrow-up"></i></td>
											</tr>
										</thead>
										<tbody class="mob-portafolio-tbody">
											<tr>
												<td>Monto invertido</td>
												<td>$1,002,000.03</td>
											</tr>
											<tr>
												<td>Ganancia/Pérdida</td>
												<td><em class="td-red-arrow">-115,464.10</em></td>
											</tr>
											<tr>
												<td>Interés acumulado</td>
												<td>916.67</td>
											</tr>
											<tr>
												<td><em class="td-black">Valor actual</em></td>
												<td><em class="td-black">411,815.80</em></td>
											</tr>
										</tbody>										
									</table>
								</div>
								<div class="mob-card-portafolio">
									<table class="mob-portafolio-table disabled">
										<thead class="mob-portafolio-thead">
											<tr>
												<td colspan="2" class="mob-portafolio-arrow">Renta variable <i class="icon icon-arrow icon-arrow-up"></i></td>
											</tr>
										</thead>
										<tbody class="mob-portafolio-tbody">
											<tr>
												<td>Monto invertido</td>
												<td>$1,002,000.03</td>
											</tr>
											<tr>
												<td>Ganancia/Pérdida</td>
												<td><em class="td-green">0.00</em></td>
											</tr>
											<tr>
												<td>Interés acumulado</td>
												<td>916.67</td>
											</tr>
											<tr>
												<td><em class="td-black">Valor actual</em></td>
												<td><em class="td-black">411,815.80</em></td>
											</tr>
										</tbody>										
									</table>
								</div>
								<div class="mob-card-portafolio">
									<table class="mob-portafolio-table disabled">
										<thead class="mob-portafolio-thead">
											<tr>
												<td colspan="2" class="mob-portafolio-arrow">Renta alternativa <i class="icon icon-arrow icon-arrow-up"></i></td>
											</tr>
										</thead>
										<tbody class="mob-portafolio-tbody">
											<tr>
												<td>Monto invertido</td>
												<td>$1,002,000.03</td>
											</tr>
											<tr>
												<td>Ganancia/Pérdida</td>
												<td><em class="td-green">0.00</em></td>
											</tr>
											<tr>
												<td>Interés acumulado</td>
												<td>916.67</td>
											</tr>
											<tr>
												<td><em class="td-black">Valor actual</em></td>
												<td><em class="td-black">411,815.80</em></td>
											</tr>
										</tbody>										
									</table>
								</div>
								

							
							</div>

							<div class="m-t-20 card-portafolios-footer">
								<button class="button button-primary">Ir al calendario de pagos </button>
								<button class="button button-secondary m-l-20">									
									<div class="tooltip-main" data-tooltip-positionx="right" data-tooltip-positiony="top" >
					            		<div class="tooltip-main-button">Ir a detalle de posición <i class="icon icon-arrow-white m-l-10"></i></div>
						            	<div class="tooltip-main-content" >
											<div class="tooltip-main-info">
												<div class="tooltip-main-list">
													<div class="tooltip-main-list-dot">
														Aquí encontrará el detalle de los productos en los que ha invertido.
													</div>
												</div>
											</div>
										</div>
					            	</div>

								</button>
							</div>
							
						</div>					

					</div>
				</div>

			</div>

			<div data-tab-id="tab-two-portafolios" class="card-portafolios-tab" style="display: none">
				<div class="card-portafolios-content">
					<div class="card-portafolios-body">
						

						<div class="card-portafolios-chart">
							<div id="chartPortafolio1" class="chart-portafolio" style="padding-top: 10px;"></div>

							<div class="portafolio-rentabilidad">
					            <div class="portafolio-rentabilidad-table">
					                <div class="portafolio-rentabilidad-col" >
					                    <div class="portafolio-rentabilidad-module">Rentabilidad</div>
					                </div>

					                <div class="portafolio-rentabilidad-col">
					                    <div class="portafolio-rentabilidad-module">YTD</div>
					                    <div class="portafolio-rentabilidad-value"><i class="icon icon-arrow-green"></i>26.49%</div>
					                </div>
					                
					                <div class="portafolio-rentabilidad-col">
					                    <div class="portafolio-rentabilidad-module">Mes en curso</div>
					                    <div class="portafolio-rentabilidad-value"><i class="icon icon-arrow-red"></i>9.21%</div>
					                </div>

					                <div class="portafolio-rentabilidad-col portafolio-rentabilidad-detail">
					                    <div class="portafolio-rentabilidad-module">Ver detalle <i class="icon icon-arrow-sky"></i></div>
					                </div>
					            </div>
					        </div>
					        
						</div>




					</div>
				</div>
			</div>

			<div data-tab-id="tab-three-portafolios" class="card-portafolios-tab" style="display: none">
				<div class="card-portafolios-content  ">
					<div id="EvolHistorica" class="chart-patrimonio" ></div>
				</div>
			</div>

		</div>	
	</div>
	
</div>


