/*
 * Card Portafolio Mobile
 * @author mfyance
 */

@import url("portafolio-desktop.css");


@media screen and (max-width: 1279px) {
    .card-portafolios-filter{
        width: 100%;
    }

    .currency-and-tools .currency-label{
        padding-left: 0;
        padding-top: 0
    }

    html.inteligo-personalizar.open,
    html.inteligo-personalizar.open body{
        height: 100vh;
        overflow: hidden;
    }
    .inteligo-personalizar.open .inteligo-backdrop{
        display: flex;
        z-index: 2;
    }

    .personalizar-title{
        margin-bottom: 24px;
        font: 18px var(--font-primary-medium);
        margin-top: 16px;
    }
    .personalizar-buttons{
        justify-content: space-between;
    }

    .button-deseleccionar {
        width: 64%;
    }
    .button-aplicar {
        width: 34%;
    }

    .personalizar-close{
        display: flex;
    }
    
    .inteligo-mobile .personalizar-content{
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: calc(100vh - 200px);
    }
    .inteligo-personalizar .personalizar-main{
        position: fixed;
        z-index: 9999;
        opacity: 1;
        transform: translateY(700px);
        bottom: 0;
        right: 0;
        top: inherit;
        width: 100%;
        transition: all .3s ease
    }
    .inteligo-personalizar.open .personalizar-main{
        transform: translateY(0px);
    }
    .mob-portafolio-table.disabled .mob-portafolio-tbody{
        display: none;
    }
    .disabled .mob-portafolio-arrow .icon{
        transform: rotate(45deg);
        top: 14px;
    }
    .mob-portafolio-arrow .icon{
        position: absolute;
        top: calc(50% - 2px);
        right: 16px;
        border-color: var(--color-primary);
        transition: all .3s ease;
        border-width: 0 2px 2px 0;
    }
    .mob-portafolio-thead td strong{
        font-family: var(--font-primary-semibold);
    }
    .mob-portafolio-arrow{
        cursor: pointer;
        position: relative
    }
    
    .mob-portafolio-link:hover{
        color: var(--color-secondary);        
    }
    .mob-portafolio-link{
        font: 16px var(--font-primary-semibold);
        color: var(--color-primary);
        transition: all .3s ease;
        border-bottom: 1px solid var(--color-primary)
    }

    .mob-portafolio-status[data-status="positivo"]:after{
        content: "";
        width: 0;
        height: 0;
        border-bottom: 7px solid #48A17E;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 4px;
    }
    .mob-portafolio-status[data-status="positivo"]{
        color: #48A17E;
        position: relative;
        padding-left: 20px;
    }
    .mob-portafolio-status[data-status="negativo"]:after{
        content: "";
        width: 0;
        height: 0;
        border-top: 7px solid #c73723;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 4px;
    }
    .mob-portafolio-status[data-status="negativo"]{
        color: #C73723;
        position: relative;
        padding-left: 20px;
    }

/*
    #tblDetPosicionActivoMobile{
        display: block !important;
    }
    #tblDetPosicionActivoDesktop{
        display: none !important;
    }*/

    .card-portafolios-header{
    display: flex;
    flex-direction: column;
    }
    
    .tab-table{
    width: 100%;
    }
    .currency-and-tools{
    margin-top: 0px;
    display: flex;
    justify-content:flex-end;
    width: 100%;
    }

  
}

@media screen and (max-width: 1023px){
     #tblDetPosicionActivoMobile{
        display: block !important;
    }
    #tblDetPosicionActivoDesktop{
        display: none !important;
    }
}


@media screen and (max-width: 700px){
    .profile-viewer {
        top: inherit;
        width: 100%;
    }
}
@media screen and (max-width: 690px){
    .inteligo-portfolio-risk{
        display: flex;
        flex-direction: column;
    }
    .portfolio-selector{
        width: 100%;
        max-width:  100%
    }
    .type-risk-content{
        margin-left: 15px;margin-bottom: 20px;
    }
    .profile-viewer {
        top: inherit;
        width: 100%;
        position: relative;
        right: inherit;
        margin-bottom: 10px;margin-top: 0;
    }
    .portfolio-right{
        flex-direction: column;
    }
}
@media screen and (max-width: 670px){
    .card-portafolios-body-table{
        padding-bottom: 0;
    }
    .currency-and-tools{
        justify-content: flex-end;
    }
    .card-portafolios-footer p{
        font-size: 16px;
    }
    .card-portafolios-footer button{
        margin-top: 0px;
        width: 100%;
        margin-left: 0
    }
    .card-portafolios-footer{
        justify-content: inherit;
        flex-direction: column-reverse;
        gap: 8px;
    }
   
    .personalizar-buttons{
        padding-top: 24px;
    }
    .portafolio-rentabilidad-table {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
    }
    .portafolio-rentabilidad-col {
        width: 100% !important;
    }
    .portafolio-rentabilidad-col:first-child {
        grid-column: 1 / span 2;
        grid-row: 1;
        border-bottom: 0px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .portafolio-rentabilidad-col:last-child {
        grid-column: 1 / span 2;
        grid-row: 3;
        margin-top: 20px;
        border: 1px solid var(--color-blue-medium);
    }
    .brd-r-0{
        border-right: 0px;
    }
}


@media screen and (max-width: 600px){
   

    .card-portafolios{
        margin-top: 10px
    }
    .icon-help-s{
        margin-left: 3px
    }
    .icon-help-red{
        transform: scale(1.3);
        margin-left: 3px
    }
    .type-risk .type-risk-name{
        font-size: 20px !important;
    }
    .risk-label span,
    .portfolio-selector span{
        font-size: 14px;
    }
    .type-risk{
        margin-top: 0px;
    }

   
    .separator-portfolio{
        display: none;
    }
    .portfolio-selector{
        max-width: 100%;
    }
    
}

@media screen and (max-width: 440px) {
    .currency-and-tools .currency-label {
        padding: 11px 5px;
    }
    .inteligo-portfolio-risk {
        flex-direction: column;
    }
    .separator-portfolio {
        display: none;
    }
    .card-portafolios-header {
        flex-direction: column;
        /* padding-right: 15px; */
    }
    .tab-table {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 100%;
        margin-left: 0px;
    }
  
    .currency-and-tools {
        padding-top: 0px;
        margin-top: 0px;
        justify-content: flex-end;
        width: 100%;
        padding-right: 0px;
    }
    .currency-and-tools .currency-label{
        font-size: 16px !important;
    }
  
   
    .risk-label .label--alert-normal{
        font: 14px var(--font-primary-semibold);
    }
    .risk-label .label--alert-warning{
        font: 14px var(--font-primary-semibold);
    }
    .card-portafolios-body-table {
        padding: 10px 0px 10px 0px;
    }
    .card-portafolios-body-table{
        padding-bottom: 0;
    }

   
}

@media screen and (max-width: 425px) {
    .card-portafolios-header{
        align-items: flex-start;
    }
    .tab-table button{
        font-size: 13px;
    }
    .portafolio-rentabilidad-col{
        width: 100% !important;
    }
    .portafolio-rentabilidad-col:nth-child(2){
        border-bottom: none;
    }
    .portafolio-rentabilidad-table{
        display: flex;
        flex-direction: column;
    }
    .dd-input-cardportf:checked+.dd-menu-cardportf {
        width: 100vw;
        right: 0px;
        display: block;
        position: fixed;
        bottom: 0;
        top: 39%;
        top: calc(100vh - 404px);
        }
    
    .panel-checkbox {
        display: block;
        width: 100%;
        overflow-y: scroll;
        height: 250px;
    }
    
    .panel-b {
        padding: 0px 20px 0 0;
    }
    .panel-c {
        padding: 0px 20px 0 0;
    }
    .panel-d {
        padding-top: 0px;
    }

}
