.broken-service-content{
	text-align: center;
}
.broken-service{
	z-index: 3;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 15px;
	display: flex;
	overflow: hidden;
	width: 100%;
	background-color: #fff;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}
.broken-service-img{
	
}
.broken-service-img i{
	
}
.broken-service-title{
	font: 14px var(--font-primary);
	color: #000000;
	margin: 10px 0;
}

.broken-button{
	margin: 0 auto;
}