/*
 * Button actions
 * @author mfyance
 */
.button-actions {
	background: var(--color-secondary);
	width: 42px;
	min-width: 42px;
	max-width: 42px;
	font: 14px var(--font-primary-medium);
	color: #fff;
	display: flex;
	gap: 8px;
}
.button-actions:not(.disabled):not([disabled]):hover {
	background: var(--color-secondary-hover);
}
.buttons-actions-content .button-actions {
	width: calc(100% / 3) !important;
	min-width: inherit;
	max-width: inherit;
}
.buttons-actions-mobile {
	display: none;
}
.buttons-block-left {
	display: flex;
	gap: 24px;
	width: 100%;
	max-width: 500px;
}
.buttons-block-right {
	display: flex;
	gap: 4px;
}
.buttons-block-main .button {
	width: 100%;
}
.buttons-block-main {
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
	margin-top: 24px;
}
.buttons-block-main .button-actions.buttons-mobile{
	display: none;
}
.buttons-actions-tablet .button-actions{
	width: auto;
    min-width: auto;
    max-width: initial;
    background: var(--color-secondary-active);
}
.buttons-block-right .buttons-mobile{
	display: none !important;
}

@media screen and (min-width: 1280px) {
	.buttons-desktop {
		display: flex;
	}
	.buttons-mobile {
		display: none;
	}
}
@media screen and (max-width: 1279px) {
	.buttons-block-main .button {
		width: 100%;
		min-width: auto;
	}
	.buttons-desktop {
		display: none;
	}
	.buttons-mobile {
		display: flex;
	}
	.buttons-actions-content .button-actions.buttons-mobile {
		white-space: nowrap;
		width: 100% !important;
		display: flex;
		gap: 8px;
	}
	.buttons-block-main,
	.buttons-block-right,
	.buttons-block-left {
		gap: 20px;
		max-width: initial;
	}
	.buttons-block-left button {
	    max-width: 276px;
	}
}
@media screen and (max-width: 1023px) {
	.buttons-block-left button {
	    max-width: 220px;
	}
}
@media screen and (max-width: 700px) {
	.buttons-block-right .buttons-mobile,
	.buttons-block-main .button-actions.buttons-mobile{
		display: flex !important;
	}
	.buttons-actions-content:not(.buttons-block-right) {
		display: none;
	}
	.buttons-block-main {
		flex-direction: column;
	}
	.buttons-actions-mobile {
		display: flex;
		width: 100%;
		gap: 20px;
	}
	.buttons-actions-mobile .button-actions {
		width: 100%;
		max-width: 100%;
		color: white;
		gap: 6px;
		white-space: nowrap;
	}
	.buttons-block-left {
		flex-direction: column;
	}
	.buttons-block-main,
	.buttons-block-right,
	.buttons-block-left {
		gap: 4px !important;
	}
	.buttons-block-left button {
	    max-width: 100%;
	}
	.button-actions{
		background: var(--color-secondary) !important;
		font: 16px var(--font-primary-semibold) !important;
	}
}