/*
 * Cardbox
 * @author mfyance
 */


 .main-card-box {
    background: #fff;
    overflow: hidden;
    position: relative;
    padding: 20px;
    box-shadow: 0px 3px 5px rgb(9 30 66 / 20%), 0px 0px 2px rgb(9 30 66 / 31%);
}
.cardbox-back {
    padding: 10px 20px;
    background: #fff;
}

.cardbox-back-link {
    color: var(--color-primary);
    font: 16px var(--font-primary-semibold);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.cardbox-back i {
    margin-right: 4px;
}
.cardbox-head{
    background: linear-gradient(93.59deg, #02133e -225.28%, #2765f5 87.41%);
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    align-items: center;
}
.cardbox-body{
    padding: 24px 32px;
    min-height: calc(100vh - 250px);
}

.cardbox-body-title{    
    font: 24px var(--font-primary-semibold);
    color: var(--color-secondary);
    font-style: normal;
    line-height: 30px;
}
.cardbox-body-subtitle{
    font: 18px var(--font-primary-medium);
    color: #494B4E;
    line-height: 30px;
}

.cardbox-head-title{
    display: flex;
    color: #ffffff;
    font: 24px var(--font-primary-bold);
    align-items: center;
    gap: 10px;
}
.cardbox-head-subtitle{
    color: #fff;
    font: 16px var(--font-primary);
    margin-top: 10px;
    margin-left: 50px;
    max-width: 90%;
}
.cardbox-head-left-content{
    margin-left: 12px;
}
.cardbox-head-left{
    display: flex;
    flex-direction: column;
}
.cardbox-head-right{
    
}


@media screen and (max-width: 1279px) {
    .cardbox-body{
        min-height: calc(100vh - 280px);
    }
    .main-card-box.main-card-creditcard{
        /* margin-top: 12px;  */
        padding: 0;
    }
    .cardbox-body{
        padding:24px;
    }
}
@media screen and (max-width: 700px) {
    .cardbox-body{
        min-height: inherit;
    }
    .main-card-box{
        box-shadow: none;
    }
    .cardbox-body{
        padding: 24px;
    }
    .cardbox-bg-skyblue{
        background: var(--color-gray-light);
    }
    .cardbox-head{
        flex-direction: column;
        align-items: flex-start;
    }
    .cardbox-head-right {
        margin-left: 50px;
        margin-top: 20px;
    }

}

@media screen and (max-width: 350px) {
    .main-card-box{
        padding: 10px;
    }
}