/*
 * Notify
 * @author mfyance
 */

.inteligo-notify{
    border: none;
    padding: 10px;
    box-shadow: inset 3px 0px 0 #538af7;
    border-left: none;
    display: flex;
    background: #393939;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    padding-right: 30px;
}
.inteligo-notify-title{
    color: #fff;
    font: 14px Inter-Semibold;
    margin-bottom: 2px;
}
.inteligo-notify-subtitle{
    color: #fff;
    font: 14px var(--font-primary-light);
}

.inteligo-notify-content{
    margin-left: 10px;
}


.inteligo-left{
    display: flex;
    align-items: flex-start;
}

.inteligo-right{
    display: flex;
}
.inteligo-notify-close:hover{
    transform: scale(1.3);
}
.inteligo-notify-close{
    position: absolute;
    right: 10px;
    top: 13px;
    cursor: pointer;
    transition: all .3s ease;
    transform: scale(1);
    display: block;
}



.button-perfilar:hover{
    background: var(--color-primary-hover);
}
.button-perfilar{
    background: var(--color-primary);
    border: none;
    color: #fff;
    font: 14px var(--font-primary-medium);
    padding: 10px 30px;
    transition: all .3s ease;
}



@media screen and (max-width: 800px) {
    .inteligo-notify{
        flex-direction: column;
        align-items: center;
    }
    .inteligo-right{
        margin-top: 10px;
        display: flex;
        width: 100%;
        align-items: center;
        padding-left: 30px;
    }
    .inteligo-left{
        display: flex;
        width: 100%;
    }
}
@media screen and (max-width: 440px){
    .inteligo-notify {
        
        padding: 10px 10px 10px 16px;
        box-shadow: inset 5px 0px 0 #538AF7;
        
    }
    /* .button-perfilar {
        width: 237px
    } */
    .inteligo-right {
        margin: 10px auto 0;
        padding-left: 25px;
        justify-content: left;
    }
}