/*
 * Sidebarbottom
 * @author mfyance
 */

.inteligo-sidebarbottom.open{
    z-index: 99999;
    display: block;
}
.inteligo-sidebarbottom{
	height: 100vh;
	position: fixed;
	width: 100%;
	z-index: 20;
	top: 0;
	left: 0;
	display: none;
	z-index: -99999
}
.inteligo-sidebarbottom-tc{

height: 100vh;

position: fixed;

top: 0;

left: 0;

width: 100%;
}
.inteligo-sidebarbottom-tc-close{

}
.inteligo-sidebarbottom-tc-bg{
	content: '';
	background: #00000085;
	width: 100vw;
	height: 100vh;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	overflow: hidden;
}
.inteligo-sidebarbottom-content .icon{
	position: absolute;
	top: 20px;
	right: 25px;
}
.open .inteligo-sidebarbottom-content{
	transform: translate(0 , 0);
	opacity: 1;
}
.inteligo-sidebarbottom-content{
	position: relative;
	background: #fff;
	padding: 20px;
	z-index: 3;
	display: flex;
	justify-content: normal;
	height: auto;
	position: fixed;
	bottom: 0;
	top: initial;
	left: 0;
	flex-direction: column;
	width: 100%;
	padding-top: 50px;
	transform: translate(0 , 100%);
	opacity: 0;
	transition: all .3s ease;
}
.inteligo-sidebarbottom-tc-title{

font: 14px var(--font-primary);

color: #000;

margin-bottom: 20px;
}
.inteligo-sidebarbottom-tc-content{

display: flex;

flex-direction: column;
}
.inteligo-sidebarbottom-tc-option{

margin-bottom: 5px;
}

.inteligo-sidebarbottom-tc-option .container-radio-text{
	font: 14px var(--font-secondary-medium) !important;
    display: flex;
    align-items: center;
}