/*
 * Table Resumen Detail
 * @author mfyance
 */

.table-resumen{

}
.table-resumen-header{

display: flex;

justify-content: space-between;

border-radius: 5px;

border: 1px solid #92969A;

height: 76px;

margin-bottom: 24px;

align-items: center;

padding: 22px 32px;
}
.table-resumen-viewer{

display: flex;

background: var(--color-sky);

padding: 8px;

align-items: center;

gap: 6px;
}
.table-resumen-viewer-icon .icon{

}
.table-resumen-viewer-icon{

display: flex;

align-items: center;
}
.table-resumen-viewer-title{

font: 14px var(--font-primary-medium);

color: #233E99;
}
.table-resumen-amount{

display: flex;

gap: 20px;

margin-right: 10%;
}
.table-resumen-amount-title{

font: 18px var(--font-primary);

color: #92969A;
}
.table-resumen-amount-money{

font: 20px var(--font-primary-bold);

color: var(--color-secondary);
}


.main-corriente-detail {
    border: 1px solid #92969A;
    margin-bottom: 16px;
    border-radius: 5px;
    display: flex;
    padding: 18px 0;
    justify-content: space-around;
}

.table-resumen-body{

}
.table-resumen-body-row{
	border: 1px solid #92969A;
	margin-bottom: 16px;
	border-radius: 5px;
	display: flex;
	/* justify-content: space-around; */
	padding: 16px 0;
	box-sizing: border-box;
}
.table-resumen-body-col:nth-child(1){width: 30%;border-right: 2px solid #E5E5E5;}
.table-resumen-body-col:nth-child(2){
	width: 30%;
	border-right: 2px solid #E5E5E5;
}
.table-resumen-body-col:nth-child(3){
	width: 30%;
	align-items: flex-start;
    padding-left: 7%;
}
.table-resumen-body-col:nth-child(4) .icon{
	cursor: pointer;
}
.table-resumen-body-col:nth-child(4){
	width: 10%;
}
.table-resumen-body-col{display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 6px;}
.table-resumen-body-col-title{
    font: 14px var(--font-primary);
    color: #7A7D80;
}
.table-resumen-body-col-maintitle{
	font: 14px var(--font-primary);
    color: #7A7D80;
    line-height: 24px;
}


.table-resumen-body-col-subtitle{
    font: 18px var(--font-primary-bold);
    color: #233E99;
    line-height: 20px;
}
.table-resumen-body-eur{
	padding-top: 4px;
	padding-bottom: 2px;
}
[data-moneda="EUR"].table-resumen-moneda,
[data-moneda="EUR"] .table-resumen-body-eur{
	color: var(--color-green3);
}
[data-moneda="EUR"] .table-resumen-body-eur + .table-resumen-body-col-subtitle{
	font-size: 14px;
}

.table-resumen-body-col-mainsubtitle{
    font: 18px var(--font-primary-bold);
    color: #464748;
    line-height: 20px;
    /* margin-bottom: 5px; */
}

.table-resumen-moneda{
	font: 14px var(--font-primary-bold);
    color: #233E99;
    display: inline-flex;
    margin-left: 4px;
    border-left: 2px solid #92969A;
    padding-left: 10px;
}

.table-resumen-body-col-icon{
	cursor: pointer;
}

.table-resumen-center{
	position: relative;
}

@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 800px) {
	.table-resumen-amount{
		margin-right: 0;
	}
	.table-resumen-amount-title em{
		display: none;
	}

}

@media screen and (max-width: 700px) {
	.table-resumen-body-row{
		background: white;
		flex-direction: column;
		border: 1px solid #DDE1E6;
		padding: 0;
		padding-bottom: 16px;
	}
	.table-resumen-body-col:nth-child(1),
	.table-resumen-body-col:nth-child(2),
	.table-resumen-body-col:nth-child(3),
	.table-resumen-body-col:nth-child(4){
	    width: 100%;
		border: none;
		padding: 14px 0;
		border-bottom: 2px solid #E5E5E5;
	}
	.table-resumen-body-col:nth-child(1){
		margin: 0 24px;
		width: calc(100% - 48px);
	}
	.table-resumen-body-col:nth-child(2){
		
margin: 0 24px;
		
width: calc(100% - 48px);
	}
	.table-resumen-body-col:nth-child(3){
		
border-bottom: 1px solid #E5E5E5;
	align-items: center;
    padding-left: initial;

	}
	.table-resumen-body-col:nth-child(4){
		border-bottom: none;
		display: flex;
		justify-content: flex-end;
		flex-direction: initial;
		padding: 12px 16px;
		padding-bottom: 0;
		position: relative;
	}
	.table-resumen-body-col:nth-child(4) .icon:before{
		font: 16px var(--font-primary-medium);
		color: var(--color-primary);
		content: "Ver detalle";
		display: flex;
		position: absolute;
		left: 16px;
	}
	.table-resumen-header {
	    flex-direction: column-reverse;
	    height: inherit;
	    padding: 16px;
	    background: #fff;
	    border: 1px solid #DDE1E6;
	}
	.table-resumen-viewer {
	    margin: 0px !important;
	    margin-top: 16px !important;
	    width: 100%;
	    text-align: center;
	    align-items: center;
	    justify-content: center;
	}
	.table-resumen-amount {
	    flex-direction: column;
	    text-align: center;
	    gap: 4px;
	    margin-right: 0;
	}
	.table-resumen-body-col-title,
	.table-resumen-body-col-maintitle{
		font-size: 16px;
	}
	.table-resumen-body-col-subtitle,
	.table-resumen-body-col-mainsubtitle{
		font-size: 20px;
	}
	.table-resumen-header{
		margin-bottom: 16px;
	}
}	

@media screen and (max-width: 700px) {
	.table-resumen-amount-title,
	.table-resumen-amount-title em {
    	display: flex;
    	gap: 6px;
  	}
}