/*
 * Table Dropdown
 * @author mfyance
 */


@media screen and (max-width: 1279px){
    [data-status="pendiente"] .mob-portafolio-thead td{
        color: var(--color-secondary-active);
    }

	.mob-card-portafolio {
	    margin-top: 8px;
	}
    .mob-card-portafolio-main{
	    margin-top: 0;
	    margin-bottom: 20px;
    } 
    .mob-portafolio-table{

    }
    .mob-portafolio-thead{
    background: var(--color-gray3)
    }
    .mob-portafolio-tbody td:last-child{
    /* font-family: var(--font-primary); */
    text-align: right
    }
    .mob-portafolio-tbody tr:last-child{
        border-bottom: none
    }
    .mob-portafolio-tbody tr{
        border-bottom: 1px solid var(--color-gray3);
    }
    .mob-portafolio-tbody{
        background: var(--color-gray-light)
    }
    .mob-portafolio-tfoot{
        background: var(--color-gray-light)
    }
    .mob-portafolio-tfoot td:last-child{
        font-family: var(--font-primary-semibold);
        color: var(--color-primary);
        text-align: right
    }
    .mob-portafolio-thead td:nth-child(1){
        text-align: left;
    }
    .mob-portafolio-thead td:nth-child(2){
        text-align: right;
    }
    
    .mob-portafolio-tbody td:first-child{
       width: 50%;
       white-space: nowrap;
       font: 14px var(--font-primary);
    }

    .mob-card-portafolio-main .mob-portafolio-tbody td:last-child em,
    .mob-card-portafolio-main .mob-portafolio-tbody td:last-child{
        font-weight: 600;
    }
    .mob-portafolio-tbody td:last-child{
       width: 50%;
       font-size: 14px;
    }
    .mob-portafolio-thead td{
        padding: 10px 16px;
        font: 14px var(--font-primary-medium);
        color: var(--color-gray-bold);
    }
    .mob-portafolio-tbody td{
        padding: 10px 16px;
        color: var(--color-gray-bold);
        font-size: 14px;
        font-family: var(--font-primary);
    }
    .mob-portafolio-tfoot td{
        padding: 12px 10px;
        font: 14px var(--font-primary-medium);
        color: var(--color-gray-bold);
        background: var(--color-gray3);
        vertical-align: middle;
    }

    .mob-card-portafolio-main .mob-portafolio-thead td{
    color: white;
    }
    .mob-card-portafolio-main .mob-portafolio-thead{
        background: #1148C6
    }
   	.mob-portafolio-table.disabled .mob-portafolio-thead td{
	    color: var(--color-gray-bold);
   	}
   	.mob-portafolio-table.disabled .mob-portafolio-tbody{
        display: none;
    }
    .disabled .mob-portafolio-arrow .icon{
        transform: rotate(45deg);
        top: 14px;
    }
    .mob-portafolio-arrow .icon{
        position: absolute;
        top: calc(50% - 2px);
        right: 16px;
        border-color: var(--color-primary);
        transition: all .3s ease;
        border-width: 0 2px 2px 0;
    }
    .mob-portafolio-thead td strong{
        font-family: var(--font-primary-semibold);
    }
    .mob-portafolio-arrow{
        cursor: pointer;
        position: relative
    }
    
    .mob-portafolio-link:hover{
        color: var(--color-secondary);        
    }
    .mob-portafolio-link{
        font: 16px var(--font-primary-semibold);
        color: var(--color-primary);
        transition: all .3s ease;
        border-bottom: 1px solid var(--color-primary)
    }

    .mob-portafolio-status[data-status="positivo"]:after{
        content: "";
        width: 0;
        height: 0;
        border-bottom: 7px solid #48A17E;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 4px;
    }
    .mob-portafolio-status[data-status="positivo"]{
        color: #48A17E;
        position: relative;
        padding-left: 20px;
    }
    .mob-portafolio-status[data-status="negativo"]:after{
        content: "";
        width: 0;
        height: 0;
        border-top: 7px solid #c73723;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        left: 0;
        top: 4px;
    }
    .mob-portafolio-status[data-status="negativo"]{
        color: #C73723;
        position: relative;
        padding-left: 20px;
    }
}