/*
 * Tabs
 * @author mfyance
 */

.inteligo-tabs {
    display: flex;
    box-shadow: inset 0 -1px 0 #dde1e6;
    padding-top: 10px;
    padding-bottom: 1px;
}

.inteligo-tab:first-child {
    margin-left: 0px;
}


.inteligo-tab {
    display: flex;
    padding: 12px 16px; 
    font: 16px var(--font-primary);
    color: #92969A;
    cursor: pointer;
    background: #F2F4F8;
    margin-left: 4px;
}

.inteligo-tabs-content {
    padding-top: 0;
    position: relative;
}

.inteligo-tab-active {
    box-shadow: inset 0px 2px 0 var(--color-primary), inset 1px 0px 0 #DDE1E6, inset -1px 0px 0 #DDE1E6, inset 0px -2px 0 #fff, 0px 1px 0 #fff;
    color: var(--color-primary);
    font-family: var(--font-primary-semibold);
    /* border-right: 1px solid #ddd; */
    background: white;
    border-bottom: 0px solid #fff;
}

.inteligo-tab:hover:not(.inteligo-tab-active) {
    /* box-shadow: inset 0 -2px 0 #8d8d8d; */
    /* color: #202223; */
    /* font: 14px var(--font-primary-semibold); */
}
.inteligo-tab span{
    margin-left: 5px;
}

@media screen and (max-width: 600px) {
    .inteligo-tab span{
        display: none;
        margin-left: 0
    }
}
@media screen and (max-width: 440px) {
    .inteligo-tab span{
        display: none;
        margin-left: 0
    }
    .card-portafolios-header{
        margin-top: 0;
    }
    .inteligo-tabs-content {
        padding-top: 0px;
        position: relative;
    }
    .inteligo-tab:hover:not(.inteligo-tab-active) {
        box-shadow: inset 0 0 0 transparent;
        color: #616467;

    }
    .inteligo-tabs {
        overflow-x: scroll;
    }

    .inteligo-tab {
        
        text-align: -webkit-center;
        text-align: -moz-center;
        text-align: -o-center;
        text-align: -ms-center;
        white-space: nowrap;
    }

 
 
    .inteligo-tabs::-webkit-scrollbar {
        display: none;
    }
}