
<div class="skeleton">
	<div class="skeleton-rect skeleton-h-20 skeleton-w-30"></div>
	<div class="skeleton-break skeleton-h-10"></div>
	<div class="skeleton-rect skeleton-h-20 skeleton-w-40"></div>
	<div class="skeleton-break skeleton-h-20"></div>
	<div class="skeleton-rect skeleton-h-20 skeleton-w-50"></div>
	<div class="skeleton-break skeleton-h-50"></div>
	<div class="skeleton-left">										
		<div class="skeleton-rect skeleton-h-20 skeleton-w-60"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-50"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-60"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-80"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-80"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-80"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-80"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-80"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-100"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-80"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-80"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-100"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-70"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-100"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-70"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-90"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-90"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-90"></div>
		<div class="skeleton-break skeleton-h-10"></div>
		<div class="skeleton-rect skeleton-h-20 skeleton-w-90"></div>
	</div>
</div>


<div class="card-analisis">

	

	<div class="analisis-title">Análisis de portafolio</div>
	<section class="analisis-sections">
		<div id="blockPortafolio" class="analisis-section-block">
			<div class="analisis-subtitle m-b-10">Seleccione su portafolio</div>
			<select name="selAnalysisPortfolio" id="selAnalysisPortfolio">
				<option value="100000-1">Portafolio 100000-1</option>
				<option value="100000-2">Portafolio 100000-2</option>
				<option value="100000-3">Portafolio 100000-3</option>
				<option value="100000-4">Portafolio 100000-4</option>
				<option value="100000-5">Portafolio 100000-5</option>
			</select>
		</div>
		<div class="analisis-section-blockes">			
			<div class="analisis-section-block">
				<div class="analisis-section-subblock">
					<div class="analisis-subtitle">Perfil de inversión</div>
					<div class="analisis-info">
						<div class="analisis-info-text">Moderado</div>
						<!-- <div class="analisis-info-tooltip">
							<i class="icon icon-help-s"></i>
						</div> -->
					</div>
				</div>
			</div>
			<div class="analisis-section-block">
				<div class="analisis-section-subblock">
					<div class="analisis-subtitle">Objetivo de inversión</div>
					<div class="analisis-info">
						<div class="analisis-info-text">Ganancia de Capital </div>
						<!-- <div class="analisis-info-tooltip">
							<i class="icon icon-help-s"></i>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		
	</section>
	<div id="blockValorPortafolio" class="analisis-valorportafolio">
		<div class="analisis-valorportafolio-left">
			<i class="icon icon-portvalue"></i> La evaluación de este portafolio se realizó al cierre del <b>03.11.2022</b>
		</div>
		<div id="btnDetalleAnalisis" class="analisis-valorportafolio-right" style="display: none;"> <a id="modalPatrimonio" href="javascript:void(0)" >Saber más</a> </div>
	</div>
	

	<div id="blockAnalisisDinamico" class="analisis-dinamico">
		<div class="abonos-empty" style="display: none;">
	      <div class="abonos-empty-content abonos-empty-center">
	        <i class="icon icon-info2"></i>
	        <div class="abonos-empty-title">Usted no cuenta con un <strong>perfil de riesgo</strong> en su portafolio 10154-2. Por favor, seleccione otro portafolio o pase a perfilarse. <a href="">aqui</a></div>
	      </div>
	    </div>

		<div class="analisis-dinamico-content">
			<div class="analisis-grafico">
				
				<div class="analisis-graficospie">
					<div class="analisis-graficospie-left">
						<div id="card3Graph"></div>
						<div class="analisis-graficospie-title">Portafolio <b>actual</b></div>
					</div>
					<div class="analisis-graficospie-right">
						<div id="card3Graph1"></div>
						<div class="analisis-graficospie-title">Portafolio <b>recomendado</b></div>
					</div>
				</div>

				<div class="analisis-graficosdesc cleaner">
					<div class="analisis-grafico-info">
						<i class="icon icon-pie"></i>
						<div class="analisis-grafico-txt">Inteligo Bank ha diseñado para usted un <b>portafolio recomendado</b> que se adecúa a su perfil y objetivo de inversión.</div>
					</div>
				</div>
			</div>


			<div class="analisis-mlegenda">
				<script type="x-tmpl-mustache" id="tmpAnalisisLegends">
					{{#datos}}
						{{#analisis}}
					    	<li data-circle="{{shortname}}">{{{name}}}</li>
						{{/analisis}}
					{{/datos}}
				</script>
				<ul id="mustacheAnalisisLegends" class="analisis-mlegenda-list">
				</ul>
			</div>

			<!-- Aqui inicial la version Desktop de la tabla -->
			<script type="x-tmpl-mustache" id="tmpAnalisisTable">
				{{#datos}}
					{{#analisis}}
				    	<tr data-circle="{{shortname}}">
							<td class="t-a-l">
								<div class="analisis-clase">{{{name}}}</div>
							</td>
							<td class="t-a-r">
								{{percentactual}}%
							</td>
							<td class="t-a-r color-secondary">
								{{percentrecomendado}}%
							</td>							

							{{#status}}
							<td>
								<div class="analisis-status analisis-status-success">
									<i class="icon icon-status-success"></i>
									<div class="analisis-status-text">{{statustext}}</div>
								</div>
							</td>
							<td>
								<div class="analisis-detail" data-id="{{idanalisis}}" data-section="secDetailpage">
									Saber más
								</div>
							</td>
							{{/status}}

							{{^status}}
							<td>
								<div class="analisis-status analisis-status-error">
									<i class="icon icon-status-error"></i>
									<div class="analisis-status-text">{{statustext}}</div>
								</div>
							</td>
							<td>
								<div class="analisis-detail" data-id="{{idanalisis}}"  data-section="secDetailpage">
									Saber más
								</div>
							</td>
							{{/status}}
						</tr>
					{{/analisis}}
				{{/datos}}
			</script>
			<div class="analisis-table-content">
				<table class="analisis-table">
					<thead>
						<tr>
							<th class="t-a-l">Clase de activo</th>
							<th class="t-a-r">Actual</th>
							<th class="t-a-r">Recomendado</th>
							<th class="t-a-l analisis-table-estado">Estado</th>
							<th class="t-a-l analisis-table-estado">Detalle</th>
						</tr>
					</thead>
					<tbody id="mustacheAnalisisTable">
					</tbody>
					<tfoot>
						<tr>
							<td class="t-a-l">Total</td>
							<td class="t-a-r">100%</td>
							<td class="t-a-r">100%</td>
							<td></td>
							<td></td>
						</tr>
					</tfoot>
				</table>
			</div>

			<!-- Aqui inicial la version Mobile de la tabla -->
			<script type="x-tmpl-mustache" id="tmpAnalisisTableMobile">
				{{#datos}}
					{{#analisis}}						
				    	<div class="analisis-mtable-box {{statusClass}}" data-circle="{{shortname}}" data-id="{{idanalisis}}" data-section="secDetailpage">
							<div class="analisis-mtable-box-top">
								<div class="analisis-mtable-title">{{{name}}}</div>
							</div>
							<div class="analisis-mtable-box-bottom">
								
								<div class="analisis-status">
									{{#status}}
									<i class="icon icon-status-success"></i>
									<div class="analisis-status-text">{{statustext}}</div>
									{{/status}}

									{{^status}}
									<i class="icon icon-status-error"></i>
									<div class="analisis-status-text">{{statustext}}</div>
									{{/status}}
								</div>

								<div class="analisis-mtable-statistic">
									<div class="analisis-statistic-actual">
										<div class="analisis-statistic-number">{{percentactual}}%</div>
										<div class="analisis-statistic-tag">actual</div>
									</div>
									<div class="analisis-statistic-arrow"><i class="icon icon-arrowline-right"></i></div>
									<div class="analisis-statistic-optimo">
										<div class="analisis-statistic-number">{{percentrecomendado}}%</div>
										<div class="analisis-statistic-tag">óptimo</div>
									</div>
								</div>

								<div class="analisis-mtable-vermas">
									<div>Saber más</div>
									<div><i class="icon icon-arrow-blue"></i></div>
								</div>
							</div>
						</div>
					{{/analisis}}
				{{/datos}}
			</script>
			<div class="analisis-mtable">
				<div class="analisis-mtable-head">
					<div class="cleaner">Clase de activo</div>
					<div class="cleaner">Recomendado</div>
				</div>
				<div class="analisis-mtable-body" id="mustacheAnalisisTableMobile">
				</div>
			</div>



			<div class="analisis-ventajas">
				<div class="analisis-ventajas-info">
					<i class="icon icon-news" style="margin-right: 12px;"></i>
					<div class="analisis-ventajas-text">
						¿Qué <b>ventajas</b> tiene el portafolio recomendado y cómo <b>alcanzar</b> mis porcentajes óptimos?
					</div>
				</div>
				<button id="btnOpenContactar"  class="button button-primary">Contacte a su asesor</button>
			</div>
		</div>

	</div>

</div>



