/*
 * Card Análisis Mobile
 * @author mfyance
 */

@import url("analisis-desktop.css");

@media screen and (min-width: 650px){
	.analisis-mlegenda-list{
		display: none;
	}
}

@media screen and (min-width: 801px) and (max-width: 1279px){
    .analisis-info-text {
        font: 16px var(--font-primary) !important;
        white-space: nowrap;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
	.analisis-ventajas-text {
		max-width: 662px;
	}
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
	.analisis-ventajas {
		padding: 16px 32px;
	}

	.analisis-section-block {
		padding-right: 64px;
	}

	.analisis-grafico-info {
		padding: 24px;
		max-width: 440px;
		width: 100%;
		height: 108px;
	}

	.analisis-grafico {
		margin: 0 49px 16px;
	}
}


@media screen and (min-width: 1920px) {
	.analisis-ventajas {
		padding: 28px 32px;
		margin: 20px 24px 10px;
	}

	.analisis-section-block {
		padding-right: 64px;
	}

	.analisis-grafico {
		margin: 0 122px 16px;
	}

	.analisis-grafico-info {
		padding: 24px;
		max-width: 732px;
		width: 100%;
		height: 88px;
	}

	.analisis-table-content {
		margin: 0px 24px;
	}
}




@media screen and (max-width: 1279px) {

	.analisis-valorportafolio{
		margin-top: 10px
	}
	.analisis-grafico .cleaner{
		padding-top: 20px;
		margin-top: 0;
		padding-top: 0;
	}
	.analisis-dinamico-content{
		width: 100%;
		max-width: 100%;
		padding-top: 0px;
		margin: 0;
	}
	.analisis-table-content {
		margin: 0px 0px;
	}
	.analisis-ventajas {
		margin: 20px 0px 10px;
		margin-bottom: 0;
	}
	.analisis-title {
		font: 24px var(--font-primary-bold);
		color: #233E99;
		margin-bottom: 24px;
		position: relative;
		z-index: 1;
	}
	.analisis-subtitle {
		font: 14px var(--font-primary-semibold);
	}
	.analisis-info-text {
		font: 16px var(--font-primary);
		color: #191A1B;
		white-space: nowrap;
	}
	.analisis-graficospie-title {
		font: 14px var(--font-primary-medium);
	}
	.analisis-mtable-head {
		font: 16px var(--font-primary-bold);
		padding: 14px 12px;
	}

	.analisis-mtable-title:after{
		left: -4px;
	}
	.analisis-mtable-title {
		margin-bottom: 12px;
	}
	
}
@media screen and (max-width: 1024px){
	.analisis-grafico{
		justify-content: space-around;
	}
}

@media screen and (max-width: 1023px){
	.analisis-mtable{
		display: block;
	}
	.analisis-table-content{
		display: none;
	}

	.analisis-mtable-sabermas-link{
	  display: flex;
	    justify-content: space-between;
	    cursor: pointer;
	}
	.analisis-mtable-sabermas {
	    
	    padding: 15px;
	    border-top: 1px solid #dddd;
	}
	.analisis-mtable-sabermas-txt{
	  font: 16px var(--font-primary);
	  color: var(--color-primary);
	}

	.analisis-mtable-sabermas-content b{
	  color: #1148C6;
	  font-family: var(--font-primary-medium);
	}
	.analisis-mtable-sabermas-content{
	  color: #616467;
	  font: 14px var(--font-primary);
	  display: none;
	  line-height: 20px;
	  margin-top: 15px;
	}
	.analisis-mtable-sabermas-link.active+.analisis-mtable-sabermas-content{
	  display: block;

	}
	.analisis-mtable-sabermas-link .analisis-mtable-sabermas-icon{
	  transform: rotate(90deg);
	}
	.analisis-mtable-sabermas-link.active .analisis-mtable-sabermas-icon{
	  transform: rotate(-90deg);
	}
	

	.analisis-mtable-title {
		font: 16px var(--font-primary-semibold);
		padding-left: 13px;
		
		margin-bottom: 0;
	}
	
	.analisis-mlegenda{
		display: block;
	}
	.analisis-mlegenda-list {
		margin-bottom: 24px;
		padding: 16px;
  	}
}

@media screen and (max-width: 800px) {
	.analisis-section-block {
		padding-right: 30px;
	}
	.analisis-section-block:first-child{
		width: auto;
	}

	.analisis-grafico-info{
		max-width: 100%;
	}
	.analisis-grafico{
		display: flex;
		flex-direction: column;
	}
	.analisis-graficospie{
		width: 100%;
		padding: 0;
		margin: 22px auto 0px;
		column-gap: 0px;
	}
	.analisis-grafico{
		width: 100%;
		flex-direction: column-reverse;
		margin: 0 0px 24px;
	}
}

@media screen and (max-width: 650px) {
	.analisis-section-blockes{
		flex-direction: column;
	}
	
	.analisis-sections{
		flex-direction: column;
	}
	.analisis-section-block{
		padding-right: 0;
		/* margin-bottom: 10px */
	}
	.analisis-section-block:first-child{
		width: 100%;
	    margin-bottom: 0;

	}
	.analisis-section-subblock{
		margin-top: 24px;
	}
	.analisis-valorportafolio {
		flex-direction: column;
		padding: 20px 16px;
		padding-right: 77px;
		margin-top: 30px;
	}
	.analisis-valorportafolio-left i {
		position: absolute;
		top: calc(50% - 12px);
    	right: 16px;
		transform: scale(2.333);
	}

	.analisis-valorportafolio-right{
		margin-top: 10px
	}
	.analisis-valorportafolio-left{
		display: block;
    	text-align: left;
		font: 18px var(--font-primary-medium);
		color: #494b4e;
		line-height: 24px;
	}
	.analisis-valorportafolio-right a{
		margin-top: 18px;
		display: block;
	}
	.analisis-valorportafolio-left b{
		padding: 0
	}
	
	.analisis-grafico-info{
		height: 100%;
	}
	.analisis-grafico-info i{
		display: none;
	}
	.analisis-grafico-info{
		background: transparent;
		text-align: center;
	    width: 100%;
        max-width: 100%;
    	justify-content: center;
    	padding: 0;
	}
	.analisis-grafico-txt{
		padding-left: 0;
		font: 18px var(--font-primary-medium);
		line-height: 24px;
	}
	.analisis-grafico-txt{
		padding-left: 0
	}
	.analisis-dinamico{
		margin-top: 0px
	}
	.analisis-ventajas{
		display: flex;
		flex-direction: column;
		border: none;
		padding:  0;
		margin-top: 10px;
		text-align: center
	}
	.analisis-ventajas-info {
		margin-top: 22px;
		margin-bottom: 24px;
		font: 18px var(--font-primary-medium);
		line-height: 24px;
	}
	.analisis-ventajas i{ display: none; }
	.analisis-ventajas button{
		width: 100%;
		height: 48px;
		font: 16px var(--font-primary-medium) !important;
	}
	.analisis-mlegenda-list li {
		font: 12px var(--font-primary-medium);
		color: #191A1B;
		position: relative;
		padding-left: 14px;
	}
	
	.analisis-grafico .cleaner {
		padding-top: 24px;
	}
	.detailpage-mtable-title{
		color: #313334;
	}
	.analisis-statistic-tag {
		font: 12px var(--font-primary-bold);
		padding: 7px 15px;
		background: #f3f3f3;
		color: #494B4E;
	}
	.analisis-statistic-optimo .detailpage-statistic-number{
		color: #233E99;
	}
	.analisis-mtable-box {
		padding: 20px 12px;
		cursor: pointer;
	}
	.analisis-mtable-box-bottom {
		padding: 15px;
		padding-bottom: 0
	}
	.analisis-mtable-statistic {
		margin-top: 0;
	}
}


@media screen and (max-width: 350px) {
	.analisis-graficospie-title{
		font-size: 12px;
	}
}