/*
 * Button
 * @author mfyance
 */
.button:focus {
  outline-offset: inherit;
  /* color: inherit; */
  text-decoration: inherit;
}
.button {
  display: flex;
  align-items: center;
  border-radius: 0px;
  font-size: 14px !important;
  padding: 10px 15px;
  min-width: 180px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  border: none;
}

.button-secondary:not(.disabled):not([disabled]):hover {
  background: var(--color-secondary-hover);
  color: #fff;
}
.button-secondary span {
  color: var(--color-primary);
  letter-spacing: 0px;
  font-family: var(--font-primary-medium);
}
.button-secondary {
  background: var(--color-secondary);
  color: #fff;
  letter-spacing: 0px;
  font-family: var(--font-primary-medium);
}
.button-secondary::after {
  color: #fff;
}

.button-primary[disabled]:hover,
.button-primary.disabled:hover {
  color: #92969A;
}

.button-primary:focus-visible,
.button-primary:focus,
.button-primary:hover {
  color: white;
  background-color: var(--color-primary-hover);
}

.button-primary {
  background: var(--color-primary);
  color: white;
  letter-spacing: 0px;
  font: 14px var(--font-primary);
  border: 1px solid var(--color-primary);
}
.button-primary:hover {
  background: var(--color-primary-hover);
  color: white;
  border: 1px solid var(--color-primary-hover);
  white-space: nowrap;
}

.buttons-content {
  display: flex;
  justify-content: flex-end;
}

.buttons-content .button:first-child {
  margin-left: 0;
}
.buttons-content .button {
  margin-left: 10px;
}
.buttons-content {
  display: flex;
  justify-content: flex-end;
  border: none;
  padding-top: 9px;
}

.button-primary.disabled,
.button-primary[disabled] {
  background-color: #C2C7CC;
  color: #92969A;
  border-color:  #C2C7CC;
}

.button-terciary:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-white);
  border: 1px solid var(--color-primary-hover);
}
.button-terciary {
  background: #ffffff;
  border: 1px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 0px;
  color: var(--color-primary);
  font: 14px var(--font-primary-medium);
  min-width: auto;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-cuterciary:hover {
  background-color: #38a2ff;
}
.button-cuterciary {
  transition: all 0.3s ease;
  cursor: pointer;
  font: 12px var(--font-primary-medium);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 3px;
  color: white;
  min-width: auto;
  padding: 10px;
}

.button-white:hover {
  background: #f9f9f9 !important;
}
.button-white {
  color: #353536 !important;
  min-width: auto;
  background: #fff !important;
  font-size: 12px !important;
  display: inline-flex;
  font-family: var(--font-primary-medium);
}

.button-sky:hover {
  background: var(--color-primary) !important;
}
.button-sky {
  color: #fff !important;
  min-width: auto;
  background: #2765f5;
  font-size: 12px !important;
  display: inline-flex;
  font-family: var(--font-primary-medium);
  padding: 2px 20px;
}

.button-fondos {
  min-width: 80%;
  padding: 10px 20px;
  font: 12px var(--font-primary-mediums) !important;
  letter-spacing: 1px;
  border-radius: 3px !important;
}



.button-deseleccionar:disabled:active,
.button-deseleccionar:disabled:hover,
.button-deseleccionar:disabled{
  border-color:  #C2C7CC !important;
  color: #C2C7CC !important;
  background-color: transparent !important;
}
.button-deseleccionar{
  border-radius: 0;
  margin-right: 10px;
}
.button-aplicar{
  padding-right: 20px;
  padding-left: 20px;
}
.active.button-personalizar,
.button-personalizar:hover{
  border-color: var(--color-primary);
}
.button-personalizar{
  display: inline-block;
  font: 14px var(--font-primary-semibold);
  border: 1px solid gray;
  padding: 11px 12px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
  height: 40px;
}
.button-insights {
  display: inline-flex;
  font: 14px var(--font-primary);
  border: none;
  background-color: #DFEBEA;
  color: #126B62;
  cursor: pointer;
  white-space: nowrap;
  height: 30px;
  width: 100%;
  align-items: center;
  line-height: 8px;
  justify-content: center;
}
.button-insights::after {
  content: url(../organisms/icon/img/icon-arrow-green-right.svg);
}
.button-insights:hover {
  background: #126B62;
  color: #fff;
}
.button-insights>span {
  position: relative;
  padding-right: 18px;
}
.button-insights:hover::after {filter: brightness(10);}

.button-transparent span {
  color: #fff;
  letter-spacing: 0px;
  font-family: var(--font-primary-medium);
}
.button-transparent {
  background: transparent;
  color: #fff;
  letter-spacing: 0px;
  font-family: var(--font-primary-medium);
  border: 1px solid #fff;
}

.active .button-xs{
  background: #fff;
  color: var(--color-primary);
}
.active .button-xs{
  background: #fff;
  color: var(--color-primary);
}
.button-xs {
  display: flex;
  align-items: center;
  border-radius: 0px;
  font-size: 14px !important;
  padding: 10px 15px;
  width: 100%;
  max-width: 160px;;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  
}

.button-pentary:hover{
  background: var(--color-secondary);
}
.button-pentary{
  background: #1148C6;
  color: white;
  letter-spacing: 0px;
  font: 14px var(--font-primary);
  border: none;
  transition: all .3s ease;
  gap: 6px;
  white-space: pre;
}
.button-lineal:hover{
  color: var(--color-secondary);
}
.button-lineal-left{
  padding-left: 0;
  text-align: left;
  justify-content: flex-start;
}
.button-lineal{
  font: 16px var(--font-primary-medium);
  color: var(--color-primary);
  transition: all .3s ease;
  background: transparent;
}

.button-secondary-short{
  background: var(--color-secondary);
  width: 42px;
  min-width: 42px;
  max-width: 42px;
}
.button-secondary-short:not(.disabled):not([disabled]):hover {
  background: var(--color-secondary-hover);
  color: #fff;
}
.buttons-actions-tablet{
  display: none;
}

@media screen and (min-width: 701px) and (max-width: 1024px){
  .buttons-actions-tablet .button-actions{
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    min-width: inherit;
    gap: 10px;
    background: var(--color-secondary);
    padding: 8px 12px;
    white-space: nowrap;
  }
  .buttons-actions-content{
    display: none !important;
  }
  .buttons-actions-tablet{
    display: flex;
    gap: 20px;
  }
}

@media screen and (max-width: 400px){
  .button {
    width: 100%;
    min-width: auto;
  }
}



