/*
 * List
 * @author mfyance
 */

.list-circle li:before{
    content: "\025cf";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0px;
    top: 4px;
    left: 0px;
    font-size: 8px;
}
.list-circle li{
    /* font-family: Inter; */
    color: #6A6A6C;
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 15px;
    line-height: 1.5em;
}
.list-circle{
    list-style-type: none;
    padding-left: 20px;
}