/*
 * Radio
 * @author mfyance
 */


.container-radios{
    display: flex;
}
.container-radio {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;align-items: center;
}

/* Hide the browser's default radio button */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container-radio-text{
    font: 16px var(--font-primary-medium);
}
/* Create a custom radio button */
.container-radio .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: white;
border: 1px solid #000;}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
background: #2765F5;}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}

@media screen and (max-width: 1279px){
    .container-radio{
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 400px){
    .container-radios{
       flex-direction: column;
    }
}
