/*
 * Select
 * @author mfyance
 */


.container-select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    margin-top: 4px;
}

/*Custom Select*/
.nice-select .list{
    border-radius: 0 !important;
    max-height: 215px;
    overflow-y: scroll !important;
}
.nice-select:hover,
.nice-select.open{
    border-color: var(--color-primary) !important;
}
.nice-select{
    height: 39px !important;
    line-height: 39px !important;
    border: solid 1px  #AAAEB3 !important;
    border-radius: 0 !important;
    padding-left: 10px !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.nice-select:after {   
    height: 7px !important;
    width: 7px !important;
    margin-top: -4px !important;  
    right: 12px !important;
    top: calc(50% - 0px) !important;
    border-bottom: 2px solid #191A1B !important;
    border-right: 2px solid #191A1B !important;
    
}
.nice-select .option{
    font: 14px var(--font-primary) !important;
    color: #191A1B;
    line-height: 37px !important;
}
.nice-select span{
    font: 14px var(--font-primary-semibold) !important;
    color: #191A1B;
    line-height: 37px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    width: calc(100% );
    display: inline-block;
}


.nice-select .option:hover, 
.nice-select .option.focus{
    background-color: #EEF5FE !important;
    color: #191A1B !important;
}
.nice-select .option.selected.focus:hover{
    color: #92969A !important;
    background: none !important;
}
.nice-select .option.selected.focus {
    color: #92969A !important;
}
.nice-select .option.selected{
    position: relative;
}
.nice-select .option.selected:after{
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    right: 8px;
    width: 15px;
    height: 10px;
    background-image: url(../organisms/icon/img/icon-select-check.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.inteligo-select2-main{
    position: relative;
}
.inteligo-select2{
    width: 100%;
}
.inteligo-select2 + .icon{
    position: absolute;
    left: 10px;
    top: 10px;
}

/*Select modal Aviso viaje*/
.inteligo-mob-select .nice-select{
    display: flex;
}
.inteligo-mob-select .nice-select span{
    font: 14px var(--font-secondary-medium) !important;
    display: flex;
    align-items: center;
}
.inteligo-mob-select .nice-select .option{
    font: 14px var(--font-secondary-medium) !important;
    display: flex;
    align-items: center;
}
.container-select-filter{
    width: 250px;
}

 
@media screen and (min-width: 1280px) and (max-width: 1400px) {
    .abonos-select-portfolio .nice-select .list{
        right: 0 !important;
        left: inherit !important;
        width: 155% !important;
    }
}

@media screen and (max-width: 600px) {
    .container-select-filter {
        width: 100%;
    }
}