/*
 * Switch
 * @author mfyance
 */

.inteligo-switch {
    transform: scale(1);
    display: flex;
    align-items: center;
    position: relative;
}

.inteligo-switch input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 48px;
    height: 24px;
    background: #ccc;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.4s;
}

.inteligo-switch input:checked[type="checkbox"] {
    background: var(--color-primary);
    font:14px var(--font-primary);
    color: var(--color-gray5);
}

.inteligo-switch input[type="checkbox"]::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 4px;
    left: 5px;
    background: #fff;
    border-radius: 50%;
    transform: scale(1.1);
    transition: 0.4s;
    box-sizing: border-box;
}

.inteligo-switch input[type="checkbox"]::before{
    content: "Desactivado";
    position: absolute;
    left: 60px;
    top: 5px;
    font: 14px var(--font-primary);
    color: #000;
}
.inteligo-switch input:checked[type="checkbox"]::before{
    content: "Activado";
}

.inteligo-switch input:checked[type="checkbox"]::after {
    left: 50%;
}
.inteligo-switch label{
    margin-left: 5px;
    font: 14px var(--font-primary);
    color: #000;
}