/*
 * Snippet
 * @author mfyance
 */

.flex-start{
	justify-content: flex-start;
}
.m-l-10{
	margin-left: 10px;
}
.m-l-20{
	margin-left: 20px;
}
.m-l-5{
	margin-left: 5px;
}
.m-l-0{
	margin-left: 0px !important;
}
.m-r-5{
	margin-right: 5px !important;
}
.m-r-10{
	margin-right: 10px;
}
.m-r-20{
	margin-right: 20px;
}
.m-r-30{
	margin-right: 30px;
}
.m-b-0{
	margin-bottom: 0 !important;
}
.m-b-20{
	margin-bottom: 20px;
}
.m-b-40{
	margin-bottom: 40px;
}
.m-b-10{
	margin-bottom: 10px;
}
.p-b-0{
	padding-bottom: 0 !important;
}

.m-t-20{
	margin-top: 20px;
}  
.m-t-10{
	margin-top: 10px;
}
.m-t-0{
	margin-top: 0px  !important;
}

.color-secondary{
	color: var(--color-secondary) !important;
}
.color-primary,
.color-blue{
	color: var(--color-primary) !important;
}
.color-grey1{
	color: var(--color-gray6) !important;
}
.color-grey2{
	color: var(--color-gray7) !important;
}
.no-padding{
	padding: 0;
}

.w-100{
	width: 100% !important;
}

.w-95{
	width: 95% !important;
}

b, strong{
	font-family: var(--font-primary-bold);
}

.hidden{
	display: none !important;;
}
.hide{
	display: none 
}

.j-c-c{
    justify-content: center  !important;
}
.p-r{
	position: relative;
}
.p-r-20{
	padding-right: 20px !important;
}
.border-none{
	border: none !important;
}
.p-r-40{
	padding-right: 40px  !important;
}
.color-gris{
	color: #313334;
}
.p-10{
	padding: 10px;
}
.p-15{
	padding: 15px;
}
.o-h{
	overflow: hidden;
}


.p-t-2{
	padding-top: 2px;
}

.t-a-l{
	text-align-last: left;
}
.t-a-r{
	text-align: right;
}
.t-a-c{
	text-align: center;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

i{
	font-style: italic;
}