/*
 * Design Tokens
 * @author mfyance
 */
:root {
	--color-primary: #2765F5;
	--color-primary-hover: #233E99;
	--color-primary-active: #233E99;
	--color-primary-light: #4A5EA8;
	--color-primary-bold: #041F68;	
	--color-secondary: #233E99;
	--color-secondary-hover:#041F68;
	--color-secondary-active:#1148C6;
	--color-danger: #C73723;
	--color-danger-hover: #B02F1D;
	--color-danger-active: #8A2416;
	--color-input-hover: #0F62FE;

	--color-skeleton: #f1f1f1;
	--color-gray: #F6F6F7;
	--color-gray2: #e1e1ff;
	--color-gray3: #dde1e6;
	--color-gray4: #494B4E;
	--color-gray5: #8D8D8D;
	--color-gray6: #7A7D80;
	--color-gray7: #464748;
	--color-gray-bold: #313334;
	--color-gray-light: #F2F4F8;
	--color-gray-light2: #ABABAB;
	--color-sky: #eef5fe;
	--color-yellow: #F7CC78;

	--color-disabled: #B9B9BD;
	--color-error: #DE350B;
	--color-green: #00875A;
	--color-green2: #48A17E;
	--color-green3: #488981;

	--color-white: #fff;
	--color-white-bone: #B3BAC4;

	--color-dark: #292E3D;
	--color-dark2: #01183B;
	--color-dark-light: #3E4251;
	--color-dark-background: #132849;
	--color-dark-s: #AAAEB3;

	--color-blue-dark: #233E99;
	--color-blue-dark2:#52627A;
	--color-blue-medium: #2765F5;
	--color-blue-light: #80AAF8;
	--color-blue-ls: #D3E1FC;

	--color-border: #2F425E;
	
	--layout-left:  200px;
	--layout-right:  calc(100% - var(--layout-left) );

	--layout-mobile : 800px;


	--font-primary:  "Inter";
	--font-primary-bold:  "Inter-Bold";
	--font-primary-light:  "Inter-Light";
	--font-primary-semibold:  "Inter-Semibold";
	--font-primary-medium:  "Inter-Medium";
	--font-secondary:  "Poppins";
	--font-secondary-semibold:  "Poppins-SemiBold";
	--font-secondary-medium:  "Poppins-Medium";
}